{% extends 'admin/base_site.html' %}

{% load i18n %}
{% load admin_urls %}
{% load admin_static %}
{% load admin_modify %}



{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo; {% trans 'Add score' %}
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">

        <dl>
            <dt><h2>{{ form.title.value }}</h2></dt>
            <dd>
                (<em>{% if form.type.value or form.length.value %}{{ form.type.value }}, {{ form.length.value }}, {% endif %}{{ form.language.value }}, {{ form.difficulty.value }}</em>)
                <p>{{ form.abstract.value|linebreaksbr }}</p>
            </dd>
        </dl>

        <dl>
            <dt><h2>Author</h2></dt>
            <dd><strong>{{ form.full_name.value }}</strong>&nbsp; <a href="mailto:{{ form.email.value }}">{{ form.email.value }}</a>
                {% if form.github.value %}gh: <a href="{{ form.github.value }}" target="_blank"> {{ form.github.value }}</a> {% endif %}
                {% if form.twitter.value %}tw: <a href="https://www.twitter.com/{{ form.twitter.value }}" target="_blank">{{ form.twitter.value }}</a> {% endif %}
                photo: <a href="{{ MEDIA_URL }}{{ form.photo.value }}" target="_blank">show</a>
                {% if form.referral_link.value %}video/link: <a href="{{ form.referral_link.value }}" target="_blank">show</a> {% endif %}
                <p>{{ form.bio.value|linebreaksbr }}</p>
            </dd>
        </dl>

        <dl>
            <dt>Final note</dt>
            <dd>{{ form.final_note.value|linebreaksbr|default:'--' }}</dd>
        </dl>

        <dl>
            <dt><h2>Finaid</h2></dt>
            <dd>wants: {{ form.needs_finaid.value|yesno }}</dd>
            <dd>detail: {{ form.finaid_details.value|linebreaksbr|default:'--' }}</dd>
        </dl>

        <dl>
            <dt><h2>Programme comitee note</h2></dt>
            <dd>{{ form.note.value|linebreaksbr|default:'--' }}</dd>
        </dl>

        <small>accepted: {{ form.accepted.value|yesno }}, submitted: {{ form.date.value }}</small>

        <hr />

        <h2>Your score</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ score_form.as_p }}
            <p>
                <input type="submit" name="next" value="Save and go to next">
            </p>
        </form>
    </div>
{% endblock %}
