{% extends "_layout.html" %}


{% load formatting %}


{% block main %}
    <div class="container-fluid">

        {% comment %}{% include '_menu_programme.html' %}{% endcomment %}
        <ul class="nav justify-content-center">
            {% include "__nav-link.html" with url="speakers_list" type="talks" link_text="Talks" %}

            {% include "__nav-link.html" with url="speakers_list" type="workshops" link_text="Workshops" %}
        </ul>

        <h1>Work in progress version:<br>{% block speakers_title %}{% endblock %}</h1>

        <div class="row mb-5">
            {% for speaker in speakers %}
                <div class="col-md-12">
                    <h3 class="text-left mb-0">{{ speaker.full_name }}</h3>
<pre>
{% if speaker.github %} GH: <a href="https://github.com/{{ speaker.github }}">{{ speaker.github }}</a> {% endif %}
{% if speaker.twitter %} TW: <a href="https://twitter.com/{{ speaker.twitter }}">{{ speaker.twitter }}</a> {% endif %}
</pre>
                    {% block speakers_items %}{% endblock %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

