{% extends "_layout.html" %}


{% load formatting %}


{% block main %}
    <div class="container-fluid">

        {% comment %}{% include '_menu_programme.html' %}{% endcomment %}
        <ul class="nav justify-content-center">
            {% include "__nav-link.html" with url="speakers_list" type="talks" link_text="Talks" %}

            {% include "__nav-link.html" with url="speakers_list" type="workshops" link_text="Workshops" %}
        </ul>

        <h1>Work in progress version:<br>{% block speakers_title %}{% endblock %}</h1>

        <div class="row mb-5">
            {% for speaker in speakers %}
                <div class="col-md-12">
                    <h3 class="text-left mb-0">{{ speaker.full_name }}</h3>
<pre>
{% if speaker.github %} GH: <a href="https://github.com/{{ speaker.github }}">{{ speaker.github }}</a> {% endif %}
{% if speaker.twitter %} TW: <a href="https://twitter.com/{{ speaker.twitter }}">{{ speaker.twitter }}</a> {% endif %}
</pre>
                    <div style="max-width: 20em;" class="mt-2">{{ speaker.bio|markdown }}</div>
                    <div style="max-width: 20em;">
                        <div class="font-italic alert {% if speaker.bio|length > 600 or speaker.bio|length < 320 %} alert-danger {% else %} {% endif %} ">
                            bio is {{ speaker.bio|length }} characters
                            ({% if speaker.bio|length > 600 %}too long{% elif speaker.bio|length < 320 %}too short{% else %}ok{% endif %})
                            <a class="btn btn-danger" href="/admin/programme/speaker/{{ speaker.id }}/change/">change in admin</a>
                        </div>
                    </div>


                    {% block speakers_items %}{% endblock %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

