{% extends "programme/_base_list.html" %}


{% load formatting %}


{% block meta_title %}Workshops – {{ block.super }}{% endblock %}


{% block speakers_title %}Workshops{% endblock %}


{% block top_info %}
    <p class="h4 mt-0 mb-4">Most workshops require a&nbsp;<a href="{% url 'tickets' %}#workshops">registration</a> (see their details).</p>
{% endblock %}


{% block item %}
    {% with session_type="workshop" session=speaker.workshops.all|first %}
        {{ block.super }}
    {% endwith %}
{% endblock %}