.intermission {
    text-align: center; padding: 3%;

    strong { color: #ffff0e; }

    .ann { @extend h3; }
    .ann-single { @extend h2; }
    .ann img { vertical-align: middle; }

    .announcements {
        h1 { @extend h2; margin-top: 0; }
        .ann { margin: 3rem 0; }
    }

    .up-next {
        h1 { @extend h3; margin: 0 0 2rem 0; }
        h2, h3, h4 { margin-top: 0; }
        .speakers {
            display: flex;
            justify-content: space-around;
        }
        .speaker {
            width: 30%;
            text-align: center;

            img {
                display: block;
                max-height: 30vh;
                mix-blend-mode: luminosity;
                margin: 0 auto;
            }
            h3 {
                margin-top: 0.5rem;
            }
        }
        .speaker-frame {
            padding: 1rem;
        }
    }

    .sponsors {
        h1 { @extend h2; margin: 2rem 0 3rem 0; }

        .logos {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        img {
            margin: 2rem 1rem;
            max-width: 30%;
            max-height: 20vh;
        }
    }
}
