;
.pc-gradient-orchid-ginger { background-image: $pc-gradient-orchid-ginger; }
.pc-gradient-orchid-violetred { background-image: $pc-gradient-orchid-violetred; }
.pc-gradient-orchid-yellow { background-image: $pc-gradient-orchid-yellow; }
.pc-gradient-orchidred-yellow { background-image: $pc-gradient-orchidred-yellow; }
.pc-gradient-orchid-lime { background-image: $pc-gradient-orchid-lime; }
.pc-gradient-violetred-lime { background-image: $pc-gradient-violetred-lime; }
.pc-gradient-yellow-lime { background-image: $pc-gradient-yellow-lime; }
.pc-gradient-orchid-mint { background-image: $pc-gradient-orchid-mint; }
.pc-gradient-orchidred-cyan { background-image: $pc-gradient-orchidred-cyan; }
.pc-gradient-yellow-cyan { background-image: $pc-gradient-yellow-cyan; }
.pc-gradient-orchid-blue { background-image: $pc-gradient-orchid-blue; }
.pc-gradient-yellow-blue { background-image: $pc-gradient-yellow-blue; }
.pc-gradient-orchidred-navy { background-image: $pc-gradient-orchidred-navy; }
.pc-gradient-orchid-orchidred { background-image: $pc-gradient-orchid-orchidred; }

.pc-gradient-orchid-ginger-reversed { background-image: $pc-gradient-orchid-ginger-reversed; }
.pc-gradient-orchid-violetred-reversed { background-image: $pc-gradient-orchid-violetred-reversed; }
.pc-gradient-orchid-yellow-reversed { background-image: $pc-gradient-orchid-yellow-reversed; }
.pc-gradient-orchidred-yellow-reversed { background-image: $pc-gradient-orchidred-yellow-reversed; }
.pc-gradient-orchid-lime-reversed { background-image: $pc-gradient-orchid-lime-reversed; }
.pc-gradient-violetred-lime-reversed { background-image: $pc-gradient-violetred-lime-reversed; }
.pc-gradient-yellow-lime-reversed { background-image: $pc-gradient-yellow-lime-reversed; }
.pc-gradient-orchid-mint-reversed { background-image: $pc-gradient-orchid-mint-reversed; }
.pc-gradient-orchidred-cyan-reversed { background-image: $pc-gradient-orchidred-cyan-reversed; }
.pc-gradient-yellow-cyan-reversed { background-image: $pc-gradient-yellow-cyan-reversed; }
.pc-gradient-orchid-blue-reversed { background-image: $pc-gradient-orchid-blue-reversed; }
.pc-gradient-yellow-blue-reversed { background-image: $pc-gradient-yellow-blue-reversed; }
.pc-gradient-orchidred-navy-reversed { background-image: $pc-gradient-orchidred-navy-reversed; }
.pc-gradient-orchid-orchidred-reversed { background-image: $pc-gradient-orchid-orchidred-reversed; }
