.pc-speaker-photo {
    position: relative;

    img {
        filter: grayscale(1) contrast(1.5);
        mix-blend-mode: difference;
    }

    @supports (mix-blend-mode:difference) {

        &::before,
        &::after {
            content: "";
            display: block;
            width: 230%;
            height: 44%;
            position: absolute;
            bottom: 31%;
            left: 0;
        }

        &-right {
            &::before,
            &::after {
                left: auto;
                right: 0;
            }
        }

        &::before { mix-blend-mode: darken; }

        &::after { mix-blend-mode: color; }

        &-yellow {
            &::before { background-color: $pc-color-violetred; }
            &::after { background-color: $pc-color-yellow; }
        }

        &-blue {
            &::before { background-color: $gray-900; }
            &::after { background-color: $pc-color-navy; }
        }

        &-green {
            &::before { background-color: $gray-900; }
            &::after { background-color: $pc-color-lime; }
        }

        &-orchid {
            &::before { background-color: $gray-900; }
            &::after { background-color: $pc-color-orchid; }
        }

        &-cyan {
            &::before { background-color: $gray-900; }
            &::after { background-color: $pc-color-cyan; }
        }
    }
}
