tito-button {
    //@extend .row;
}

.pc-tito-link {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-success;
}


.tito-tickets-button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.pc-tito-link-workshops {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-outline-light;

    .tito-tickets-button {
        color: $white;

        &:hover {
            color: $dark;
        }
    }
}


/* Tito widget (not used) */
/*

.tito-wrapper {
    background: $pc-gradient-orchid-ginger-reversed;
    padding: $spacer;
}

.tito-ticket-list {
    list-style-type: none;
    @extend .card-deck;
}

#tito-previous-releases,
.tito-ticket-list.tito-ticket-waitlist {
    margin: 0;
}

.tito-ticket.row {
    @extend .card;
    @extend .bg-dark;
}

.tito-ticket-name-wrapper {
    @extend .card-title;
}

.tito-ticket-price-quantity-wrapper {
    @extend .card-footer;
}

.tito-ticket-name {
    display: block;
}

.tito-ticket-name .label.label-default {
}

.tito-ticket-name-wrapper .tito-tickets-remaining {
    white-space: nowrap;
}

.tito-ticket-description {}

.tito-degressive-price-desc + .tito-ticket-description {
    margin-top: .5rem;
}

.tito-ticket-price-quantity {
    width: auto;
}

@media screen and (min-width: 520px) {
    .tito-ticket-price-quantity {
        float: right;
    }
}

.tito-ticket-price {
    float: left;
    width: 50%;
}

@media screen and (min-width: 520px) {
    .tito-ticket-price {
        text-align: right;
        width: auto;
    }
}

.tito-ticket-quantity {
    float: right;
    min-width: 70px;
}

.tito-ticket-quantity span {
    margin: 0 10px;
}

input[type=text].tito-ticket-quantity-field,
input[type=text].tito-ticket-donation-field {
    display: inline-block;
}

input[type=text].tito-ticket-quantity-field {
    width: 45px;
}

input[type=text].tito-ticket-donation-field {
    width: 85px;
}

.tito-ticket-price span {
    display: block;
}

.tito-ticket-vat {
    color: #adadad;
}

.tito-ticket-status span {
    display: inline-block;
    min-width: 90px;
    text-decoration: none;
    width: 100%;
}

.btn.btn-default.btn-waitlist {
    white-space: nowrap;
    width: 200px;
}

.btn.btn-default.btn-waitlist:hover {
    border: 1px solid #333333;
}

.tito-discount-code {
    display: block;
    margin: 0 30px;
    padding: 5px 0;
}

@media screen and (min-width: 520px) {
    .tito-discount-code {
        float: left;
    }
}

.tito-discount-code-label {
    display: none;
}

.btn.btn-default.tito-discount-apply-button {
    display: none;
}

.tito-discount-code .tab-pane.tito-discount-code-show.active {
    display: none;
}

.tito-discount-code .tab-pane.tito-discount-code-edit {
    display: block;
    visibility: visible;
}

input.form-control.tito-discount-code-field.discount-code-field {
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 520px) {
    input.form-control.tito-discount-code-field.discount-code-field {
        width: 200px;
    }
}

.tito-discount-code-show {}

.tito-discount-code-edit,
.tito-discount-code-show {
    display: none;
}

.tito-discount-code-edit.active,
.tito-discount-code-show.active {
    display: inline-block;
}

.tito-submit-wrapper {}

.tito-submit {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-warning;
    @extend .btn-block;
}

@media screen and (min-width: 520px) {
    .tito-submit {}
}

.tito-submit:hover {}

.tito-ticket.tito-locked-ticket > div {}

.tito-ticket.tito-locked-ticket label,
.tito-ticket.tito-locked-ticket span {
    opacity: .5;
}

.locked-tickets-message p {
    opacity: .5;
}

.tito-badge-link {
    display: inline-block;
}
*/
