.pc-talks {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.pc-talk {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    min-width: 240px;
    max-width: 300px;
    margin-bottom: $spacer;
    margin-left: .5*$spacer;
    margin-right: .5*$spacer;
    height: auto;
    min-height: 480px;
    position: relative;

    @supports (mix-blend-mode:difference) {
        &-id-1, &-id-16, &-id-33 { background-image: $pc-gradient-orchid-ginger; }
        &-id-2, &-id-17, &-id-34 { background-image: $pc-gradient-orchid-violetred; }
        &-id-3, &-id-18, &-id-35 { background-image: $pc-gradient-orchid-yellow; }
        &-id-4, &-id-20, &-id-36 { background-image: $pc-gradient-orchidred-yellow; }
        &-id-5, &-id-21, &-id-37 { background-image: $pc-gradient-orchid-lime; }
        &-id-6, &-id-22, &-id-38 { background-image: $pc-gradient-violetred-lime; }
        &-id-7, &-id-23, &-id-39, /*{ background-image: $pc-gradient-yellow-lime; }*/
        &-id-8, &-id-24, &-id-40 { background-image: $pc-gradient-orchid-mint; }
        &-id-9, &-id-25, &-id-41 { background-image: $pc-gradient-orchidred-cyan; }
        &-id-10, &-id-26, &-id-42, /* { background-image: $pc-gradient-yellow-cyan; }*/
        &-id-11, &-id-27, &-id-43, /* { background-image: $pc-gradient-orchid-blue; }*/
        &-id-12, &-id-28, &-id-44 { background-image: $pc-gradient-yellow-blue; }
        &-id-13, &-id-29, &-id-45 { background-image: $pc-gradient-orchidred-navy; }
        &-id-14, &-id-30, &-id-46 { background-image: $pc-gradient-orchid-orchidred; }
        &-id-15, &-id-31, &-id-47 { background-image: $pc-gradient-blue-cyan; }
        &-id-16, &-id-32, &-id-48 { background-image: $pc-gradient-navy-cyan; }
    }
}

.pc-talk-image {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: luminosity;
}

.pc-talk-name,
.pc-talk-title {
    width: 100%;
    position: absolute;
    left: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: $pc-gradient-orchidred-navy-reversed;

        @supports (mix-blend-mode:difference) {
            background-image: none;
            mix-blend-mode: difference;
            background-color: lighten($pc-color-orchid, 20%);

            a[href]:focus &,
            a[href]:hover &,
            a[href]:active & {
                mix-blend-mode: normal;
                background-color: darken($pc-color-orchid, 20%);
            }
        }
    }
}

.pc-talk-name {
    top: 0;
    min-height: 20%;
}

.pc-talk-title {
    bottom: 0;
    background-color: transparentize(white, 0.8);

    @include media-breakpoint-up(xl) {
        min-height: 8rem;
        font-size: $font-size-lg;
    }

    a[href] & {
        text-decoration: underline;
    }

    a[href]:hover & {
        color: $white;
    }
}

.pc-talk-text {
    position: relative;
    isolation: isolate;
}
