.pc-talk-text {
    a {
        font-family: $font-family-sans-serif;
    }

    em {
        text-transform: uppercase;
        font-style: normal;
    }
}

.pc-talk-title {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-base;
}


.pc-talk-image {
    max-height: 40vh;
}


.pc-talks {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    .card { margin-bottom: 2*$spacer; }

    column-count: 1;
    column-gap: $card-columns-gap;

    @include media-breakpoint-up(sm) { column-count: 2; }

    @include media-breakpoint-up(md) { column-count: 3; }

    @include media-breakpoint-up(lg) { column-count: 4; }

    @include media-breakpoint-up(xl) {
        column-gap: 2*$card-columns-gap;
        column-count: 5;
    }

    @include media-breakpoint-up(sm) {
        .card {
            display: inline-block;
            width: 100%;
        }
    }

    .card-body {
        padding-top: 0.5*$card-spacer-x;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: $card-spacer-x;

        @include media-breakpoint-up(md) {
            padding-left: $card-spacer-x;
            padding-right: $card-spacer-x;
        }
    }

    .card-img-top {
        margin-left: auto;
        margin-right: auto;
        display: block;

        @include media-breakpoint-only(xs) { max-width: 200px; }

        @include media-breakpoint-only(sm) { max-width: 250px; }
    }

}
