.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 4*$headings-margin-bottom;
}

h1{
    margin-bottom: 3*$headings-margin-bottom;
}