.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    text-shadow: 0 0 0.1em;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2*$headings-margin-bottom;
}

h2 + h3,
h3 + h4 {
    margin-top: 2.5*$headings-margin-bottom;
}

.lead {
    font-family: $font-family-monospace;
    text-align: center;
}

h1,
.h1{
    @include media-breakpoint-down(sm){
        font-size: 0.75 * $h1-font-size;
    }
}