.carousel {
    @include media-breakpoint-up(xs) {
        margin-left: -$grid-gutter-width/2;
        margin-right: -$grid-gutter-width/2;
    }
}

.carousel-item {
    padding: map_get($sizes, 4);
    background-color: $dark;
}

.pc-carousel-item-text {
    margin-left: auto;
    margin-right: auto;

    font-family: $font-family-monospace;
    font-style: italic;
    display: flex;
    flex-direction: column;
    min-height: 28rem;
    overflow: auto;
    width: 75%;

    @include media-breakpoint-up(xs) {
        min-height: 17rem;
        justify-content: center;
    }

    @include media-breakpoint-up(sm) {
        min-height: 13rem;
    }

    @include media-breakpoint-up(md) {
        min-height: 12rem;
        width: 64%;
    }

    @include media-breakpoint-up(lg) {
        min-height: 10rem;
        width: 66%;
    }

    @include media-breakpoint-up(xl) {
        min-height: 9rem;
        width: 74%;
    }
}

.pc-carousel-item-author {
    text-align: right;
    font-style: normal;
    display: block;
    margin-top: $spacer;
    font-family: $font-family-sans-serif;
}
