.card-columns {
    @include media-breakpoint-up(sm) {
        column-count: 2;
    }

    @include media-breakpoint-up(md) {
        column-count: 2;
    }

    @include media-breakpoint-up(lg) {
        column-count: 3;
    }
}

.card-img-overlay {
    z-index: 1;
}