.pc-main-logo {
    background-color: $white;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}
.pc-main-logo img {
    width: 100%;
    max-width: 40em;
}

.pc-main-lead {
    position: relative;
    background-color: $black;
    background-image: url(/2019/static/img/ostrava/20150413_zer_hlubina_044.jpg);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 100%;
    background-size: cover;
    text-align: center;
    padding: 0;
    margin-bottom: 2em;
    width: 100%;
    overflow: hidden;
    &:after {
        content: '\A';
        position: absolute;
        z-index: 1;
        background-color: $black;
        opacity: 0.5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .insert {
        position: relative;
        display: inline-block;
        z-index: 2;
        background-color: $pc-color-new-rust;
        background-color: rgba($pc-color-new-rust, 0.7);
        color: $white;
        padding: 2em;
        padding-right: 4em;
        text-align: left;
        margin: 5em;
        h1, div {
            font-family: $font-family-monospace;
            color: $white;
            font-size: 100%;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            font-weight: bold;
            @include media-breakpoint-up(md) {
                & {
                    font-size: $h3-font-size;
                }
            }
        }
    }
    .pc-image-copyright {
        position: relative;
        padding-right: 1em;
        z-index: 3;
        opacity: 0.6;
    }
}
.pc-mini-gallery {
    div {
        margin-bottom: 1em;
    }
    img {
        width: 100%;
        border: 10px solid $pc-color-new-rust;
    }
}
.pc-image-copyright {
    background-color: $black;
    display: block;
    text-align: right;
    font-size: $small-font-size;
    padding: 0.25em 0;
}
