.navbar-nav {
    .nav-link {
        $pc-navbar-nav-link-vertical-padding: 1rem;

        padding-top: $pc-navbar-nav-link-vertical-padding;
        padding-bottom: $pc-navbar-nav-link-vertical-padding;
    }

    .pc-nav-link-highlight {
        background-repeat: no-repeat;
        background-position: 5px 50%, right 5px top 50%;
        background-size: 9px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 13'><g stroke='#{rgba($navbar-dark-active-color, 0.999999)}' stroke-width='1'><path d='M0 6.5h8' transform='rotate(18, 20, 7)' /><path d='M0 6.5h8' /><path d='M0 6.5h8' transform='rotate(-18, 20, 7)' /></g></svg>"),
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 13'><g stroke='#{rgba($navbar-dark-active-color, 0.999999)}' stroke-width='1' transform='scale(-1, 1)  translate(-9,0)'><path d='M0 6.5h8' transform='rotate(18, 20, 7)' /><path d='M0 6.5h8' /><path d='M0 6.5h8' transform='rotate(-18, 20, 7)' /></g></svg>");
    }
}