.nav-link {
    text-transform: uppercase;
    font-family: $font-family-monospace;
    font-weight: $pc-font-weight-mono-medium;
    font-size: $font-size-sm;

    color: $white;
    text-decoration: none;

    width: max-content;

    &:hover,
    &.active,
    &.active:hover,
    &.active:not([href]),
    &.active:not([href]):hover {
        color: $primary;
    }
}
