.pc-ticket {
    max-width: 19rem;
    min-width: 13rem;

    & > div {
        height: 100%;
    }

    &-line {
        display: flex;
        line-height: 1.125;
    }

    &-price {
        flex: 1 1 auto;
    }


    &-icon {
        width: 20vw;
        max-width: 5rem;
    }
}
