@include media-breakpoint-up(md) {
    @supports (position: sticky) {
        .sticky-top-md {
            position: sticky;
            top: 0;
            z-index: $zindex-sticky;
        }
    }
}


.pc-img-effect {
    $pc-base-effect: saturate(40%) hue-rotate(-35deg);

    filter: $pc-base-effect;

    &-dark {
        filter: $pc-base-effect brightness(0.6);

        a[href]:hover ~ & {
            filter: $pc-base-effect;
        }
    }
}

.pc-box-shadow {
    $pc-shadow-horizontal: 4px;
    $pc-shadow-vertical: 4px;

    margin-right: $pc-shadow-horizontal;
    margin-bottom: $pc-shadow-horizontal;
    box-shadow: $pc-shadow-vertical $pc-shadow-horizontal 0 $primary;
}

.pc-iconlink {
    $pc-icon-size: 1.2rem;
    $pc-icon-color: lighten(desaturate($pc-deepblue, 35%), 10%);
    background-repeat: no-repeat;
    background-position: 0 55%;
    background-size: $pc-icon-size;
    padding-left: 1.2*$pc-icon-size;

    // todo: make icons for different colors

    &-twitter {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 400'><path fill='#{rgba($pc-icon-color, 0.999999)}' d='M127 361c149 0 231-124 231-231l-1-11c16-11 30-26 41-42-15 7-31 11-47 13 17-10 30-26 36-45-16 9-33 16-52 20a81 81 0 0 0-138 74c-65-3-126-34-167-85a81 81 0 0 0 25 108c-13 0-26-3-37-10v1c0 39 27 72 65 80-12 3-24 4-37 1 11 33 41 56 76 57A163 163 0 0 1 2 324c37 24 80 37 125 37'/></svg>");
    }

    &-github {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 400'><path fill='#{rgba($pc-icon-color, 0.999999)}' d='M199.4 7.4C90.4 7.4 2 95.8 2 204.8c0 87.2 57 161 134.4 187.7 9.7 1.2 13.3-4.9 13.3-9.7v-34c-54.5 12.2-66.6-26.6-66.6-26.6-8.4-23-21.8-29-21.8-29C43.2 281 62.6 281 62.6 281c19.3 1.2 30.2 20.5 30.2 20.5 18.2 30.3 46 21.8 57 17a42.2 42.2 0 0 1 12-26.6c-43.5-4.9-89.6-21.8-89.6-98.1a75 75 0 0 1 20.6-53.3c-2.4-4.9-8.5-25.4 2.4-52 0 0 17-5 54.5 20.5 15.8-4.8 32.7-6 49.7-6s33.9 2.4 49.6 6c37.6-25.4 54.5-20.6 54.5-20.6 11 26.7 3.7 47.2 2.5 52a78.3 78.3 0 0 1 20.6 53.4c0 76.3-46 92-89.7 96.8 7.3 6.1 13.4 18.2 13.4 36.4v54.5c0 4.8 3.6 10.9 13.3 9.7A197.6 197.6 0 0 0 398 203.6 199 199 0 0 0 199.4 7.4z'/></svg>");
    }
}
