/* font-weights */

//$pc-font-weight-base-thin: 100;
//$pc-font-weight-base-light: 300;
$pc-font-weight-base-regular: 400;
$pc-font-weight-base-bold: 700;

//$pc-font-weight-mono-thin: 100;
//$pc-font-weight-mono-light: 300;
$pc-font-weight-mono-regular: 400;
$pc-font-weight-mono-medium: 500;
$pc-font-weight-mono-bold: 700;

/* colors */

$pc-white: hsl(0, 0%, 100%);
$pc-black: hsl(0, 0%, 0%);

$pc-dark: hsl(26, 51%, 8%); // bg box

$pc-beige: hsl(41, 29%, 75%);
$pc-orange: hsl(32, 100%, 50%);
$pc-yellow: hsl(50, 100%, 50%);

$pc-blue: hsl(195, 100%, 33%);
$pc-deepblue: hsl(195, 100%, 24%);

$pc-brown: hsl(26, 40%, 22%);
$pc-brown-light: hsl(26, 42%, 30%);
$pc-brown-pale: hsl(26, 34%, 46%);

$pc-red: hsl(353, 98%, 41%);
