.pc-keynoter {

    &-name {
        text-transform: initial;
        font-size: 2rem;

        @include media-breakpoint-up(xs) {
            font-size: 2.5rem;
        }
    }

    &-talk {
        font-family: $font-family-monospace;
        font-weight: $pc-font-weight-mono-medium;
        font-size: $h3-font-size;
        margin-top: 0;
    }
}
