.pc-session {
    &-registration,
    &-flags {
        display: inline-block;
        width: 100%;
    }

    &-date {
        color: $white;
        font-weight: $font-weight-bold;
        font-size: $h3-font-size;
    }

    &-requirements {
        h2 {
            margin-top: map-get($spacers, 3);
            font-size: $h3-font-size;
        }

        h3 {
            font-size: $h4-font-size;
        }

        h2:first-of-type {
            margin-top: map-get($spacers, 1);
        }
    }
}
