/*
* Header
*/

.pc-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    flex-direction: column;
    padding: 2rem 0;

    @include media-breakpoint-up(sm) {
        flex-direction: row;
        padding: 2.4rem 0;
    }

    //background-color: $blue;

    &--homepage {
        display: block;
    }

    &-link,
    &-text {
        @include media-breakpoint-up(sm) {
            margin-left: 5%;
            margin-right: 5%;

            &--homepage {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &-link {
        flex: 5 5 auto;
        //background-color: crimson;
    }

    &-image {
        width: 100%;
        max-width: 26rem;
        margin-left: auto;
        display: block;

        &--homepage {
            margin-left: 0;
            max-width: 18rem;
            @include media-breakpoint-up(sm) {
                max-width: 22rem;
            }

            @include media-breakpoint-up(md) {
                max-width: 25rem;
            }

            @include media-breakpoint-up(lg) {
                max-width: 30rem;
            }
        }
    }

    &-text {
        flex: 3 3 auto;
        align-self: start;
        text-outline: 1px solid black;

        @include media-breakpoint-up(sm) {
            align-self: auto;
        }
    }

    &-year,
    &-city-date {
        margin: 0;
        font-weight: $pc-font-weight-base-bold;
        line-height: 1.3;
    }

    &-year {
        color: $orange;
        font-size: 1.8rem;

        @include media-breakpoint-up(sm) {
            font-size: 2rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 2.4rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
        }

        &--homepage {
            text-shadow: transparentize($white, 0.2) 0 0 6px;
            font-size: 2rem;

            @include media-breakpoint-up(sm) {
                text-shadow: none;
                font-size: 3rem;
            }
        }
    }

    &-city-date {
        white-space: nowrap;
        font-size: 0.8rem;

        @include media-breakpoint-up(sm) {
            font-size: 1rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
        }

        &--homepage {
            color: $dark;
            font-size: 1.2rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.5rem;
            }
        }
    }

    &-pydata {
        display: block;
        width: 100%;
        max-width: 10rem;
        margin-top: 0.5*$spacer;
    }

}

.pc-homepage-header {
    $pc-header-img-size: 2100px;
    $pc-header-img-noise-size: (600px / 2);

    padding-bottom: 30px;
    background-color: $secondary;

    background-image: url("/2019/static/img/jakub-soucek-flickr-cc-by-2.jpg"), url("/2019/static/img/noise.png");
    background-blend-mode: hard-light, normal;
    background-repeat: no-repeat, repeat;
    background-size: ($pc-header-img-size / 2), $pc-header-img-noise-size;
    background-attachment: fixed;
    background-position: 0;

    @include media-breakpoint-up(xs) {
        padding-bottom: 1px;
        background-position: 31% -8rem;
        background-size: 0.63*$pc-header-img-size, $pc-header-img-noise-size
    }

    @include media-breakpoint-up(sm) {
        background-position: 40% 0;
        background-size: 0.56*$pc-header-img-size, $pc-header-img-noise-size;
    }

    @include media-breakpoint-up(md) {
        background-position: 50% 0;
    }

    @include media-breakpoint-up(lg) {
        background-size: cover, $pc-header-img-noise-size;
    }

    @include media-breakpoint-up(xl) {
        background-position: 50%;
    }

    .container-fluid {
        max-width: 1060px;
    }
}

.pc-homepage-header-secondary{
    min-height: 20rem;
    background-position-y: 100%;
}