.pc-intermission {

    &-picture {
        max-height: 40vh;
        mix-blend-mode: luminosity;
    }

    &-logo {
        &-level-2 { // gold
            max-width: 100%;
            height: 22vh;
        }

        &-level-3 { // silver
            max-width: 25%;
            height: 18vh;
        }

        &-level-4 { // bronze
            max-width: 25%;
            height: 16vh;
        }

        &-level-6 { // media
            max-width: 33%;
            height: 26vh;
        }

        &-level-7 { // partners
            max-width: 30%;
            height: 20vh;
        }

        &-level-9 { // connectivity
            max-width: 100%;
            height: 30vh;
        }
    }
}
