.pc-intermission {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    display: flex;

    &-content {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;

        align-content: stretch;
        align-items: stretch;

        padding-left: map-get($spacers, 6);
        padding-right: map-get($spacers, 6);
        min-height: 20px;
    }

    &-heading {
        flex: 0 0 auto;
    }

    &-sponsors {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        align-content: space-around;

        &-item {
            flex: 1 1 100%;

            &-silver {
                flex-basis: 33%;
            }

            &-bronze {
                flex-basis: 50%;
            }

            &-partners {
                flex-basis: 25%;
            }
        }

        &-logo {
            padding: 0 2% 5%;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &-platinum {
                $ratio: 160;
                max-width: $ratio*8px;
                max-height: $ratio*3px;
            }

            &-gold {
                $ratio: 140;
                max-width: $ratio*8px;
                max-height: $ratio*3px;
            }

            &-silver {
                $ratio: 100;
                max-width: $ratio*7px;
                max-height: $ratio*3px;
            }

            &-bronze {
                $ratio: 80;
                max-width: $ratio*8px;
                max-height: $ratio*3px;
            }

            &-partners {
                $ratio: 55;
                max-width: $ratio*14px;
                max-height: $ratio*4px;
                padding: 0 0 20%;
            }
        }
    }

    &-announcement {
        border-bottom: 4px solid $orange;

        &:last-of-type {
            border-bottom: 0;
        }
    }
}