.pc-session {
    &-info {
        @include media-breakpoint-up(md) {
            columns: 2;
            column-gap: $grid-gutter-width;
        }

        @include media-breakpoint-up(xl) {
            columns: 3;
        }

        p,
        ul,
        ol,
        .pc-session-registration,
        .pc-session-flags {
            display: inline-block;
            width: 100%;
        }
    }

    &-date {
        color: $white;
        font-weight: $font-weight-bold;
        font-size: $h3-font-size;
    }

    &-requirements {
        h2:first-of-type {
            margin-top: 0;
        }
    }
}