.pc-team-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 15em));
    justify-content: space-around;
}
.pc-team-col {
    max-width: 20em;
    min-width: 10em;
    text-align: center;
}
.pc-team-photo {
    width: 100%;
    border: 10px solid $pc-color-new-rust;
}
.pc-team-name {
    font-family: $font-family-monospace;
}
.pc-team-contact {
    font-size: 70%;
}
