@include media-breakpoint-up(md) {
    .sticky-top-md {
        @supports (position: sticky) {
            position: sticky;
            top: 0;
            z-index: $zindex-sticky;
        }
    }
}

/* switch of margin-collapsing */
.container,
section {
    column-span: all;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    span {
        background-color: red;
    }
}

.tito-tickets-button {
    @extend .btn;
    @extend .btn-primary;
    @extend .my-3;
    @extend .mx-auto;
    display: block;
    padding: 1rem 2rem;
    line-height: 1;
    min-width: 80%;
}

.pc-img-effect {
    filter: saturate(40%) hue-rotate(-35deg);
}
