h1,
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 2*$spacer;
    padding-bottom: $spacer;
    margin: 0;
    font-weight: $font-weight-bold;
}

h3,
h4 {
    margin-top: 2*$spacer;
    margin-bottom: 0.5*$spacer;
}

em {
    font-style: $font-weight-base;
    font-weight: $font-weight-bold;
}


