h1,
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0;
    font-weight: bold;
}

h3,
h4 {
    margin-top: 2rem;
    margin-bottom: 0;
}

em {
    font-style: normal;
    font-weight: bold;
}
