h1, h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0;
    font-weight: bold;
}
em {
    font-style: normal;
    font-weight: bold;
}
