//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
    margin-top: 1.5em;
}

h1, .h1 {
    border-top: (1em/6) solid currentColor;
    padding-top: (1em/3);
    margin-bottom: 0.5em;
    margin-top: 1.333em;
}

.pc-overline {
    border-top: (1em/6) solid currentColor;
}

h2, .h2 {
}

h3, .h3 {
}

h4, .h4 {
}

.lead {
    margin-bottom: 2*$paragraph-margin-bottom;
}

ol {
    padding-left: 2.5*$spacer;

    & > li {
        margin-bottom: $spacer;
    }
}

li > ol,
li > ul {
    margin-top: $spacer;
    margin-left: $spacer;
}


ul:not(.nav) {
    $pc-bullet-size: 0.5rem;
    $pc-bullet-distance: 0.5rem;

    list-style-type: none;
    padding-left: $pc-bullet-size + 1.5*$pc-bullet-distance;

    & > li:not(.nav-item) {
        margin-bottom: 0.5*$spacer;

        &::before {
            display: inline-block;
            content: "\200B";
            vertical-align: middle;
            width: $pc-bullet-size;
            height: $pc-bullet-size;
            margin-left: -$pc-bullet-distance - $pc-bullet-size;
            margin-right: $pc-bullet-distance;
            position: relative;
            top: -$pc-bullet-size/5;
            background-color: $orange;
        }

        .text-black &::before {
            background-color: $dark;
        }
    }
}

.bg-secondary {
    &.border,
    &.border-top,
    &.border-right,
    &.border-bottom,
    &.border-left {
        border-color: currentColor !important;
    }
}

.text-black {
    .nav-link,
    a:not(.btn) {
        color: $pc-deepblue;

        &:hover {
            color: $blue;
        }
    }
}


@include media-breakpoint-up(md) {
    .text-nowrap-md {
        white-space: nowrap;
    }
}
