/* colors */
$pc-color-navy: #035fcc;
$pc-color-blue: #00beff;
$pc-color-cyan: #36ffff;
$pc-color-mint: #32d9a9;
$pc-color-lime: #a4ff00;
$pc-color-yellow: #ffff0e;
$pc-color-violetred: #ff0054;
$pc-color-ginger: #ff9a00;
$pc-color-orange: #ff7d00;
$pc-color-red: #ff3d00;
$pc-color-orchidred: #e80e8b;
$pc-color-orchid: #c848d9;

