{% extends '_menu_base.html' %}


{% block link_home %}{% endblock %}

{% block link_about %}{% endblock %}

{% block link_tickets %}{% endblock %}

{% block link_about_city %}{% endblock %}

{% block link_team %}{% endblock %}

{% block link_sponsors %}{% endblock %}

{% block link_sponsorship %}{% endblock %}

{% block link_board_game_night %}{% endblock %}

{% block link_financial_aid %}{% endblock %}

{% block link_coc %}{% endblock %}

{% block link_privacy_policy %}{% endblock %}

{% block link_call_for_papers %}{% endblock %}