.idea
.DS_Store
.ipynb_checkpoints
__pycache__/
*.pyc
*.egg-info
.eggs/
.gitattributes
junit*
.tox
dist
build
pep8.log
flake8.log
coverage.xml
.coverage
*,cover
/.cache/
env/
.env
.ropeproject

# sqlite dbs
db.sqlite3
/pyconcz

pyconcz_2018/settings/local.py

# Node packages, tmp files
node_modules/
npm-debug.log
tmp/
