{% if phases.schedule == 'full' and phases.workshops_registration != 'timed_out' %}
    <div class="bg-info text-white px-3 pt-3 pb-1">
        {% if other_sessions.parallel %}
            {% if other_sessions.parallel|length > 1 %}
                <p class="h5 mt-2">At the same time</p>
            {% endif %}
            {% for other_session in other_sessions.parallel %}
                <p>
                    {% if other_sessions.parallel|length > 1 %}
                        {{ other_session.start|date:'H:i' }}
                    {% endif %}

                    {{ other_session.content_object.type|capfirst }}

                    {% if other_session.content_object.type %}
                        <a class="text-white" href="{% url 'session_detail' type=other_session.content_object.type session_id=other_session.content_object.id %}#main">{{ other_session.content_object.title }}</a>
                    {% else %}
                        <b>{{ other_session.content_object.title }}</b>
                    {% endif %}

                    {% if other_sessions.parallel|length_is:1 %}
                        {% if slot.start == other_session.start %}
                            starts at the same time
                        {% else %}
                            is from {{ other_session.start|date:'H:i' }}
                        {% endif %}
                    {% endif %}
                    in&nbsp;<b>{{ other_session.room_name }}</b>
                </p>
            {% endfor %}
        {% endif %}

        {% if other_sessions.following or other_sessions.following_parallel %}
            <p class="h5 mt-2">What’s next?</p>
        {% endif %}

        {% if other_sessions.following %}
            <p>
                In&nbsp;this room
                {% if other_sessions.following.content_object.type %}
                    <a class="text-white" href="{% url 'session_detail' type=other_sessions.following.content_object.type session_id=other_sessions.following.content_object.id %}">{{ other_sessions.following.content_object.title }}</a>
                {% else %}
                    <b>{{ other_sessions.following.content_object.title }}</b>
                {% endif %}
                follows from&nbsp;{{ other_sessions.following.start|date:'H:i' }}
            </p>
        {% endif %}

        {% if other_sessions.following_parallel %}
            {% regroup other_sessions.following_parallel by room_name as following_parallel %}
            {% for other_room in following_parallel %}
                {% for other_session in other_room.list %}
                    {% if forloop.first %}
                        <p>
                            {% if other_session.content_object.type %}
                                <a class="text-white" href="{% url 'session_detail' type=other_session.content_object.type session_id=other_session.content_object.id %}">{{ other_session.content_object.title }}</a>
                            {% else %}
                                <b>{{ other_session.content_object.title }}</b>
                            {% endif %}
                            in {{ other_session.room_name }} from {{ other_session.start|date:'H:i' }}
                        </p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}