{% load formatting %}

<div class="mb-4">
    {% regroup slots by start as slots_by_datetime %}

    {% for datetime in slots_by_datetime %}

        {# day header #}
        {% ifchanged %}
            <h2 id="{{ datetime.grouper|date:'l'|lower }}"
                class="
                    mb-0 pt-1 pb-2
                    {{ T_session_full|yesno:'sticky-top bg-dark,mt-0 h3' }}
                    pc-text-sans-serif pc-text-transform-none font-weight-bold
                "
            >
                {{ datetime.grouper|date:'l, j F' }}
                <br>
                <small class="mt-1 mb-0 d-block h5 text-monospace pc-font-weight-medium-mono">
                    {% if T_session_full %}
                        {% if datetime.grouper|date:'j'|add:0 < 16 %}
                            Talks at <a href="{% url 'venue' %}">Hlubina</a>
                        {% else %}
                            Workshops at <a href="{% url 'venue' %}#workshops">VŠB-TU</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'programme_schedule' %}">View full schedule</a>
                    {% endif %}
                </small>
            </h2>
        {% endifchanged %}

        {# time slot #}
        <section class="row">
            {% for slot in datetime.list %}

                {# time heading #}
                {% ifchanged %}
                    <h3 class="
                        col-12 mb-2
                        {% if slot.content_object.url or slot.content_type.model == 'talk' or slot.content_type.model == 'workshop' %}
                            mt-2
                        {% else %}
                            mt-3
                        {% endif %}
                    ">
                        {{ slot.start|date:'H:i' }}
                        {% if slot.content_type.model == 'workshop' %}
                            – {{ slot.end|date:'H:i' }}
                        {% endif %}
                    </h3>
                {% endifchanged %}

                {# talk, workshop or other item #}
                <article
                    class="
                        {% if T_session_full %}
                            mb-4
                            {% if slot.content_type.model == 'workshop' %}
                                col-sm-6
                            {% else %}
                                col-sm
                            {% endif %}
                        {% else %}
                            mb-3 col-md-12
                            {% if slot.content_type.model == 'workshop' %}
                                col-lg-4
                            {% else %}
                                col-lg
                            {% endif %}
                        {% endif %}
                    "
                >
                    <div class="
                        h-100 position-relative
                        {% if slot.content_object.url or slot.content_type.model == 'talk' or slot.content_type.model == 'workshop' %}
                            mb-3 px-3 pt-3 pb-0 pc-box-shadow
                            {% if session == slot.content_object %}
                                bg-dark
                            {% elif slot.content_object.url %}
                                text-dark bg-white
                            {% else %}
                                {% if T_session_full %}
                                    text-black bg-secondary
                                {% else %}
                                    text-dark bg-white
                                {% endif %}
                            {% endif %}
                        {% elif T_session_full %}
                            text-primary
                        {% endif %}
                    ">
                        {% if slot.room_name != 'Foyer' %}
                            <p class="
                                mt-0 mb-2
                                text-monospace text-uppercase pc-font-weight-medium-mono
                                {% if slot.content_object.url or slot.content_type.model == 'talk' or slot.content_type.model == 'workshop' %}
                                    {% if session == slot.content_object %}
                                        text-white-50
                                    {% else %}
                                        text-brown
                                    {% endif %}
                                {% else %}
                                    {% if T_session_full %}
                                        text-secondary
                                    {% else %}
                                        text-brown
                                    {% endif %}
                                {% endif %}
                            ">
                                {{ slot.room_name }}
                                {% if slot.content_object.is_keynote or slot.content_object.is_streamed %}
                                    (and streamed to Club)
                                {% endif %}
                            </p>
                        {% endif %}

                        <h3 class="
                            mt-0 mb-2 h5
                            {% if slot.content_object.url or slot.content_type.model == 'talk' or slot.content_type.model == 'workshop' %}
                                font-weight-bold pc-text-transform-none
                            {% else %}
                                pc-font-weight-medium-mono
                            {% endif %}
                        ">
                            {% url 'session_detail' type=slot.content_type.model session_id=slot.object_id as T_session_detail_url %}
                            {% with T_url=slot.content_object.url|default:T_session_detail_url %}
                                {% if T_url %}
                                    <a
                                        class="
                                        stretched-link text-decoration-none
                                        {% if session == slot.content_object %}
                                            text-white-50
                                        {% else %}
                                            text-black
                                        {% endif %}
                                    "
                                        href="{{ T_url }}#main"
                                    >
                                        {{ slot.content_object.title }}
                                    </a>
                                {% else %}
                                    {{ slot.content_object.title }}
                                {% endif %}
                            {% endwith %}
                        </h3>

                        {% if slot.content_object.description %}
                            <div class="
                            mb-2
                            {% if slot.content_object.url %}
                                {% if T_session_full %}
                                    text-dark
                                {% else %}
                                    text-info
                                {% endif %}
                            {% else %}
                                {% if T_session_full %}
                                    text-white
                                {% else %}
                                    text-black
                                {% endif %}
                            {% endif %}
                        ">
                                {{ slot.content_object.description|markdown }}
                            </div>
                        {% endif %}

                        {% if slot.content_type.model == 'talk' or slot.content_type.model == 'workshop' %}
                            {% for speaker in slot.content_object.speakers %}
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <img src="{{ speaker.photo.url }}" class="img-fluid pc-img-effect" style="max-width:2.5rem;" alt="">
                                    </div>
                                    <div class="
                                    col pl-2
                                    {% if session == slot.content_object %}
                                        text-white-50
                                    {% else %}
                                        text-brown
                                    {% endif %}
                                ">
                                        {{ speaker.full_name }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if slot.content_object.difficulty == 'advanced' %}
                                <p class="
                                mt-3 mb-0
                                {% if session == slot.content_object %}
                                    text-white-50
                                {% else %}
                                    {{ T_session_full|yesno:'text-white' }}
                                {% endif %}
                                h6 text-monospace pc-font-weight-medium-mono
                            ">
                                    For advanced Pythonistas
                                </p>
                            {% endif %}
                            {% if slot.content_object.language == 'cs' %}
                                <p class="
                                mt-3 mb-0
                                {% if session == slot.content_object %}
                                    text-white-50
                                {% else %}
                                    {{ T_session_full|yesno:'text-white' }}
                                {% endif %}
                                h6 text-monospace pc-font-weight-medium-mono
                            ">
                                    This {{ slot.content_type.model }} will be in Czech only
                                </p>
                            {% endif %}
                            {% if slot.content_object.in_data_track %}
                                <div class="position-absolute" style="top:0;right:0;width:2rem;">
                                    <svg class="pc-img-fluid-svg d-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                                        <path fill="#f80" d="M0 40V0h40v40z" />
                                        <path fill="#fff" d="M20.4 20.1l6.3-3.3v6.8l-6.3 3.3m-.4-7.4l-6.4-3.3 6.4-3.3 6.4 3.3zm.4-14l6.3 3.3v6.8l-6.3-3.3zm-7.1 18.9l6.3 3.3v6.8l-6.3-3.3zm0-7.6l6.3 3.3v6.8l-6.3-3.3z" />
                                    </svg>
                                    <div class="col sr-only">Is part of the PyData&nbsp;track</div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        </section>
    {% endfor %}
</div>
