{% load formatting %}

<div class="row no-gutters pc-speaker {% if type == 'keynoter' %}mb-6{% else %}mb-3{% endif %} {% if odd %}justify-content-end{% endif %}">

    <div class="
            col-12 col-md mt-md-5 order-2
            {% if odd %}
                order-md-1 mr-md-n4
            {% else %}
                order-md-2 ml-md-n4
            {% endif %}
    ">

        <div
            class="
            pc-box-shadow
            {% if type == 'keynoter' or type == 'intermission' %}
                bg-secondary text-black
            {% else %}
                bg-dark text-white
            {% endif %}


            {% if type == 'intermission' %}
                pt-4 pb-3
            {% else %}
                pt-5 pb-4
                pt-md-3 py-md-5
            {% endif %}

            {% if odd %}
                ml-sm-3
                px-4
                pl-md-4 pl-lg-5 
                pr-md-5 pr-lg-6
            {% else %}
                mr-sm-3
                px-4
                pr-md-4 pr-lg-5
                pl-md-5 pl-lg-6
            {% endif %}
            "

            {% if type == 'intermission' %}style="min-height: 230px;"{% endif %}
        >

            <h3 class="mt-0 pc-speaker-name">{{ speaker.full_name }}</h3>

            {% if type == 'keynoter' or type == 'intermission' %}
                {% with talk=speaker.talks.all|first %}
                    {% if talk.is_public and phases.talks != 'not_public' %}
                        <p class="pc-speaker-talk mt-n3">
                            <a
                                {% if type == 'keynoter' %}
                                    class="d-inline-block"
                                {% elif type == 'intermission' %}
                                    class="d-inline-block text-decoration-none mt-2 text-black"
                                {% endif %}
                                    href="{% url 'session_detail' type='talk' session_id=talk.id %}"
                            >
                                {{ talk.title }}
                            </a>
                        </p>
                    {% endif %}
                {% endwith %}
            {% endif %}

            {% if type == 'keynoter' %}
                {{ speaker.short_bio|markdown }}
            {% elif type == 'session_detail' %}
                {{ speaker.bio|markdown }}
            {% endif %}

            {% if type == 'keynoter' or type == 'session_detail' %}
                {% if speaker.twitter or speaker.github %}
                    <p class="mt-4 mb-0">
                        {% if speaker.twitter %}
                            <a
                                class="d-inline-block mr-4 pc-iconlink pc-iconlink-twitter {% if type == 'keynoter' %}pc-iconlink-blue{% endif %}"
                                href="https://twitter.com/{{ speaker.twitter }}"
                            >
                                {{ speaker.twitter }}
                            </a>
                        {% endif %}
                        {% if speaker.github %}
                            <a
                                class="d-inline-block pc-iconlink pc-iconlink-github {% if type == 'keynoter' %}pc-iconlink-blue{% endif %}"
                                href="https://github.com/{{ speaker.github }}"
                            >
                                {{ speaker.github }}
                            </a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endif %}

            {% if session %}{# checks if this is included in session detail #}
                {# todo: refactor: this should get cleaner data from Python, too much logic here #}
                {# todo: with it we could also do a nicer listing of more than one other session #}

                {% with talks=speaker.talks.all workshops=speaker.workshops.all %}
                    {% if session.type == 'talk' %}
                        {% with extra_talks=talks|length|add:-1 extra_workshops=workshops|length %}
                            {% if extra_talks %}
                                <p class="mt-4 mb-0">
                                    Check my other {{ extra_talks|pluralize:'talk,talks' }}
                                    {% for talk in talks %}
                                        {% if talk.id != session.id %}
                                            <a class="{{ extra_talks|pluralize:',d-block' }}" href="{% url 'session_detail' type=talk.type session_id=talk.id %}#main">{{ talk.title }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if extra_workshops %}
                                <p class="mt-4 mb-0">
                                    I also lead
                                    {% for workshop in workshops %}
                                        <span class="{{ extra_workshops|pluralize:',d-block' }}">
                                            a&nbsp;{{ workshop.type }}
                                            <a href="{% url 'session_detail' type=workshop.type session_id=workshop.id %}#main">{{ workshop.title }}</a>
                                        </span>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endwith %}
                    {% elif session.type == 'workshop' or session.type == 'sprint' %}
                        {% with extra_talks=talks|length extra_workshops=workshops|length|add:-1 %}
                            {% if extra_workshops %}
                                <p class="mt-4 mb-0">
                                    I also lead
                                    {% for workshop in workshops %}
                                        {% if workshop.id != session.id %}
                                            <span class="{{ extra_workshops|pluralize:',d-block' }}">
                                            a&nbsp;{{ workshop.type }}
                                            <a href="{% url 'session_detail' type=workshop.type session_id=workshop.id %}#main">{{ workshop.title }}</a>
                                        </span>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if extra_talks %}
                                <p class="mt-4 mb-0">
                                    Check my {{ extra_talks|pluralize:'talk,talks' }}
                                    {% for talk in talks %}
                                        <a class="{{ extra_talks|pluralize:',d-block' }}" href="{% url 'session_detail' type=talk.type session_id=talk.id %}#main">{{ talk.title }}</a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
    </div>

    <div class="pc-speaker-photo col-12 col-sm-6 col-md-4 mb-n4 mb-md-0  order-1 {% if odd %}order-md-2{% else %}order-md-1{% endif %}">
        <img class="img-fluid pc-img-effect" src="{{ speaker.photo.url }}" alt="">
    </div>

</div>
