{% extends '_layout.html' %}


{% load formatting %}
{% load static %}


{% block meta_title %}{{ session.title|markdown|striptags }} – a&nbsp;{{ session.type }} {{ session_preposition }} {{ session.speakers|join:' &amp; ' }} – {{ block.super }}{% endblock %}


{% block meta_social_customizable %}
    <meta property="og:title" content="PyCon CZ – {{ session.title|markdown|striptags }} – a&nbsp;{{ session.type }} by {{ session.speakers|join:' &amp; ' }}">
    <meta property="og:description" content="{{ session.abstract|markdown|striptags|linebreaks|striptags|truncatechars:300 }}">
    {% if session.og_image %}
        <meta property="og:image" content="https://{{ request.get_host }}{{ session.og_image.url }}">
        <meta property="og:image:width" content="{{ session.og_image.width }}">
        <meta property="og:image:height" content="{{ session.og_image.height }}">
    {% else %}
        {% with og_speaker=session.speakers|first %}
            <meta property="og:image" content="https://{{ request.get_host }}{{ og_speaker.photo.url }}">
            <meta property="og:image:width" content="{{ og_speaker.photo.width }}">
            <meta property="og:image:height" content="{{ og_speaker.photo.height }}">
        {% endwith %}
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{ session.speakers|join:' &amp; ' }}">
{% endblock %}


{% block main %}
    <div class="container">

        {% comment 'todo' %}{% include '_menu_programme .html' %}{% endcomment %}

        <h1 class="pc-h1-shrinking">
            {{ session.title }}
            <small class="d-md-none">a&nbsp;{{ session.type }} {{ session_preposition }} {{ session.speakers|join:' &amp; ' }}</small>
        </h1>

        {% if phases.schedule == 'full' %}
            <p class="pc-session-date">{{ 'TODO' }}</p>
        {% endif %}

        <div class="pc-multicol mb-3">
            <div class="mb-3">{{ session.abstract|markdown }}</div>

            <div class="pc-session-flags">
                <div class="row no-gutters mb-3">
                    <div class="col-auto pr-3 pb-1">
                        <svg class="pc-img-fluid-svg d-block" style="width:3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                            <path fill="var({% if session.difficulty == 'advanced' %}--dark{% else %}--white{% endif %})" d="M0 40V0h40v40z" />
                            <path fill="var({% if session.difficulty == 'advanced' %}--primary{% else %}--primary{% endif %})" stroke="var({% if session.difficulty == 'advanced' %}--dark{% else %}--white{% endif %})" stroke-width="1.1" d="M26.0614 8.1015L20 11.601m6.0614 4.8993L20 20m-6.0614-3.4996L20 20m0-8.399v23.797M13.9386 8.1016L20 11.601m-6.0614-3.4996L20 4.6019l6.0614 3.4996v23.797L20 35.3981l-6.0614-3.4996z" />
                        </svg>
                    </div>
                    <div class="col">
                        {% if session.difficulty == 'advanced' %}
                            <strong>This {{ session.type }} is aimed at advanced Pythonistas.</strong>
                            While it might be interesting for beginners we recommend them to choose another&nbsp;{{ session.type }}.
                        {% else %}
                            This {{ session.type }} is suitable for both beginner and advanced Pythonistas.
                        {% endif %}
                    </div>
                </div>

                {% if session.in_data_track %}
                    <div class="row no-gutters mb-3">
                        <div class="col-auto pr-3 pb-1">
                            <svg class="pc-img-fluid-svg d-block" style="width:3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                                <path fill="#f80" d="M0 40V0h40v40z" />
                                <path fill="#fff" d="M20.4 20.1l6.3-3.3v6.8l-6.3 3.3m-.4-7.4l-6.4-3.3 6.4-3.3 6.4 3.3zm.4-14l6.3 3.3v6.8l-6.3-3.3zm-7.1 18.9l6.3 3.3v6.8l-6.3-3.3zm0-7.6l6.3 3.3v6.8l-6.3-3.3z" />
                            </svg>
                        </div>
                        <div class="col">Is part of the PyData&nbsp;track</div>
                    </div>
                {% endif %}

                {% if session.language == 'cs' %}
                    <div class="row no-gutters mb-3">
                        <div class="col-auto pr-3 pb-1">
                            <svg class="pc-img-fluid-svg align-baseline" style="width:3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 60">
                                <rect width="90" height="60" fill="#d7141a"></rect>
                                <rect width="90" height="30" fill="#fff"></rect>
                                <path d="M 45,30 0,0 V 60 z" fill="#11457e"></path>
                            </svg>
                        </div>
                        <div class="col">This {{ session.type }} will be in Czech only.</div>
                    </div>
                {% endif %}
            </div>

            {% if session.length and 'h' in session.length %}
                <p>
                    {{ session.type|capfirst }}
                    will take
                    {% if session.length == '1h' %}
                        1&nbsp;hour.
                    {% elif session.length == '2h' %}
                        2&nbsp;hours.
                    {% elif session.length == '3h' %}
                        3&nbsp;hours.
                    {% endif %}
                </p>
            {% endif %}

            {% if session.registration %}
                <div class="pc-session-registration">
                    {% if phases.workshops_registration == 'timed_out' %}
                        <p class="font-weight-bold">We’re sorry but registration is not possible anymore.</p>
                    {% elif phases.workshops_registration == 'launched' %}
                        <p class="bg-danger p-5">
                            TODO
                            <a class="btn btn-primary" href="#">Register for this workshop</a>
                        </p>
                    {% elif phases.workshops_registration != 'hidden' %}
                        <p>
                            {% if session.registration == 'without' %}
                                No registration will be required to&nbsp;attend.
                            {% elif session.registration == 'free' %}
                                Free registration available to PyCon&nbsp;CZ ticket holders {% if phases.workshops_registration == 'announced' %}at&nbsp;the beginning of&nbsp;June{% endif %} will be required to&nbsp;attend.
                            {% elif session.registration == 'paid' %}
                                Paid registration {% if phases.workshops_registration == 'announced' %}at&nbsp;the beginning of&nbsp;June{% endif %} will be required to&nbsp;attend.
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
            {% endif %}

            {% if session.requirements and phases.workshops == 'details_complete_public' %}
                <div class="pc-session-requirements px-4 pt-3 pb-2 bg-white d-inline-block w-100">
                    {{ session.requirements|markdown }}
                </div>
            {% endif %}
        </div>

        {% for speaker in session.speakers %}
            {% include 'programme/__speaker-detail.html' with odd=forloop.counter|divisibleby:'2' %}
        {% endfor %}

        {% comment 'todo' %}
        {% if session.video_id %}
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ session.video_embed_url }}?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        {% endif %}
        {% endcomment %}

    </div>

    <div class="pc-sticky-bottom pc-mw-max mx-auto">
        <div class="pr-2 px-sm-3 pb-2 mb-2 d-flex justify-content-between">
            <a class="btn btn-secondary px-2 px-sm-3" href="{% url 'session_detail' type=session_previous.type session_id=session_previous.id %}#main">
                previous {{ session_previous.type }}
            </a>
            <a class="btn btn-info px-2 px-sm-3" href="{% url 'session_detail' type=session_next.type session_id=session_next.id %}#main">
                next {{ session_next.type }}
            </a>
        </div>
    </div>

{% endblock %}
