{% extends '_layout.html' %}


{% load formatting %}
{% load static %}


{% block meta_title %}{{ session.title|markdown|striptags }} – a&nbsp;{{ session.type }} {{ session_preposition }} {{ session.speakers|join:' &amp; ' }} – {{ block.super }}{% endblock %}


{% block meta_social_customizable %}
    <meta property="og:title" content="PyCon CZ – {{ session.title|markdown|striptags }} – a&nbsp;{{ session.type }} by {{ session.speakers|join:' &amp; ' }}">
    <meta property="og:description" content="{{ session.abstract|markdown|striptags|linebreaks|striptags|truncatechars:300 }}">
    {% if session.og_image %}
        <meta property="og:image" content="https://{{ request.get_host }}{{ session.og_image.url }}">
        <meta property="og:image:width" content="{{ session.og_image.width }}">
        <meta property="og:image:height" content="{{ session.og_image.height }}">
    {% else %}
        {% with og_speaker=session.speakers|first %}
            <meta property="og:image" content="https://{{ request.get_host }}{{ og_speaker.photo.url }}">
            <meta property="og:image:width" content="{{ og_speaker.photo.width }}">
            <meta property="og:image:height" content="{{ og_speaker.photo.height }}">
        {% endwith %}
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{ session.speakers|join:' &amp; ' }}">
{% endblock %}


{% block js_head %}
    {{ block.super }}
    {% if phases.workshops_registration == 'launched' %}
        <script>
            {% if debug %}TitoDevelopmentMode = true;{% endif %}
            document.addEventListener('DOMContentLoaded', function(event){
                var ticketIdInput = document.getElementById('pc-ticket-id');
                var ticketInfo = document.getElementById('pc-ticket-info');
                var ticketId;
                var ticketIdValidate = /^[A-Z0-9]{4}-[0-9]{1,2}$/;
                var slot = '{% if slot.start|date:'H' == '10' %}morning{% elif slot.start|date:'H' == '14' %}afternoon{% endif %}';

                ticketIdInput.addEventListener('input', function(){

                    ticketId = ticketIdInput.value.toUpperCase();

                    if (ticketIdValidate.test(ticketId)){ // a valid code
                        // create button
                        new TitoWidget.Button({
                            event_path: 'pyvec/test-pycon-cz-2019',
                            releases: '{{ session.tito_id }}',
                            discount_code: 'workshops-' + slot + '-' + ticketId,
                            label: 'Register for this workshop',
                            container_id: 'pc-ticket-container'
                        }).build();

                        ticketIdInput.classList.remove('is-invalid');
                        ticketIdInput.classList.add('is-valid');
                        ticketInfo.classList.remove('d-none');
                        ticketInfo.classList.add('d-block');
                    } else { // not a valid code
                        document.getElementById('pc-ticket-container').innerHTML = ''; // remove button
                        ticketIdInput.classList.remove('is-valid');
                        ticketIdInput.classList.add('is-invalid');
                        ticketInfo.classList.remove('d-block');
                        ticketInfo.classList.add('d-none');
                    }

                });
            });
        </script>
        <script src="https://js.tito.io/v1" async></script>
    {% endif %}
{% endblock %}


{% block main %}
    <div class="container">

        {% comment 'todo' %}{% include '_menu_programme .html' %}{% endcomment %}

        <h1 class="pc-h1-shrinking">
            {{ session.title }}
            <small class="d-md-none">a&nbsp;{{ session.type }} {{ session_preposition }} {{ session.speakers|join:' &amp; ' }}</small>
        </h1>

        {% if phases.schedule == 'full' and slot %}
            <p class="pc-session-date">
                {{ slot.start|date:'l, d F, H:i' }} in&nbsp;{{ slot.room_name }}
            </p>
        {% endif %}

        <div class="pc-multicol mb-3">
            <div class="mb-3">{{ session.abstract|markdown }}</div>

            <div class="pc-session-flags">
                <div class="row no-gutters mb-3">
                    <div class="col-auto pr-3 pb-1">
                        <svg class="pc-img-fluid-svg d-block" style="width:3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                            <path fill="var({% if session.difficulty == 'advanced' %}--dark{% else %}--white{% endif %})" d="M0 40V0h40v40z" />
                            <path fill="var({% if session.difficulty == 'advanced' %}--primary{% else %}--primary{% endif %})" stroke="var({% if session.difficulty == 'advanced' %}--dark{% else %}--white{% endif %})" stroke-width="1.1" d="M26.0614 8.1015L20 11.601m6.0614 4.8993L20 20m-6.0614-3.4996L20 20m0-8.399v23.797M13.9386 8.1016L20 11.601m-6.0614-3.4996L20 4.6019l6.0614 3.4996v23.797L20 35.3981l-6.0614-3.4996z" />
                        </svg>
                    </div>
                    <div class="col">
                        {% if session.difficulty == 'advanced' %}
                            <strong>This {{ session.type }} is aimed at advanced Pythonistas.</strong>
                            While it might be interesting for beginners we recommend them to choose another&nbsp;{{ session.type }}.
                        {% else %}
                            This {{ session.type }} is suitable for both beginner and advanced Pythonistas.
                        {% endif %}
                    </div>
                </div>

                {% if session.in_data_track %}
                    <div class="row no-gutters mb-3">
                        <div class="col-auto pr-3 pb-1">
                            <svg class="pc-img-fluid-svg d-block" style="width:3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                                <path fill="#f80" d="M0 40V0h40v40z" />
                                <path fill="#fff" d="M20.4 20.1l6.3-3.3v6.8l-6.3 3.3m-.4-7.4l-6.4-3.3 6.4-3.3 6.4 3.3zm.4-14l6.3 3.3v6.8l-6.3-3.3zm-7.1 18.9l6.3 3.3v6.8l-6.3-3.3zm0-7.6l6.3 3.3v6.8l-6.3-3.3z" />
                            </svg>
                        </div>
                        <div class="col">Is part of the PyData&nbsp;track</div>
                    </div>
                {% endif %}

                {% if session.language == 'cs' %}
                    <div class="row no-gutters mb-3">
                        <div class="col-auto pr-3 pb-1">
                            <svg class="pc-img-fluid-svg align-baseline" style="width:3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 60">
                                <rect width="90" height="60" fill="#d7141a"></rect>
                                <rect width="90" height="30" fill="#fff"></rect>
                                <path d="M 45,30 0,0 V 60 z" fill="#11457e"></path>
                            </svg>
                        </div>
                        <div class="col">This {{ session.type }} will be in Czech only.</div>
                    </div>
                {% endif %}
            </div>

            {% if session.length and 'h' in session.length %}
                <p>
                    {{ session.type|capfirst }}
                    will take
                    {% if session.length == '1h' %}
                        1&nbsp;hour.
                    {% elif session.length == '2h' %}
                        2&nbsp;hours.
                    {% elif session.length == '3h' %}
                        3&nbsp;hours.
                    {% endif %}
                </p>
            {% endif %}

            {% if phases.workshops == 'details_complete_public' and session.attendee_limit > 0 %}
                <p>There will be maximum of {{ session.attendee_limit }} attendees.</p>
            {% endif %}

            {% if session.requirements and phases.workshops == 'details_complete_public' %}
                <div class="pc-session-requirements px-4 pt-3 pb-2 bg-white d-inline-block w-100">
                    {{ session.requirements|markdown }}
                </div>
            {% endif %}

            <div class="pc-session-registration">
                {% if session.registration == 'without' %}
                    <p class="mt-3 font-weight-bold">No registration is required to&nbsp;attend.</p>
                {% else %}
                    {% if phases.workshops_registration == 'timed_out' %}
                        <p class="font-weight-bold">We’re sorry but registration is not possible anymore.</p>
                    {% elif phases.workshops_registration == 'launched' %}
                        <div class="bg-dark text-white px-4 pb-1 pt-3 mt-4 pc-box-shadow" id="pc-workshop-registration">
                            <form>
                                <div class="form-group mb-2">
                                    <h3 class="mt-1 mb-2">Get a seat at this workshop</h3>
                                    <label for="pc-ticket-id">Enter your conference ticket&nbsp;code</label>
                                    <input
                                        type="text"
                                        class="form-control form-control-lg"
                                        placeholder="e.g. AB4C-1"
                                        id="pc-ticket-id"
                                        aria-describedby="pc-code-help"
                                        required
                                        pattern="^[a-zA-Z0-9]{4}-[0-9]{1,2}$"
                                        maxlength="7"
                                    >
                                    <small id="pc-code-help" class="form-text text-white-50">
                                        You can find the code in the email you’ve received after registration.
                                    </small>
                                </div>
                                {% comment %}<button class="btn btn-lg btn-primary">Register for this workshop</button>{% endcomment %}

                                <div id="pc-ticket-container" class="pc-ticket-container mb-3"></div>
                                <p id="pc-ticket-info" class="text-white d-none">
                                    If&nbsp;the discount code is not valid, you’ve already used&nbsp;it to register for
                                    <b>a&nbsp;{% if slot.start|date:'H' == '10' %}morning{% elif slot.start|date:'H' == '14' %}afternoon{% endif %}</b>
                                    workshop.
                                </p>
                            </form>

                        </div>
                    {% elif phases.workshops_registration != 'hidden' %}
                        <p>
                            {% if session.registration == 'without' %}
                                No registration will be required to&nbsp;attend.
                            {% elif session.registration == 'free' %}
                                Free registration available to PyCon&nbsp;CZ ticket holders {% if phases.workshops_registration == 'announced' %}at&nbsp;the beginning of&nbsp;June{% endif %} will be required to&nbsp;attend.
                            {% elif session.registration == 'paid' %}
                                Paid registration {% if phases.workshops_registration == 'announced' %}at&nbsp;the beginning of&nbsp;June{% endif %} will be required to&nbsp;attend.
                            {% endif %}
                        </p>
                    {% endif %}
                {% endif %}
            </div>

        </div>

        {% for speaker in session.speakers %}
            {% include 'programme/__speaker-detail.html' with odd=forloop.counter|divisibleby:'2' %}
        {% endfor %}

        {% comment 'todo' %}
        {% if session.video_id %}
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ session.video_embed_url }}?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        {% endif %}
        {% endcomment %}

    </div>

    <div class="pc-sticky-bottom pc-mw-max mx-auto">
        <div class="pr-2 px-sm-3 pb-2 mb-2 d-flex justify-content-between">
            <a class="btn btn-secondary px-2 px-sm-3" href="{% url 'session_detail' type=session_previous.type session_id=session_previous.id %}#main">
                previous {{ session_previous.type }}
            </a>
            <a class="btn btn-info px-2 px-sm-3" href="{% url 'session_detail' type=session_next.type session_id=session_next.id %}#main">
                next {{ session_next.type }}
            </a>
        </div>
    </div>

{% endblock %}



