{% extends 'programme/_base_detail.html' %}


{% block all %}
    {% with session_preposition='by' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block secondary_info %}
    {% if phases.schedule == 'full' and phases.workshops_registration != 'timed_out' %}
        <div class="col-md mb-4">
            {% include 'programme/__schedule.html' %}
        </div>
    {% endif %}
{% endblock %}


{% block first_col_class %}
    {{ block.super }}
    {% if phases.schedule == 'full' and phases.workshops_registration == 'timed_out' or phases.schedule != 'full' and phases.workshops_registration != 'timed_out' %}
        pc-multicol
    {% endif %}
{% endblock %}