{% extends 'programme/_base_list.html' %}


{% load formatting %}


{% block meta_title %}Workshops – {{ block.super }}{% endblock %}


{% block speakers_title %}Work&shy;shops{% endblock %}


{% block details_info %}
    {% if phases.workshops == 'list_public' %}
        <p class="lead">We will publish more information about talks and speakers soon.</p>
    {% endif %}
{% endblock %}


{% block detail_link %}
    {% if phases.workshops == 'details_public' %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block empty_message_type %}workshops{% endblock %}
