{% extends "_layout.html" %}



{% block meta_title %}PyCon CZ Team – {{ block.super }}{% endblock %}


{% block main %}
<div class="pc-odd-section">
<div class="container">
        <h1><span>PyCon&nbsp;CZ Team</span></h1>

        <p>PyCon is a community event. There are more than 30 people on our Slack channel and even more volunteers helped us by sending pull requests on GitHub. If you drew the organization structure of the PyCon CZ team, <strong>you — the attendee</strong> would be at the top. The incredible amount of volunteers would follow. There's little or no difference between organizers and volunteers, because we all do it in our free time without any claim for wage. Below is a list of our core team members.</p>

        <p class="h3">We are here for <strong>you</strong>!</p>

        <p>The main contact is <a href="mailto:info@pycon.cz">info@pycon.cz</a>.</p>

        <div class="row">
            {% for organizer in organizers %}
                <div class="col pc-team-col">
                    <img src="{{ organizer.photo.url }}" alt="" class="pc-team-photo">
                    <div class="pc-team-name">
                        {{ organizer.full_name }}
                    </div>
                    <p class="pc-team-contact">
                        {% if organizer.twitter %}
                            TW:&nbsp;<a href="https://twitter.com/{{ organizer.twitter }}">@{{ organizer.twitter }}</a>
                        {% endif %}
                        {% if organizer.github %}
                            GH:&nbsp;<a href="https://github.com/{{ organizer.github }}">{{ organizer.github }}</a>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
</div>
{% endblock %}
