{% extends "_layout.html" %}


{% load formatting %}


{% block meta_title %}Schedule – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container-fluid">

        <nav role="navigation" class="d-none d-md-block">
            {% include '_menu_programme.html' %}
        </nav>

        <h1>Schedule</h1>

        {# Temporary schedule #}
        {% comment %}<section>
            <div>
                <h2>Thursday,<br> 08 June</h2>
                <p>MeetFactory</p>
                <p>
                    Registration
                    <span>9&nbsp;am–10&nbsp;am</span>
                </p>
                <p>
                    Talks
                    <span>10&nbsp;am–6&nbsp;pm</span>
                </p>
            </div>

            <div>
                <h2>Friday,<br> 09 June</h2>
                <p>MeetFactory</p>
                <p>
                    Registration
                    <span>9&nbsp;am–10&nbsp;am</span>
                </p>
                <p>
                    Talks
                    <span>10&nbsp;am–6&nbsp;pm</span>
                </p>
                <p>
                    Afterparty
                    <span>
                        6&nbsp;pm <strong>till you drop<sup>*</sup></strong><br><small><sup>*</sup>or&nbsp;3&nbsp;am (whichever comes first)</small>
                    </span>
                </p>
            </div>

            <div>
                <h2>Saturday,<br> 10 June</h2>
                <p>
                    <a href="https://goo.gl/maps/ZA3DoxKdt3m">FIT&nbsp;CTU</a>
                </p>
                <p>
                    Sprints and Workshops
                    <span>10&nbsp;am–4&nbsp;pm</span>
                </p>
            </div>
        </section>{% endcomment %}


        {# Full schedule #}

        {% comment %}
        <pre>{{ slots|pprint }}</pre>
        {% for slot in slots %}
            <pre>{{ slot|pprint }}</pre>
        {% endfor %}

        <pre>{{ ALL_ROOMS|pprint }}</pre>
{% endcomment %}


        {% regroup slots by date|date:'l, j F' as slots_by_date %}

        <section class="row justify-content-center">

            {% for day in slots_by_date %}
                <div class="col-12 col-md-6 col-xl-4 ">

                    <h2 class="h3">{{ day.grouper }}</h2>

                    <p>
                        {% if day.grouper == 'Sunday, 3 June' %}
                            Sprints and Workshops at
                            <a href="https://goo.gl/maps/ZA3DoxKdt3m">FIT&nbsp;CTU</a>
                        {% else %}
                            Talks at MeetFactory
                        {% endif %}
                    </p>

                    {% regroup day.list by date as slots_by_time %}


                    <div class="row">
                        {% for slot in slots_by_time %}
                            {% if slot.list.0.description != 'Break' %}
                                {% if day.grouper == 'Sunday, 3 June' %}
                                    {% if slot.grouper|time == '10:00' or slot.grouper|time == '14:00' %}
                                        <div class="col-sm-6">
                                            <div>
                                                <h3>{{ slot.grouper|time }}</h3>
                                                <div class="row justify-content-center">
                                                    <div class="col-12">
                                                        <h4 class="h5">Respirium</h4>
                                                        <div class="h5">
                                                            <span class="d-block -serif">
                                                                Sprints
                                                                <br>
                                                                freely accesible for anybody wearing a PyCon CZ badge
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                {% if slot.grouper|time == '10:00' %}
                                                    <h3>11:00</h3>
                                                {% endif %}
                                                <div class="row justify-content-center">
                                                    <div class="col-12">
                                                        <h4 class="h5">Respirium</h4>
                                                        <div class="h5">
                                                            <a class="d-block -serif " href="/2018/programme/detail/workshop/7/">
                                                                The doc(tor) is in! <em>documenta&shy;tion helpdesk</em>
                                                            </a>
                                                            <span class="d-block">Mikey Ariel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="{% comment %}{% endcomment %}
                                    {% if day.grouper == 'Sunday, 3 June' %}
                                        {% if slot.grouper|time == '10:00' or slot.grouper|time == '14:00' %}
                                            col-sm-6
                                        {% else %}
                                            col-sm-12
                                        {% endif %}
                                    {% else %}
                                        col-12
                                    {% endif %}
                               ">

                                    {% if day.grouper != 'Sunday, 3 June' or slot.grouper|time != '11:00' %}
                                        <h3>
                                            {{ slot.grouper|time }}
                                        </h3>
                                    {% endif %}

                                    {% if slot.list.0.description|truncatewords_html:1 == 'Welcome ...' or slot.list.0.description == 'Lightning Talks' or slot.list.0.description == 'Closing ceremony' %}
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-sm-6">
                                                <h4 class="h5">Main</h4>
                                                <p class="h5 -serif">{{ slot.list.0.description|safe }}</p>
                                            </div>
                                        </div>
                                    {% elif slot.list.0.description %}
                                        <p class="h5
                                            {% if slot.list.0.description|truncatewords_html:1 == 'Afterparty ...' %}
                                                {% elif slot.list.0.description == "board_game_night" %}
                                                {% else %}

                                            {% endif %}
                                       ">
                                            {% if slot.list.0.description == "board_game_night" %}
                                                <a href="{% url 'board_game_night' %}">Board Game Night!</a>
                                            {% else %}
                                                {{ slot.list.0.description|safe }}
                                            {% endif %}
                                        </p>
                                    {% endif %}

                                    <div class="row justify-content-center">
                                        {% for slot_item in slot.list %}
                                            {% if slot_item.content_type and slot_item.room != 20 %}

                                                <div class="col-12 {% if day.grouper != 'Sunday, 3 June' %} {% if slot.grouper|time != '10:00' and slot.grouper|time != '14:00' %} col-sm-6 {% endif %} {% endif %}">
                                                    <h4
                                                        class="
                                                            h5
                                                            {% if slot_item.room == 1 %}

                                                            {% elif slot_item.room == 2 %}

                                                            {% elif slot_item.room == 20 %}

                                                            {% elif slot_item.room < 20 %}

                                                            {% elif slot_item.room == 50 %}

                                                            {% else %}

                                                            {% endif %}
                                                        "
                                                    >
                                                        {% for key, value in ALL_ROOMS %}
                                                            {% if slot_item.room == key %} {{ value }} {% endif %}
                                                        {% endfor %}
                                                    </h4>

                                                    <div class="h5">
                                                        {% if slot_item.content_type.model == 'talk' %}
                                                            <a
                                                                class="d-block -serif {% if slot_item.room == 1 %} {% elif slot_item.room == 2 %} {% elif slot_item.room < 20 %} {% elif slot_item.room == 20 %} {% elif slot_item.room == 50 %} {% else %} {% endif %}"
                                                                href="{% url 'talk_detail' type='talk' talk_id=slot_item.content_object.id %}"
                                                            >
                                                                {{ slot_item.content_object.title|markdown|cut:"<p>"|cut:"</p>" }}
                                                            </a>
                                                            {% comment %}<span>{{ slot_item.content_object.talks.all|join:'<br>' }}</span>{% endcomment %}
                                                        {% elif slot_item.content_type.model == 'workshop' %}
                                                            <a
                                                                class="d-block -serif {% if slot_item.room == 1 %} {% elif slot_item.room == 2 %} {% elif slot_item.room < 20 %} {% elif slot_item.room == 20 %} {% elif slot_item.room == 50 %} {% else %} {% endif %}"
                                                                href="{% url 'talk_detail' type='workshop' talk_id=slot_item.content_object.id %}"
                                                            >
                                                                {{ slot_item.content_object.title|markdown|cut:"<p>"|cut:"</p>" }}
                                                            </a>
                                                            {% comment %}<span>{{ slot_item.content_object.workshops.all|join:'<br>' }}</span>{% endcomment %}
                                                        {% elif slot_item.description == 'Sprints' %}
                                                            <div class="-serif">{{ slot_item.description }}</div>
                                                            <div>freely accesible for anybody wearing a&nbsp;PyCon&nbsp;CZ badge</div>
                                                        {% endif %}
                                                        <span class="d-block">{{ slot_item.content_object.speakers|join:" &amp; " }}</span>
                                                    </div>

                                                    {% if slot_item.content_object.difficulty == 'advanced' %}
                                                        <p class="small">This {{ slot_item.content_type.model }} is aimed at advanced Pythonistas.</p>
                                                    {% endif %}
                                                    {% if slot_item.content_object.language == 'cs' %}
                                                        <p class="small">This talk will be in Czech only.</p>
                                                    {% endif %}

                                                    {% comment %}<p>{{ slot_item.content_object.abstract|markdown }}</p>{% endcomment %}

                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
            {% endfor %}

        </section>
    </div>

{% endblock %}
