{% extends '_base.html' %}


{% load static %}


{% block meta_title %}Intermission – {{ block.super }}{% endblock %}


{% block body %}
    <main role="main" class="pc-intermission" id="intermission-content"></main>
{% endblock %}


{% block after_scripts_loaded %}
    <script>
        $(document).ready(function(){
            var urls = [
                '{% url 'intermission:annoucements' %}',
                '{% url 'intermission:slido' %}',

                '{% url 'intermission:up_next' track=1 %}',
                '{% url 'intermission:up_next' track=2 %}',

                '{% url 'intermission:sponsors' level='platinum' %}',

                '{% url 'intermission:annoucements' %}',
                '{% url 'intermission:slido' %}',

                '{% url 'intermission:sponsors' level='gold' %}',

                '{% url 'intermission:up_next' track=1 %}',
                '{% url 'intermission:up_next' track=2 %}',

                '{% url 'intermission:sponsors' level='silver' %}',

                '{% url 'intermission:annoucements' %}',
                '{% url 'intermission:slido' %}',

                '{% url 'intermission:sponsors' level='bronze' %}',

                '{% url 'intermission:up_next' track=1 %}',
                '{% url 'intermission:up_next' track=2 %}',

                '{% url 'intermission:sponsors' level='partners' %}',

            ];

            function cycle(delay, f, xs){
                var run = function(i){
                    setTimeout(function(){
                        f(xs[i]);
                        i++;
                        if (i >= xs.length){
                            i = 0;
                        }
                        run(i);
                    }, delay);
                };
                f(xs[0]);
                run(1);
            }

            function fetch_content(url){
                $.get(url, function(data){
                    $('#intermission-content').hide().html(data).fadeIn(300);
                });
            }

            cycle({{ interval }}, fetch_content, urls);
        });
    </script>

{% endblock %}