{% extends '_base.html' %}


{% load static %}


{% block meta_title %}Intermission – {{ block.super }}{% endblock %}


{% block body_extras %}style="overflow:hidden;"{% endblock %}

{% block body %}
    <main role="main" class="pc-intermission" id="intermission-content"></main>
{% endblock %}


{% block after_scripts_loaded %}
    <script>
        $(document).ready(function(){
            var urls = [
                '{% url 'intermission:annoucements' %}',
                '{% url 'intermission:slido' %}',

                '{% url 'intermission:up_next' track=1 %}',
                '{% url 'intermission:up_next' track=2 %}',

                '{% url 'intermission:sponsors' level='platinum' %}',

                '{% url 'intermission:annoucements' %}',
                '{% url 'intermission:slido' %}',

                '{% url 'intermission:sponsors' level='gold' %}',

                '{% url 'intermission:up_next' track=1 %}',
                '{% url 'intermission:up_next' track=2 %}',

                '{% url 'intermission:sponsors' level='silver' %}',

                '{% url 'intermission:annoucements' %}',
                '{% url 'intermission:slido' %}',

                '{% url 'intermission:sponsors' level='bronze' %}',

                '{% url 'intermission:up_next' track=1 %}',
                '{% url 'intermission:up_next' track=2 %}',

                '{% url 'intermission:sponsors' level='partners' %}',

            ];

            function cycle(delay, f, xs){
                var now = -1;
                var active = true;
                var show_current = function() {
                    f(xs[now]);
                }
                var next = function() {
                    now++;
                    if (now >= xs.length) now = 0;
                    show_current();
                }
                var prev = function() {
                    now--;
                    if (now < 0) now = xs.length - 1;
                    show_current();
                }
                var run = function(){
                    if (active) next();
                    setTimeout(function () {
                        run();
                    }, delay);
                 };
                run();

                function handle_keydown(event) {
                    if (["ArrowDown", "ArrowLeft", "PageDown"].includes(event.key)) {
                        active = false;
                        next();
                    }
                    if (["ArrowUp", "ArrowRight", "PageUp"].includes(event.key)) {
                        active = false;
                        prev();
                    }
                    if ([" "].includes(event.key)) {
                        active = true;
                        show_current();
                    }
                }
                document.addEventListener("keydown", handle_keydown, false);
            }

            function fetch_content(url){
                $.get(url, function(data){
                    $('#intermission-content').hide().html(data).fadeIn(300);
                });
            }

            cycle({{ interval }}, fetch_content, urls);
        });
    </script>

{% endblock %}
