{% load formatting %}

<div class="pc-intermission-content">
    <h1 class="display-1 mt-6">
        Next up in
        <strong {% if slot.room == 2 %}class=""{% endif %}>{{ slot.get_room_display }}</strong>
        from {{ slot.start|date:'H:i' }}
    </h1>

    {% if slot.content_object.speakers %}
        <div style="width:45%; transform: scale(2.26);transform-origin: 0 0;">
            {% for speaker in slot.content_object.speakers %}
                {% include 'programme/__speaker_detail.html' with type='intermission' odd=forloop.counter|divisibleby:'2' %}
            {% endfor %}
        </div>
    {% else %}
        <h2 class="display-1 text-primary pc-font-weight-medium-mono">
            {{ slot.content_object.title }}
        </h2>
        {% if slot.content_object.is_keynote or slot.content_object.title == 'Welcome to PyCon CZ' or slot.content_object.title == 'Lightning talks' or slot.content_object.title == 'Closing ceremony' %} {# todo: refactor #}
            <p class="display-3">also streamed to Club</p>
        {% endif %}
    {% endif %}
</div>