{% extends "_base.html" %}

{% load formatting %}


{% block content %}
  <main class="pc_container" role="main">
  {% block main %}

    <div class="nav nav--programme">
      {% include '_menu_programme.html' %}
    </div>

    <h1>{% block speakers_title %}{% endblock %}</h1>

    <section class="pc_speakers">
      {% for speaker in speakers %}
        <section class="pc_speaker" id="{{ speaker.full_name|slugify }}">

          <div class="pc_speaker__photo" style="background-image: url({{ speaker.photo.url }});"></div>

          <h2 class="pc_speaker__name">{{ speaker.full_name }}</h2>

          {% block speakers_items %}{% endblock %}

        </section>
      {% endfor %}
    </section>

  {% endblock %}

  </main>
{% endblock %}
