{% extends "_base.html" %}

{% load formatting %}
{% load static %}


{% block meta_title %}PyCon CZ – {{ talk.title }} – a talk by {{ talk.speakers|join:', ' }}{% endblock %}


{% block meta_social_customizable %}
  <meta property="og:title" content="PyCon CZ – {{ talk.title }} – a talk by {{ talk.speakers|join:', ' }}">
  <meta property="og:description" content="{{ talk.abstract|markdown|striptags|linebreaks|striptags|truncatechars:300 }}">
  {% with og_speaker=talk.speakers|first %}
    <meta property="og:image" content="https://{{ request.get_host }}{{ og_speaker.photo.url }}">
    <meta property="og:image:width" content="{{ og_speaker.photo.width }}">
    <meta property="og:image:height" content="{{ og_speaker.photo.height }}">
  {% endwith %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="{{ talk.speakers|join:', ' }}">
{% endblock %}


{% block content %}
  <main class="pc_container" role="main" id="main">
    <div class="nav nav--programme">
      {% include '_menu_programme.html' %}
    </div>

    <div class="pc_talk">

      <section class="pc_talk__info">
        <h1 class="pc_talk__title">
          {{ talk.title }}
          <br>
          <span>a talk by {{ talk.speakers|join:', ' }}</span>
        </h1>

        <div class="pc_talk__description">{{ talk.abstract|markdown }}</div>

        {% if talk.difficulty == 'advanced' %}
          <p class="pc_talk__difficulty">
            <strong>This talk is aimed at advanced Pythonistas.</strong>
            (While it might be interesting for beginners we recommend them to choose another talk.)
          </p>
        {% endif %}

        {% if talk.video_id %}
          <div class="pc_talk__video">
            <iframe src="{{ talk.video_embed_url }}?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        {% endif %}

        {% for speaker in talk.speakers %}
          <div class="pc__more">
            {% if speaker.talks.all|length > 1 %}
              <h2 class="pc_more__heading">Another talk by {{ speaker.full_name }}</h2>
            {% endif %}

            {% for talk_other in speaker.talks.all %}
              {% if talk_other.id != talk.id %}
                <h3 class="pc_more__title">
                  <a href="{% url 'talk_detail' type='talk' talk_id=talk_other.id %}#main">
                    {{ talk_other.title }}
                  </a>
                </h3>
              {% endif %}
            {% endfor %}

            {% if speaker.workshops.all %}
              <h2 class="pc_more__heading">{{ speaker.full_name }} also leads a workshop</h2>
            {% endif %}

            {% for workshop in speaker.workshops.all %}
              <h3 class="pc_more__title">
                <a href="{% url 'talk_detail' type='workshop' talk_id=workshop.id %}#main">
                  {{ workshop.title }}
                </a>
              </h3>
            {% endfor %}
          </div>
        {% endfor %}

      </section>

      <section class="pc_talk__speakers">
        {% for speaker in talk.speakers %}
          <section class="pc_speaker">

            <div class="pc_speaker__photo" style="background-image: url({{ speaker.photo.url }});"></div>

            <h3 class="pc_speaker__name">{{ speaker.full_name }}</h3>

            {% if speaker.github %}
              <a class="pc_speaker__github" href="https://github.com/{{ speaker.github }}">
                <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i> {{ speaker.github }}
              </a>
            {% endif %}

            {% if speaker.twitter %}
              <a class="pc_speaker__twitter" href="https://twitter.com/{{ speaker.twitter }}">
                <i class="fa fa-fw fa-twitter" aria-hidden="true"></i> {{ speaker.twitter }}
              </a>
            {% endif %}

            <div class="pc_speaker__bio">{{ speaker.bio|markdown }}</div>
          </section>

        {% endfor %}
      </section>
    </div>

    {% with talk.speakers|first as speaker %}
      <p class="pc_nav">
        <a href="{% url "speakers_list" type='talks' %}#{{ speaker.full_name|slugify }}">All speakers and talks</a>
      </p>
    {% endwith %}

  </main>
{% endblock %}
