
.nav-link.active {
    text-decoration: none;
    color: $pc-color-cyan;
}

.pc-nav-link-hide-active.active{
    display: none;
}

.pc-nav-link-highlight {
    background-color: $yellow;
    color: $dark;

    &.active {
        background-color: transparent;
    }
}
