{% load static %}
<div class="container">
    {% if debug %}
        <div class="bg-success p-3">
            <pre>             now = {{ tickets.now|pprint }}</pre>
            <pre>last_day_regular = {{ tickets.last_day_regular|pprint }}</pre>
            <pre>        capacity = {{ tickets.capacity|pprint }}</pre>
            <pre>            sold = {{ tickets.sold|pprint }}</pre>
            <pre>            left = {{ tickets.left|pprint }}</pre>
        </div>
    {% endif %}

    <h1>Tickets</h1>
    {% if tickets.left <= 0 %}
        <p class="lead">We’re sorry but all available tickets have been sold out.</p>
    {% elif tickets.now < tickets.last_day_regular %}
        <p class="lead">
            Get your tickets before {{ tickets.last_day_regular|date:'j F' }} to get regular price!
            {% include 'tickets/__tickets-left.html' with threshold=30 %}
        </p>
    {% elif tickets.now == tickets.last_day_regular %}
        <p class="lead">
            Today is the last chance to buy tickets for the regular price!
            {% include 'tickets/__tickets-left.html' with threshold=20 %}
        </p>
    {% else %}
        <p class="lead">
            Good news!<br>You can still get your ticket at a&nbsp;late bird price.
            {% include 'tickets/__tickets-left.html' with threshold=10 %}
        </p>
    {% endif %}

    <h2>Included in each ticket</h2>

    <div class="row">
        <div class="col py-4 text-center font-weight-bold"><img class="pc-ticket-icon d-block mb-2 mb-md-4 mx-auto" src="{% static 'img/icons/talks.svg' %}" alt=""> 2&nbsp;days of&nbsp;talks</div>
        <div class="col py-4 text-center font-weight-bold"><img class="pc-ticket-icon d-block mb-2 mb-md-4 mx-auto" src="{% static 'img/icons/party.svg' %}" alt=""> Afterparty</div>
        <div class="col py-4 text-center font-weight-bold"><img class="pc-ticket-icon d-block mb-2 mb-md-4 mx-auto" src="{% static 'img/icons/food.svg' %}" alt=""> Food, Coffee &amp;&nbsp;Tea</div>
        <div class="col py-4 text-center font-weight-bold"><img class="pc-ticket-icon d-block mb-2 mb-md-4 mx-auto" src="{% static 'img/icons/workshops.svg' %}" alt=""> Workshops</div>
        <div class="col py-4 text-center font-weight-bold"><img class="pc-ticket-icon d-block mb-2 mb-md-4 mx-auto" src="{% static 'img/icons/board-game-night.svg' %}" alt=""> Board Game Night</div>
    </div>

</div>

{% if tickets.sold < tickets.capacity %}

    <div class="container-fluid bg-dark my-4 py-1">

        <h2 class="sr-only">Ticket types</h2>

        <div class="row no-gutters justify-content-center align-content-stretch align-items-stretch py-1">
            <div class="col my-4 pc-ticket">
                <div class="bg-light p-3 mx-2">
                    <h3 class="mt-0">Educational</h3>
                    <p>Are you a&nbsp;student, a&nbsp;teacher or have you attended PyLadies courses?</p>
                    <hr>
                    {% include 'tickets/__pricing.html' with ticket=tickets.educational %}
                    <p class="small">Students need to bring a&nbsp;student ID to the registration.</p>
                    {% include 'tickets/__button.html' with ticket=tickets.educational %}
                </div>
            </div>
            <div class="col my-4 pc-ticket">
                <div class="bg-light p-3 mx-2">
                    <h3 class="mt-0">Individual</h3>
                    <p>Are you paying PyCon&nbsp;CZ from your own pocket?</p>
                    <hr>
                    {% include 'tickets/__pricing.html' with ticket=tickets.individual %}
                    <p class="small">These tickets are for you if your company doesn’t pay for it. Please respect that and buy a&nbsp;Company ticket if it does.</p>
                    {% include 'tickets/__button.html' with ticket=tickets.individual %}
                </div>
            </div>

            <div class="col my-4 pc-ticket">
                <div class="bg-light p-3 mx-2">
                    <h3 class="mt-0">Company</h3>
                    <p>Is your company paying for the&nbsp;ticket?</p>
                    <hr>
                    {% include 'tickets/__pricing.html' with ticket=tickets.company %}
                    <p class="small">Choose this ticket if your company is paying or if you are getting reimbursed. This is the right choice to support PyCon CZ, so please respect the&nbsp;rule.</p>
                    {% include 'tickets/__button.html' with ticket=tickets.company %}
                </div>
            </div>

            <div class="col my-4 pc-ticket">
                <div class="bg-secondary p-3 mx-2">
                    <h3 class="mt-0">VIP</h3>
                    <p>Do you want to have the best PyCon&nbsp;CZ experience?</p>
                    <hr>
                    {% include 'tickets/__pricing.html' with ticket=tickets.vip %}
                    <p class="small">VIP ticket will get you a&nbsp;seat at the speakers’ dinner on June&nbsp;13. You will meet PyCon&nbsp;CZ speakers over great food which is included in the&nbsp;price.</p>
                    {% include 'tickets/__button.html' with ticket=tickets.vip %}
                </div>
            </div>
        </div>

        <p class="text-white-50 text-center mb-4 py-1">
            We’re not VAT payers, all prices are final.
            <br>By buying a&nbsp;ticket you accept PyCon&nbsp;CZ’s
            <a class="text-warning" href="{% url 'about_code' %}">Code&nbsp;of&nbsp;Conduct</a>
            and <a class="text-warning" href="{% url 'about_privacy' %}">Privacy&nbsp;Policy</a>.
        </p>

    </div>

    {% if phases.finaid == 'launched' %}
        <div class="container text-center pb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-8 col-xl-6">
                    <h2>Financial Aid</h2>
                    <p>
                        {% block finaid_info_text %}
                            If money is the <b>only factor</b> stopping you from attending PyCon&nbsp;CZ you&nbsp;can <a href="{% url 'proposal_about' key='financial-aid' %}">apply for Financial Aid</a> to cover your&nbsp;expenses.
                        {% endblock %}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

{% endif %}

{% if debug %}
    <div class="bg-success p-3">
        <pre>{{ tickets|pprint }}</pre>
    </div>
{% endif %}
