{% extends '_layout.html' %}

{% block meta_title %}Tickets – {{ block.super }}{% endblock %}


{% block meta_head %}
    {{ block.super }}
    {% block tito_code %}
        {# ti.to code #}
        {% comment %}<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1'>{% endcomment %}
        <script src='https://js.tito.io/v1' async></script>
        {% if debug %}
            <script>TitoDevelopmentMode = true</script>
        {% endif %}
    {% endblock %}
{% endblock %}


{% block main %}
    <div id="pc-tickets-content">
        {% include 'tickets/__content.html' %}
    </div>
{% endblock %}


{% block after_scripts_loaded %}
    <script>
        $("#pc-tickets-content").load("ajax-content", function(){
            if (window.console && console.info){
                console.info("tickets-content loaded");
            }
            TitoWidget.buildWidgets();
        });
    </script>
{% endblock %}
