{% extends "_base.html" %}



{% block meta_title %}Sponsorship{% endblock %}


{% block content %}
  <div class="sponsors-offer">
    <div class="container text-block">
      <h1 id="sponsors-prospectus">Sponsors Prospectus</h1>

      <a href="https://github.com/pyvec/cz.pycon.org-2016/files/438766/PyConCZ-PartnerPackagesOverview.2.pdf">Download sponsorship prospectus (PDF)</a>

      <p>
        The PyCon CZ 2016 Community Organizing Committee is pleased to invite
        your sponsorship and support of the second annual, 3 day PyCon event
        in Brno, Czech Republic on October 28–30th, 2016. Sponsorship and
        recruitment booths present opportunities to connect directly with the
        attending talents!
      </p>

      <h2 id="the-short-version">What is PyCon CZ?</h2>
      <p>
        This year we expect to host 300+ attendees across 3 days of presentations
        in 3 tracks, lightning talk sessions, sprints, workshops and many amazing
        keynote speakers and event sponsors!
      </p>

      <p>
        To get a better idea of last year's event, check out our
        <a href="https://www.youtube.com/watch?v=venjk_cL-Gk">short promotional video</a>
        and watch our keynotes from
        <a href="https://www.superlectures.com/pycon2015/the-secret-sauce-behind-open-source">Django core developer Russell-Keith Magee</a>
        and
        <a href="https://www.superlectures.com/pycon2015/the-future-of-twisted">Twisted core developer Amber Brown</a>.
      </p>

      <h2 id="the-short-version">Basic Information About PyCon CZ</h2>
      <p>
        PyCon CZ is the Czech Republic edition of the well known and valued PyCon
        conference devoted to the Python language. It is organized by a handful of
        passionate members of Czech Python community, with cooperation of the <a href="http://pyvec.org/">Pyvec</a>,
        a local non-profit organization that focuses on supporting the Python Community
        in Czech Republic.
      </p>

      <h2 id="the-short-version">Time and Venue</h2>
      <p>
        PyCon CZ 2016 will be held from 28th to 30th of October in Brno, Czech
        Republic (~1h drive from Prague; ~2h drive from Vienna or Bratislava;
        ~3h drive from Budapest; ~6h drive from Berlin or Warsaw) at
        <a href="http://www.fit.vutbr.cz/">Fakulta Informačních Technologií VUT v Brně (FIT)</a>
        (<a href="https://www.google.cz/maps/place/Fakulta+informa%C4%8Dn%C3%ADch+technologi%C3%AD+VUT+v+Brn%C4%9B/@49.226616,16.59664,15z">map</a>).

        The primary track will be English only and presented in the largest lecture hall
        in section D of FIT, suitable for an audience size up to 300. The second track
        will be presented in the second largest lecture hall in section D, with room
        for up to 150. The third track, which depends on the number of Czech language
        submissions to the CfP, might be dedicated to Czech language presentation and
        has room for up to 100.
      </p>

      <h2 id="the-short-version">Objective and Mission</h2>
      <p>
        The objective of the conference is to raise participants' qualifications,
        and overall integration of the Python Programmers' Community in Czech Republic
        and surrounding area, popularisation of new applications of the language as
        well as to spread good programming practices and exchange of experiences
        between professionals, novices, students and hobbyist Python programmers.
        PyCon CZ events are also fantastic networking opportunities and a great
        place to find interesting Python jobs or community projects to work on.
      </p>

      <h2 id="the-short-version">Target Audience</h2>
      <p>
        The conference is addressed to all Python programmers, experienced and novices
        alike. Presentations will cover a wide range of topics relevant to students,
        professionals, and hobbyists. Women who are interested to learn more about
        Python can also participate in DjangoGirls. Altogether, we are expecting more than
        400 participants this year. The majority are likely to be Czech locals. With Brno and Czech
        Republic so centrally located in EU though, and the fact that the Czech organizer
        team is so diverse and well connected, you can expect many visitors from Slovakia,
        Austria, Poland, Germany, Hungary, UK and more as well.
      </p>


      <h1 id="sponsors-prospectus">Sponsorship Options</h1>
      <h3 id="platinum-sponsor">PLATINUM Sponsor</h3>
      <ul>
        <li><strong>Exclusive</strong> right to PyCon CZ 2016 PLATINUM Sponsor Title</li>
        <li>Sponsor booth in the Sponsors' booth area</li>
        <li>Right to place ONE Sponsor roll­up screen at the conference venue</li>
        <li>Right to place ONE Sponsor roll­up screen at the workshop venue</li>
        <li>Top placement of Sponsor logo on <a href="https://cz.pycon.org">cz.pycon.org</a></li>
        <li>Top placement of Sponsor logo on all recorded sessions at playback</li>
        <li>ONE relevant, full-length technical or community oriented presentation slot of Sponsor's choice</li>
        <li>ONE Lightning Talk slot on topics of Sponsor's choice (recruiting/product marketing: OK)</li>
        <li>Option to include up to TWO item(s) in attendee welcome bags (e.g., advertising leaflets, vouchers)
        <li>Option to include up to ONE Sponsor slides between presentations</li>
        <li>ONE public post about Sponsorship in all official PyCon CZ social media channels</li>
        <li>THREE "Promotion" (i.e., job opportunities or event details) posts to all official PyCon CZ social media channels</li>
        <li>TWO "Promotion" (i.e., job opportunities or event details) posts directly
          to all registered ticket holders; one per day</li>
        <li><strong>FIVE free conference tickets</strong></li>
        <li><strong><i>Net price: 4 000 EUR</i></strong></li>
      </ul>

      <h3 id="gold-sponsor">GOLD Sponsor</h3>
      <ul>
        <li>Sponsor booth in the Sponsors' booth area</li>
        <li>Right to place ONE Sponsor roll­up screen at the conference venue</li>
        <li>Right to place ONE Sponsor roll­up screen at the workshop venue</li>
        <li>Middle placement of Sponsor logo on <a href="https://cz.pycon.org">cz.pycon.org</a></li>
        <li>Middle placement of Sponsor logo on all recorded sessions at playback</li>
        <li>ONE Lightning Talk slots on topics of Sponsor's choice (recruiting/product marketing: OK)</li>
        <li>Option to include TWO items in attendee welcome bags (e.g., advertising leaflets, vouchers)
        <li>Option to include up to ONE Sponsor slides between presentations</li>
        <li>ONE public post about Sponsorship in all official PyCon CZ social media channels</li>
        <li>TWO "Promotion" (i.e., job opportunities or event details) posts to all
          all official PyCon CZ social media channels</li>
        <li>ONE "Promotion" (i.e., job opportunities or event details) post directly
          to all registered ticket holders; one per day</li>
        <li><strong>FOUR free conference tickets</strong></li>
        <li><strong><i>Net price: 3 000 EUR</i></strong></li>
      </ul>

      <h3 id="silver-sponsor">SILVER Sponsor</h3>
      <ul>
        <li>Sponsor booth in the Sponsors' booth area</li>
        <li>Right to place ONE Sponsor roll­up screen at the conference venue</li>
        <li>Bottom placement of Sponsor logo on <a href="https://cz.pycon.org">cz.pycon.org</a></li>
        <li>Option to include ONE item in attendee welcome bags (e.g., advertising leaflets, vouchers)
        <li>Option to include up to ONE Sponsor slides between presentations</li>
        <li>ONE public post about Sponsorship in all official PyCon CZ social media channels</li>
        <li><strong>THREE free conference tickets</strong></li>
        <li><strong><i>Net price: 1 500 EUR</i></strong></li>
      </ul>

      <h3 id="bronze-sponsor">BRONZE Sponsor</h3>
      <ul>
        <li>Sponsor name and link listed on <a href="https://cz.pycon.org">cz.pycon.org</a></li>
        <li>Option to include ONE item in attendee welcome bags (e.g., advertising leaflets, vouchers)
        <li>ONE public post about Sponsorship in all official PyCon CZ social media channels</li>
        <li><strong>TWO free conference tickets</strong></li>
        <li><strong><i>Net price: 500 EUR</i></strong></li>
      </ul>

      <h3 id="djangogirls-sponsor">DjangoGirls Sponsor</h3>
      <ul>
        <li><strong>Exclusive</strong> right to PyCon CZ 2016 DjangoGirls Sponsor Title</li>
        <li>Otherwise, equivalent to <a href="#gold-sponsor">GOLD Sponsor</a></li>
        <li><strong>FOUR free conference tickets</strong></li>
        <li><strong><i>Net price: 3 000 EUR</i></strong></li>
      </ul>

      <h3 id="coffee-sponsor">Coffee Sponsor (1 day)</h3>
      <ul>
        <li><strong>Exclusive</strong> right to brand coffee cups (e.g., stickers or stamps)</li>
        <li>Otherwise, equivalent to <a href="#bronze-sponsor">BRONZE Sponsor</a></li>
        <li><strong>TWO free conference tickets</strong></li>
        <li><strong><i>Conference Day 1: 1 000 EUR</i></strong></li>
        <li><strong><i>Conference Day 2: 1 000 EUR</i></strong></li>
        <li><strong><i>Workshop Day 1: 600 EUR</i></strong></li>
      </ul>

      <p> Other sponsorship opportunities exist as well, such as the priviledge and exclusive right to:</p>
      <ul>
        <li>provide branded lanyards to all attendees </li>
        <li>host and welcome speakers at the pre-conf Pyvec PyCon CZ Preview event </li>
        <li>sponsor and name Track rooms and Cloakroom</li>
        <li>host or contribute prizes for quiz or other interactive hiring or marketing
          oriented competitions and games</li>
      </ul>

      <h2 id="the-short-version">How to Apply</h2>
      <p>
        <strong>
          Reach out to <a href="mailto:info@pycon.cz">info@pycon.cz</a> when you're ready to discuss
          your options to sponsor the incredible PyCon CZ event in more detail!
        </strong>
      </p>

      <h2 id="the-short-version">Terms and Conditions</h2>
      <p>
        Sponsorship application is handled on a "ﬁrst-come, ﬁrst-served" basis.
      </p>
      <p>
        Sponsors should be committed to the use of the Python language and supportive of Python CZ's mission
        to honor and support awesome people teaching, learning and innovating with Python.
      </p>

      <p>
        The organisation of PyCon CZ 2016 is being carried out by Pyvec and volunteering members of the Python
        CZ community. All contracts and ﬁnancial matters are handled by Pyvec.
      </p>

      <p>
        Pyvec and the PyCon CZ Committee retain the right to reject any sponsor that they deem to be inappropriate.
      </p>

      <p>
        After written acceptance by the PyCon CZ Committee, the sponsor should provide the sponsorship funds,
        logo image in an appropriate format, and other details required within three weeks of receipt of the
        acceptance, and in any case one week before the start of the Conference.
      </p>

      <p>
        <strong>Sponsorship pledges cannot be processed without payment.</strong> All pledges must be made in
        Czech Koruna or Euros by electronic transfer. Bank details for electronic transfer will be sent on request.
      </p>

      <p>
        Sponsors may not sublet, assign or apportion any part of the item(s) sponsored nor represent, advertise
        or distribute literature or materials for the products or services of any other ﬁrm or organisation.
      </p>

      <p>
        Pyvec and the PyCon CZ Committee will not be liable for damage or loss to sponsors' properties by ﬁre,
        theft, accident or any other cause whether the result of negligence or otherwise or case of force majeure.
      </p>

      <p>
        For sponsorship packages that include the use of signage, please note that signage space may be limited.
        The conference organisers will inform each sponsor about the maximum size and number of signs that they
        can use. Banners must be self-supporting.
      </p>

      <h3 id="the-short-version">Refund Policy</h3>
      <ul>
        <li>50% Refund up to 30 days before the conference.</li>
        <li>No Refunds within 15 days before the conference.</li>
      </ul>

      <p>
        <strong>Sorry, full refunds are NOT possible! Thanks for your understanding.</strong>
      </p>

    </div>
  </div>
{% endblock %}
