{% load widget_tweaks %}

{% with field_obj.field.widget.input_type as input_type %}
    <div class="form-group pc-field-name--{{ field_obj.html_name }}">
        {% if input_type == 'checkbox' %}
            <div class="form-check">
                {% render_field field_obj class="form-check-input" %}
                {{ field_obj.label_tag }}
                {% if field_obj.help_text %}
                    <small class="form-text">{{ field_obj.help_text|safe|linebreaksbr }}</small>
                {% endif %}
            </div>
        {% else %}
            {{ field_obj.label_tag }}

            {% if not input_type or input_type == 'file' and field_obj.help_text %}
                <small class="form-text">{{ field_obj.help_text|safe|linebreaksbr }}</small>
            {% endif %}

            {% if form.is_bound %}
                {% if field_obj.errors %}
                    {% render_field field_obj class="form-control is-invalid" %}
                    {% for error in field_obj.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field_obj class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field_obj class="form-control" %}
            {% endif %}

            {% if input_type and input_type != 'file' and field_obj.help_text %}
                <small class="form-text">{{ field_obj.help_text|safe|linebreaksbr }}</small>
            {% endif %}

        {% endif %}
    </div>
{% endwith %}