{% extends '_layout.html' %}

{% load static %}



{% block meta_title %}Information for Financial Aid Grantees – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container pb-5">
        <h1 class="pc-h1-shrinking">Information for Financial Aid Grantees</h1>

        <h2>General Rules</h2>

        <div class="pc-multicol">
            <p class="lead">Grant is awarded to you personally. <br>Transfers to other people are not possible.</p>
            <p class="lead">The financial aid grants are fulfilled only to registered attendees actually attending the&nbsp;conference.</p>
            <p class="lead">If you find that you cannot attend the conference for some reason, please send an&nbsp;email to <a href="mailto:info@pycon.cz">info@pycon.cz</a> informing us, so that we can allocate the funds and/or tickets to someone else.</p>
        </div>

        <h2>Financial Aid for tickets</h2>
        <p>Financial Aid for tickets is the simplest: we will send you a link to register a free ticket.</p>

        <h2>Financial Aid for other costs</h2>

        <div class="row">
            <div class="col-md-auto">
                <h3 class="mt-md-2">May cover</h3>
                <ul>
                    <li>accommodation costs</li>
                    <li>travel costs</li>
                    <li>other items agreed when granting Financial Aid</li>
                </ul>
            </div>
            <div class="col-md">
                <h3 class="mt-md-2">Will not cover</h3>
                <ul>
                    <li>food and beverages (if your accommodation provides food and it is not listed separately on the receipt it can be covered by the grant)</li>
                    <li>costs up to 10 EUR or 250 CZK or equivalent in other currencies</li>
                </ul>
            </div>
        </div>


        <h3>Financial Aid amount</h3>
        <div class="pc-multicol">
            <p>You’re granted an amount in EUR or CZK which is a <b>top limit</b> of what you’ll be reimbursed by PyCon&nbsp;CZ in total.</p>
            <p>PyCon&nbsp;CZ reimburses <strong>real costs only</strong> so the final amount might be lower than granted if you won’t need it.</p>
            <p>If your costs are larger than your grant, you’ll only be reimbursed up to the granted amount.</p>
            <p>Your costs in other currencies will be reimbursed in&nbsp;CZK or&nbsp;EUR.</p>
            <p>Reimbursements of costs paid in other currencies will be converted using exchange rate for CZK at the time of&nbsp;reimbursement.</p>
        </div>

        <h3>Reimbursement process</h3>
        <ol class="lead">
            <li>Pay everything yourself.</li>
            <li>Provide documents proving it.</li>
            <li>Get reimbursed.</li>
        </ol>

        <h4>1. Pay everything yourself</h4>
        <p>We don't cover costs before PyCon CZ starts but if you’re really not able to do it, ask us.</p>


        <h4>2. Provide documents proving it</h4>

        <div class="row">
            <div class="col-md-5 col-lg">
                <p>PyCon CZ only covers costs for which you’re able to provide original documents proving the fact (receipts, invoices, bills etc.)</p>
                <p>We trust you, but the law requires us to have them. We need the documents even in the case of a partial reimbursement.</p>
            </div>
            <div class="col-md-6 col-lg">
                <ul>
                    <li>Send <b>electronic documents</b> to&nbsp;<a href="mailto:info@pycon.cz">info@pycon.cz</a>.</li>
                    <li>If you happen to have <b>only paper documents</b> mail <b>originals</b> to <i>Pyvec, Ječná&nbsp;507/6, 12000 Praha&nbsp;2, Czech Republic</i> or deliver them personally to the registration desk at PyCon&nbsp;CZ on Friday or Saturday from 16:15 to 16:40 where a dedicated organizer will be waiting for you.</li>
                </ul>
            </div>
            <div class="col-lg">
                <p>Each document should have:</p>

                <ol>
                    <li>Identification of payee (i.e. name, tax ID if applicable)</li>
                    <li>The date of the transaction</li>
                    <li>The amount of the transaction</li>
                </ol>
                <p><b>Always include your full name with the documents.</b></p>
            </div>
        </div>


        <h4>3. Get reimbursed</h4>
        <div class="pc-multicol">

            <p>The reimbursement will be sent <strong>after</strong> you provide all necessary documents and information.</p>
            <p>It can be done using one of these methods:</p>
            <ul>
                <li>To your <b>PayPal</b> account (preferred)</li>
                <li>By a <b>bank transfer</b> (less preferred if to a non-EU country)</li>
                <li>And the least preferred: <b>in cash</b> (CZK only) at PyCon&nbsp;CZ on&nbsp;Friday and Saturday from 16:15 to 16:40 at the registration desk.
                    <br>Only available if you ask us about this option at least a&nbsp;week before.
                </li>
            </ul>

            <p>The money will be sent in 30 days after you provide everything necessary.</p>

            <p>If you’re not able to provide the required documents before the end of July 2019, your claim to reimbursement will void.</p>

        </div>

    </div>
{% endblock %}
