{% extends "_layout.html" %}


{% block meta_title %}{{ proposal_config.cfp_title|safe }} – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container">

        <h1>{{ proposal_config.cfp_title|safe }}</h1>

        {% if proposal_config.key == "financial-aid" %}
            <p>
                Financial aid applications <b>close on {{ proposal_config.date_end | date:'d F' }}</b>.
                <br>More about <a href="{% url 'proposal_about' key='financial-aid' %}">Financial Aid</a> programme.
            </p>
            <p>
                All answers will be used only to evaluate eligibility for Financial Aid and will be handled according to <a href="{% url "about_privacy" %}">PyCon CZ Privacy Policy</a>.
            </p>
        {% else %}
            <p>
            The Call for Proposals will close on {% block deadline %}February&nbsp;28,&nbsp;2019,&nbsp;23:59&nbsp;CET{% endblock %}.
            </p>
        {% endif %}
    </div>

    <form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

        {% if form.non_field_errors %}
            <div class="container">
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if proposal_config.key != "financial-aid" %}
            <div class="container">

                <h2>Public information</h2>
                <p>The following information will be displayed publicly if your proposal is selected. <strong>We check and proofread everything before publishing but please make our volunteer jobs easier and make sure we don’t have much to do.</strong></p>

                    {% include 'proposals/__form-field.html' with field_obj=form.language %}
                    {% if proposal_config.key == 'workshops' %}
                        {% include 'proposals/__form-field.html' with field_obj=form.type %}
                        {% include 'proposals/__form-field.html' with field_obj=form.length %}
                    {% endif %}
                    {% include 'proposals/__form-field.html' with field_obj=form.title %}
                    {% include 'proposals/__form-field.html' with field_obj=form.abstract %}
                    {% include 'proposals/__form-field.html' with field_obj=form.difficulty %}

                    <p class="font-italic small">If you are a speaker pair, write information about both of you in one field.</p>
                    {% include 'proposals/__form-field.html' with field_obj=form.full_name %}
                    {% include 'proposals/__form-field.html' with field_obj=form.bio %}
                    {% include 'proposals/__form-field.html' with field_obj=form.photo %}
                    {% include 'proposals/__form-field.html' with field_obj=form.twitter %}
                    {% include 'proposals/__form-field.html' with field_obj=form.github %}
                </div>
            </div>
        {% endif %}

        <div class="container">
            {% if proposal_config.key != "financial-aid" %}
                <h2>Private information</h2>
                <p class="text-center">The following information will <b>not</b> be displayed publicly.</p>
            {% endif %}

            {% if proposal_config.key == "financial-aid" %}
                {% include 'proposals/__form-field.html' with field_obj=form.full_name %}
            {% endif %}
            {% include 'proposals/__form-field.html' with field_obj=form.email %}
            {% include 'proposals/__form-field.html' with field_obj=form.amount %}
            {% include 'proposals/__form-field.html' with field_obj=form.purpose %}
            {% include 'proposals/__form-field.html' with field_obj=form.python_involvement %}
            {% if proposal_config.key == "financial-aid" %}
                {% include 'proposals/__form-field.html' with field_obj=form.community_involvement %}
            {% endif %}
            {% include 'proposals/__form-field.html' with field_obj=form.referral_link %}
            {% include 'proposals/__form-field.html' with field_obj=form.needs_finaid %}
            {% include 'proposals/__form-field.html' with field_obj=form.finaid_details %}

            {% if proposal_config.key == 'workshops' %}
                {% include 'proposals/__form-field.html' with field_obj=form.requirements %}
            {% endif %}
            {% include 'proposals/__form-field.html' with field_obj=form.final_note %}
            {% include 'proposals/__form-field.html' with field_obj=form.gdpr_consent %}

            <p>Please note that you won’t receive any copy of your {% if proposal_config.key == "financial-aid" %}application{% else %}proposal{% endif %} to your mailbox.</p>

            <button type="submit" class="btn btn-lg btn-primary mb-5">
                Submit your<br class="d-sm-none"> {% if proposal_config.key == "financial-aid" %}application{% else %}proposal{% endif %}
            </button>
        </div>

        {% comment %}
        {# iterate over all fields #}
        {% for field in form.visible_fields %}
            {% include 'proposals/__form-field.html' with field_obj=field %}
        {% endfor %}
        {% endcomment %}
    </form>

    {% if proposal_config.key != "financial-aid" %}
        <script>
            window.onload = function(){
                var extra = document.querySelector('.pc-field-name--finaid_details');
                var controlInput = document.querySelector('#id_needs_finaid');

                if (controlInput && extra){
                    function toggleInput(){
                        if (controlInput.checked){
                            extra.classList.remove('sr-only');
                        } else {
                            extra.classList.add('sr-only');
                        }
                    }

                    toggleInput();
                    controlInput.addEventListener('change', toggleInput, false);
                }
            }
        </script>
    {% endif %}

{% endblock %}
