{% if type %}
    {% url url type=type as link %}
{% elif key %}
    {% url url key=key as link %}
{% else %}
    {% url url as link %}
{% endif %}

{% if link %}
    {% if request.path != '/2019/' or  link != '/2019/' or extra %} {# hide link to homepage on homepage #}
        <a
            class="
                nav-link
                {{ class }}
                {% if request.path == link and not extra %}active{% endif %}
            "
            {% if request.path == link and not extra %}
            aria-current="page"
            {% else %}
            href="{{ link }}{{ extra }}"
            {% endif %}
        >
            {{ link_text }}
        </a>
    {% endif %}
{% elif debug %}
    <span class="nav-link" style="color:red;background-color:yellow;">No URL for {{ url }}:{{ type }}</span>
{% endif %}
