{% if type %}
    {% url url type=type as link %}
{% elif key %}
    {% url url key=key as link %}
{% else %}
    {% url url as link %}
{% endif %}

{% if link %}
    <a
        class="
            nav-link
            {% if request.path == '/2019/' and  link == '/2019/' and not extra %} {# hide link to homepage on homepage #}
                d-none d-sm-block
            {% endif %}
            {{ class }}
            {% if request.path == link and not extra %}active{% endif %}
        "
        {% if request.path == link and not extra %}
            aria-current="page"
        {% else %}
            href="{{ link }}{{ extra }}"
        {% endif %}
    >
        {{ link_text }}
    </a>
{% elif debug %}
    <span class="nav-link" style="color:red;background-color:yellow;">No URL for {{ url }}:{{ type }}</span>
{% endif %}