{% extends "pages/tickets.html" %}


{% block finaid_info %}{% endblock %}


{% block main %}
    {% with total_sold_out=1 %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block workshop_registration %}
    <h2 id="workshops">Workshop registration</h2>
    <p class="small bg-ginger text-black p-1 px-2 font-weight-bold">
            Please read the following rules. Registrations not following them will be&nbsp;voided.
    </p>
    <ol>
        <li>Registration for <a href="{% url "speakers_list" type="workshops" %}">workshops</a> is available for PyCon CZ ticket holders <b class="text-yellow">only</b>.</li>
        <li>Use the same e-mail and name you used for your ticket.</li>
        <li>You can register for <a class="text-light" href="/2018/programme/detail/workshop/13/">Networking for Geeks</a> (Friday 9:00) <br>plus <b class="text-yellow">one</b> Sunday workshop from 10:00 <br>plus <b class="text-yellow">one</b> Sunday workshop from 14:00.</li>
        <li>There’s a waiting list for full workshops.<br>Cancel your registration if you can’t come so somebody else can attend!</li>
        <li>Do not join waiting lists for the same time you have registered for another workshop.</li>
    </ol>

    <div class="row justify-content-center">
        <a href="https://ti.to/pyvec/pycon-cz-2018" class="pc-tito-link-workshops">
            <tito-button event="pyvec/pycon-cz-2018">
                I’ve read the information <br class="d-sm-none">above <br class="d-md-none"> and want to register <br class="d-sm-none"> for workshops.
            </tito-button>
        </a>
    </div>



{% endblock %}