html,
body {
  margin: 0;
  padding: 0;
}

html {
  @include vr-init;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // only for development
  //@include vr-grid;
}

::-moz-selection {
  color: $color-light;
  background-color: $color-main;
}

::selection {
  color: $color-light;
  background-color: $color-main;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
