footer {
  background-image: url("/2018/static/img/grid.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 15px 20px 15px;
  margin-top: vr(1);

  @media (max-width: 768px) {
    text-align: center;
  }

  .nav-footer {
    @include clearfix;
    list-style: none;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 1em;

    li { flex: auto; }

    a {
      display: block;
      padding: 0.5em 1em 0.5em 0;
      margin-right: 1em;
    }
  }

}

.social-links {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      transition: transform 0.3s, padding-top 0.3s;
      transform-origin: middle center;

      a {
        display: block;
        font-size: 22px;
        padding: 5px;
        height: 25px;
      }

      a:active {
        color: darken($color-main, 5%);
        transition: unset;
        transform: scale(0.8);
      }

      &:hover {
        transform: scale(1.15);
        padding-top: 0;
      }
    }
  }
}
