.cta-cfp {
  $size: 16px;
  $baseline: vr-scale($size);
  $half-line: vr(.5, $baseline);
  display: inline-block;
  max-width: 14em;
  margin: $half-line 0 calc(#{$half-line} - 2px); // substract border
  padding: $half-line;
  color: white;
  background-color: $color-main;
  border-radius: 2px;
  transition: background-color 0.3s, font-weight 0.3s;
  font-size: $size;
  line-height: $baseline;
  text-align: center;

  &:hover {
    color: white;
    background-color: darken($color-main, 10%);
  }
  &:active {
    background-color: white;
    color: darken($color-main, 10%);
  }
}

.form {
  $label-width: 240px;
  $widget-width: 360px;
  $row-height: 2em;

  h1 {
    margin-left: $label-width;
  }

  &__row {
    margin-bottom: vr(1);

    &::after {
      display: table;
      content: " ";
      clear: both;
    }
  }

  %common {
    display: block;
    margin: vr(.5) 0 calc(#{vr(.5)} - 1px);
    float: left;
    color: $color-text-base;
    font-family: $secondary-font;
  }

  %full-row {
    display: block;
    margin-left: $label-width;
    clear: left;
  }

  &__label {
    @extend %common;
    width: $label-width;
    padding-right: 10px;
    text-align: right;
  }

  &__widget {
    @extend %common;
    width: $widget-width;

    @media (max-width: 480px) {
      display: block;
      width: 100%;
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    height: 100%;
    border: 1px solid $color-main;
    outline: none;
    color: $color-text-base;
    font-family: $secondary-font;
    font-size: inherit;
    padding-left: 5px;
    padding-right: 5px;
  }

  textarea {
    vertical-align: top;
    height: vr(10);
  }

  select {
    background: white;
  }

  input[type="file"] {
    border: 0;
    font-size: $font-small;
  }

  &__errors {
    @extend %full-row;
    margin-left: $label-width;
    color: $color-accent;
    font-size: $font-small;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    @media (max-width: 480px) {
      position: relative;
      //margin: 20px 0 -10px;
      padding-left: 20px;
    }
  }

  &__help {
    @extend %full-row;
    $size: 14px;
    $baseline: vr-scale($size);
    width: $widget-width;
    font-size: $size;
    line-height: $baseline;

    br {
      line-height: vr(2, $baseline);
    }
  }

  &__actions {
    margin-left: $label-width;
  }

  button {
    cursor: pointer;
    padding: vr(0.3) 25px;
    margin-bottom: calc(#{vr(0.4)} - 2px);
    border-radius: 2px;
    background: $color-light;
    border: solid 1px $color-main;
    transition: background-color 0.3s, font-weight 0.3s;
    font-size: $font-big;

    &:active {
      font-weight: 700;
    }

    &:hover {
      background-color: $color-main;
      color: $color-light;
    }
  }
}
