.pyconlogo {
  display: inline-block;

  img {
    max-width: 280px;
    margin: 30px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      display: block;
      margin: 30px auto;
      width: 100%;
    }
  }
}

.header-title {
  $size: 29px;
  $heading-baseline: vr-scale($size);
  line-height: $heading-baseline;
  vertical-align: middle;
  display: inline-block;
  font-family: $secondary-font;
  margin: 15px 30px;
  text-align: left;

  .homepage & {
    text-align: center;
    display: block;
  }
}

header {
  .container {
    border-bottom: solid 1px $color-light;
    text-align: center;
  }
}

.nav {
  width: 100%;

  &__items {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    $size: 16px;
    $baseline: vr-scale($size);
    font-size: $size;
  }

  &__item {
    list-style: none;
    text-align: center;
    flex: auto;
  }

  &__link {
    display: block;
    padding: 1em 1em;
    line-height: 1;
  }
}

.nav--programme {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1em;
  border-bottom: 1px solid $color-light;

  .nav__item {
    flex: 1 1 30%;
    font-size: 1.4rem;
  }
}