.sponsor {
  @include clearfix;
}

.sponsor__level {
  border-bottom: 1px solid $color-main;

  @media (min-width: $mobile-break) {
    border-bottom: none;
  }
}

.sponsor__text,
.sponsor__level,
.sponsor__title,
.sponsor__link,
.sponsor__description {
  text-align: left;

  @media (min-width: $mobile-break) {
    margin-left: 23%;
  }
}

.sponsor__title {
  margin-top: 1em;
  margin-bottom: 10px;

  @media (min-width: $mobile-break) {
    margin-top: 2em;
  }
}

.sponsor__logo {
  width: 40%;
  height: auto;
  margin-top: 2em;

  @media (min-width: $mobile-break) {
    float: left;
    width: 20%;
    margin-top: 0;
  }
}

.sponsor__link {
  display: block;
  font-size: 0.8em;
}

.sponsors,
.sponsors__item {
  list-style: none;
}

.sponsors__level {
  display: block;
  font-weight: bold;
  text-align: center;
}

.sponsors__level-group {
  margin-top: 3em;
  text-align: center;
  margin-bottom: vr(2);
}

.sponsors__item {
  display: inline-block;
  margin: 1em 0;

  img {
    width: 80%;
    height: auto;
  }

  .sponsors--platinum & {
    width: 50%;
  }

  .sponsors--gold & {
    width: 40%;
  }

  .sponsors--silver & {
    width: 30%;
  }

  .sponsors--bronze &,
  .sponsors--media &,
  .sponsors--partners &,
  .sponsors--diversity & {
    width: 25%;
  }

  @media (max-width: 480px) {
    img { width: 100%; }
    .sponsors--platinum & { width: 60%; }
    .sponsors--gold & { width: 50%; }
    .sponsors--silver & { width: 40%; }

    .sponsors--bronze &,
    .sponsors--media &,
    .sponsors--partners &,
    .sponsors--diversity & { width: 35%; }
  }
}
