{% extends "pages/homepage.html" %}


{% block tickets %}{% endblock %}


{% block thanks %}
    <div class="container-fluid pc-gradient-yellow-lime text-black py-3">
        <h2 class="mt-0 mb-2 text-black">PyCon CZ 2018 is over</h2>
        <p class="mb-0 text-center">Thank you all for coming.<br>You were <strong>awesome</strong>.<br>See you in 2019!</p>
    </div>
    <div class="container-fluid mb-3 mb-lg-4">
        <p class="text-center mt-2">Did you forget something at the venue? Do you have any questions? <a href="mailto:info@pycon.cz">Contact us!</a></p>
    </div>
{% endblock %}


{% block video %}
    <div class="container mb-4 mb-lg-5">
        <h2>Streams from talks</h2>
        <p class="lead">Videos from all talks will be available later. You can watch uncut recordings until then.</p>

        <h3>Friday</h3>
        <div class="row">
            <div class="col">
                <a class="btn btn-lg btn-orchid btn-block" href="https://www.youtube.com/watch?v=cIaZzjYeUL4">Main</a>
            </div>
            <div class="col">
                <a class="btn btn-lg btn-yellow btn-block" href="https://www.youtube.com/watch?v=SlG4SYfXTbI">Theatre</a>
            </div>
        </div>

        <h3>Saturday</h3>
        <div class="row">
            <div class="col">
                <a class="btn btn-lg btn-orchid btn-block" href="https://www.youtube.com/watch?v=I5DmlKniTO0">Main</a>
            </div>
            <div class="col">
                <a class="btn btn-lg btn-yellow btn-block" href="https://www.youtube.com/watch?v=6rfOJJjfz-g">Theatre</a>
            </div>
        </div>
    </div>
{% endblock %}