{% regroup sponsors by get_level_display as sponsors_list %}

<ul class="sponsors">
    {% for level in sponsors_list %}
        <li class="pc-sponsor-level-{{ level.grouper|lower }}">
            <span>{{ level.grouper }}</span>
            <ul class="sponsors__list">
                {% for sponsor in level.list %}
                    <li>
                        <a href="{{ sponsor.link_url }}">
                            <img class="img-fluid" src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
