{% regroup sponsors by get_level_display as sponsors_list %}

{% if sponsors %}
    <h2>Our partners</h2>

    <section class="pc-sponsors mb-5">
        {% for level in sponsors_list %}
            <div class="pc-sponsors-level-{{ level.grouper|lower }}">
                <h3>{{ level.grouper }}</h3>
                {% for sponsor in level.list %}
                    <p class="text-center my-5">
                        <a href="{{ sponsor.link_url }}" class="d-block mx-auto">
                            <img
                                class="img-fluid"
                                src="{{ sponsor.logo.url }}"
                                alt="{{ sponsor.name }}"
                                style="max-width: 25rem;max-height: 2.5rem;"
                            >
                        </a>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
{% endif %}
