{% regroup sponsors by get_level_display as sponsors_list %}

<ul class="sponsors">
  {% for level in sponsors_list %}
    <li class="sponsors__level-group sponsors--{{ level.grouper|lower }}">
      <span class="sponsors__level">{{ level.grouper }}</span>
      <ul class="sponsors__list">
        {% for sponsor in level.list %}
          <li class="sponsors__item">
            <a href="{{ sponsor.link_url }}">
              <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
