{% extends "_layout.html" %}



{% block meta_title %}Sponsors and partners – {{ block.super }}{% endblock %}


{% block main %}
    {% regroup sponsors_list by get_level_display as sponsor_levels %}

    <div class="container">
        <h1>Sponsors and partners</h1>

        <p class="lead">We’re grateful to companies that help us organize PyCon CZ and allow keeping ticket prices as low as possible.</p>

        <p>Do you want to sponsor us too? Check out <a href="{% url "sponsors_offer" %}">our offer</a> or <a href="mailto:info@pycon.cz">contact us.</a></p>

        {# todo: finish the design of sponsor list #}
        {% comment %}
        {% for level in sponsor_levels %}
            <h2>{{ level.grouper }}</h2>

            {% for sponsor in level.list %}
                <div class="pc-sponsor-level-{{ level.grouper|lower }}">
                    <img class="img-fluid" src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">

                    <h3>{{ sponsor.name }}</h3>

                    <a href="{{ sponsor.link_url }}">{{ sponsor.link_url }}</a>

                    <p>{{ sponsor.description }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        {% endcomment %}
    </div>
{% endblock %}
