{% comment %}
This is a base menu template containing all items,
other menus mostly remove these links when not needed.

If you want to remove menu item globally, comment it out here.

{% endcomment %}
<ul class="nav w-100 justify-content-{{ pc_alignment }}">
    {% block menu_items %}
        {% block link_home %}
            {% include "__nav-link.html" with url="homepage" link_text="Home" class="pc-nav-link-hide-active" %}
        {% endblock %}

        {% block link_about_city %}
            {% include "__nav-link.html" with url="city" link_text="Ostrava" %}
        {% endblock %}

        {% block link_venue %}
            {% include "__nav-link.html" with url="venue" link_text="Venue" %}
        {% endblock %}

        {% block link_call_for_papers %}
            {% include "__nav-link.html" with url="proposals" link_text="Call for Papers" %}
        {% endblock %}

        {% block link_team %}
            {% include "__nav-link.html" with url="team_list" link_text="Team" %}
        {% endblock %}

        {% block link_coc %}
            {% include "__nav-link.html" with url="about_code" link_text="Code of Conduct" %}
        {% endblock %}

        {% block link_privacy_policy %}
            {% include "__nav-link.html" with url="about_privacy" link_text="Privacy Policy" %}
        {% endblock %}

        {% block link_financial_aid %}
            {% include "__nav-link.html" with url="proposal_about" key='financial-aid' link_text="Financial Aid" %}
        {% endblock %}

{% comment %}
        {% block link_about %}
            {% include "__nav-link.html" with url="about" link_text="About" %}
        {% endblock %}

        {% block link_tickets %}
            {% include "__nav-link.html" with url="tickets" link_text="Tickets" class="pc-nav-link-highlight" %}
        {% endblock %}

        {% block link_talks %}
            {% include "__nav-link.html" with url="speakers_list" type="talks" link_text="Talks" %}
        {% endblock %}

        {% block link_workshops %}
            {% include "__nav-link.html" with url="speakers_list" type="workshops" link_text="Workshops" %}
        {% endblock %}

        {% block link_schedule %}
            {% include "__nav-link.html" with url="programme_schedule" link_text="Schedule" %}
        {% endblock %}

        {% block link_board_game_night %}
            {% include "__nav-link.html" with url="board_game_night" link_text="Board Game Night" %}
        {% endblock %}

        {% block link_sponsors %}
            {% include "__nav-link.html" with url="sponsors_list" link_text="Sponsors" %}
        {% endblock %}

        {% block link_sponsorship %}
            {% include "__nav-link.html" with url="sponsors_offer" link_text="Sponsorship" %}
        {% endblock %}

        {% block link_financial_aid %}
            {% include "__nav-link.html" with url="proposal_about" key='financial-aid' link_text="Financial Aid" %}
        {% endblock %}

{% endcomment %}
    {% endblock %}
</ul>
