{% extends "_layout.html" %}

{% load widget_tweaks %}


{% block meta_title %}Call for Papers – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container">

        <h1>{{ proposal_config.cfp_title }}</h1>

        <p class="text-center">The Call for Proposals will close on February 28, 2018.</p>
        <p class="text-center mb-5">If you are a speaker pair, just write information about both of you in one field.</p>

        <form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group pc-field-name--{{ field.html_name }}">

                    {% if field.field.widget.input_type == 'checkbox' %}
                        <div class="form-check">
                            {% render_field field class="form-check-input" %}
                            {{ field.label_tag }}
                        </div>
                    {% else %}
                        {{ field.label_tag }}

                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}
                    {% endif %}


                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe|linebreaksbr }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-lg btn-primary">Submit proposal</button>
        </form>


    </div>
    <script>
        window.onload = function(){
            var extra = document.querySelector('.pc-field-name--finaid_details');
            var controlInput = document.querySelector('#id_needs_finaid');

            if (controlInput && extra){
                function toggleInput(){
                    if (controlInput.checked){
                        extra.classList.remove('sr-only');
                    } else {
                        extra.classList.add('sr-only');
                    }
                }

                toggleInput();
                controlInput.addEventListener('change', toggleInput, false);
            }
        }
    </script>
{% endblock %}
