{% extends "_layout.html" %}

{% load static %}
{% load sponsors_tags %}
{% load formatting %}


{% block header_logo_classes %}col-md-9 col-xl-10{% endblock %}
{% block header_text_classes %}h1{% endblock %}


{% block main %}
    <div class="container pb-3">
        <p class="lead">
            <strong>PyCon CZ</strong> aims to be the largest annual gathering for the <strong>Python community</strong> in the <strong>Czech&nbsp;Republic</strong>.
            <br>It's focused on honoring and supporting <strong>awesome people</strong> teaching, learning and innovating with Python in Czech Republic and <strong>surrounding EU</strong>.
        </p>
    </div>

    {% block thanks %}{% endblock %}

    {% block stream %}{% endblock %}

    {% block tickets %}
        <div class="container mb-4">
            <p class="text-center">
                <a class="btn btn-lg display-1 btn-yellow" href="{% url 'tickets' %}">Tickets are available!</a>
            </p>
        </div>
    {% endblock %}

    {% block venue_dates %}

        {% block venue %}
            <div class="py-2 pc-gradient-navy-cyan">
                <div class="container">
                    <h3 class="my-3 text-black">Venues and Events</h3>

                    <div class="row justify-content-center">
                        <div class="col-12 col-sm col-lg-4 text-center text-white">
                            <div class="px-2 py-3 pc-gradient-orchid-violetred">
                                <address class="m-0">
                                    <h4 class="m-0">Meet Factory</h4>
                                    Ke Sklárně 3213/15, Praha 5 – Smíchov
                                </address>
                                <p><a href="https://goo.gl/maps/bPeAGgy9sPx">Map</a></p>
                                <h5 class="h4 mt-3 mb-0 text-white">
                                    <small>1-2&nbsp;June</small>
                                    <a class="d-block" href="{% url 'speakers_list' type='talks' %}">
                                        Talks
                                    </a>
                                </h5>
                                <h5 class="h4 mt-3 mb-0 text-white">
                                    <small>1&nbsp;June</small>
                                    <a class="d-block" href="{% url 'board_game_night' %}">
                                    Board Game Night
                                </a>
                                </h5>
                                <h5 class="h4 mt-3 mb-0 text-white">
                                    <small>2&nbsp;June</small>
                                    <span class="d-block">
                                    Afterparty
                                </span>
                                </h5>
                            </div>

                        </div>

                        <div class="col-12 col-sm col-lg-4 text-center text-white">
                            <div class="px-2 py-3 pc-gradient-navy-cyan">
                                <address class="m-0">
                                    <h4 class="m-0">FIT CTU</h4>
                                    Thákurova 9, Praha 6 – Dejvice
                                </address>
                                <p><a href="https://goo.gl/maps/ZA3DoxKdt3m">Map</a></p>

                                <h5 class="h4 mt-3 mb-0 text-white">
                                    <small>3&nbsp;June</small>
                                    <a class="d-block" href="{% url 'speakers_list' type='workshops' %}">
                                        Workshops
                                    </a>
                                    and Sprints
                                </h5>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 text-center"><a href="{% url 'programme_schedule' %}">Complete schedule</a></p>
                </div>
            </div>
        {% endblock %}

    {% endblock %}

    {% block city %}
        <div class="pc-gradient-yellow-cyan text-dark py-2">
            <div class="container">
                <h2 class="h3 mt-3 text-dark">Prague, mother of all cities</h2>
                <div class="row">
                    <div class="col-md">
                        <p>Welcome to <strong>Prague</strong>, one of the most beautiful capitals of Europe. You will surely have a great time, whether you are only staying for the conference or you will take a couple of days to look around.</p>

                    </div>
                    <div class="col-md">
                        <p>Endless touristy places, not one, but <strong>two castles</strong>, excellent food and drinks on every corner, dozens of parks, 4<sup>th</sup> best ZOO in the world, a river and much more. And of course, what better time to visit than <strong>summertime</strong>! <a class="text-orchid" href="{% url "about_city" %}">More about Prague…</a></p>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}

    {% block keynoters %}
        {% if keynoters %}
            <div class="pc-gradient-orchid-orchidred-reversed text-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-0 text-yellow">Keynote speakers</h2>
                        </div>
                        {% for keynoter in keynoters %}
                            <div class="row no-gutters {% if forloop.first %}mt-3 mb-md-3{% else %}my-md-3{% endif %} align-items-start">
                                <div class="col-12 col-md-6 col-lg-5 col-sm-9 mx-sm-auto mx-md-0 {% if forloop.counter|divisibleby:2 %}order-md-2{% endif %}">
                                    <div class="

                                            pc-speaker-photo
                                            {% if forloop.counter|divisibleby:2 %}pc-speaker-photo-right{% endif %}
                                            {% if forloop.counter == 1 %}pc-speaker-photo-yellow{% endif %}
                                            {% if forloop.counter == 2 %}pc-speaker-photo-blue{% endif %}
                                            {% if forloop.counter == 3 %}pc-speaker-photo-green{% endif %}
                                            {% if forloop.counter == 4 %}pc-speaker-photo-orchid{% endif %}
                                            {% if forloop.counter == 5 %}pc-speaker-photo-cyan{% endif %}
                                        ">
                                        <img class="img-fluid" src="{{ keynoter.photo.url }}" alt="">
                                    </div>
                                </div>

                                <div class="pc-speaker-text col-md-6 col-lg-5 align-self-center {% if forloop.counter|divisibleby:2 %}offset-lg-2 order-md-1{% endif %}">
                                    <h3 class="mt-0 mb-1 text-warning">{{ keynoter.full_name }}</h3>
                                    {% if keynoter.twitter or keynoter.github %}
                                        <p class="row no-gutters text-yellow text-center small justify-content-center">
                                            {% if keynoter.twitter %}
                                                <span class="col">TW:&nbsp;<a href="http://twitter.com/{{ keynoter.twitter }}">@{{ keynoter.twitter }}</a></span>
                                            {% endif %}
                                            {% if keynoter.github %}
                                                <span class="col">GH:&nbsp;<a href="https://github.com/{{ keynoter.github }}">{{ keynoter.github }}</a></span>
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                </div>

                                <div
                                    class="
                                        pc-speaker-short-bio
                                        col-12 col-lg-8 pt-2 px-2
                                        {% if forloop.counter|divisibleby:2 %}
                                            offset-lg-2 order-md-3 pc-gradient-yellow-lime
                                        {% else %}
                                            offset-lg-3 pc-gradient-yellow-lime-reversed
                                        {% endif %}
                                        "
                                >
                                    {{ keynoter.short_bio|markdown }}
                                    {% with talk=keynoter.talks.all|first %}
                                        {% if talk.title != 'TBD' %}
                                            <p>
                                                {{ keynoter.full_name|truncatewords_html:1|cut:' ...' }}’s talk:
                                                <a class="text-orchid" href="{% url 'talk_detail' type='talk' talk_id=talk.id %}">
                                                    {{ talk.title }}
                                                </a>
                                            </p>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% comment %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/venjk_cL-Gk?rel=0" allowfullscreen></iframe>
        </div>
    {% endcomment %}

    {% block partners %}
        {% sponsors %}
    {% endblock %}

    <div class="container">

        <h2>What attendees said about PyCon&nbsp;CZ 2017</h2>

        <p class="my-4 my-lg-5">
            Really had a great time at <a href="https://twitter.com/hashtag/PyConCZ?src=hash&amp;ref_src=twsrc%5Etfw">#PyConCZ</a>. Great talks, conversations and an awesome community 🎉😀 <a href="https://t.co/Bq58pOFjlp">pic.twitter.com/Bq58pOFjlp</a>
            <span class="d-block small text-right">Alexander CS Hendorf (@hendorf) <a href="https://twitter.com/hendorf/status/873529334916681728">June 10, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            I never thought I&#39;d attend an IT conference... Really enjoyed <a href="https://twitter.com/hashtag/PyConCZ?src=hash&amp;ref_src=twsrc%5Etfw">#PyConCZ</a>. Great people, cool venue and even a conference dog. Thanks! <a href="https://t.co/nSGxtOJfCB">https://t.co/nSGxtOJfCB</a>
            <span class="d-block small text-right">Karla Fejfarová (@karlafej) <a href="https://twitter.com/karlafej/status/873569478004617216">June 10, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            It&#39;s gonna be hard to find such a good place with as many amazing an lovely people as I did at <a href="https://twitter.com/hashtag/PyConCZ?src=hash&amp;ref_src=twsrc%5Etfw">#PyConCZ</a>, thank you guys for everything! 🐍❤🇨🇿
            <span class="d-block small text-right">Moisés Guimarães (@moisesguimaraes) <a href="https://twitter.com/moisesguimaraes/status/874214577348763648">June 12, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            Best conference dog ever. <a href="https://twitter.com/hashtag/PyConCZ?src=hash&amp;ref_src=twsrc%5Etfw">#PyConCZ</a> <a href="https://t.co/64P704ZPFs">pic.twitter.com/64P704ZPFs</a>
            <span class="d-block small text-right">Adina Foxova (@AdinaFXV) <a href="https://twitter.com/AdinaFXV/status/873204515612368896">June 9, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            <a href="https://twitter.com/hashtag/PyConCZ?src=hash&amp;ref_src=twsrc%5Etfw">#PyConCZ</a> 2017 is over, but you can always sing with them and look on the bright side of life until next PyCon ❤️❤️<a href="https://t.co/9bppbMXjDG">https://t.co/9bppbMXjDG</a>
            <span class="d-block small text-right">${REKLOSE_NETAGOVAT} (@lspdv) <a href="https://twitter.com/lspdv/status/873229885371822080">June 9, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            <a href="https://twitter.com/hashtag/pyconcz?src=hash&amp;ref_src=twsrc%5Etfw">#pyconcz</a> gave me a new life goal...I want to be a land astronaunt, building open source robots with big lasers fighting other OS robots :)
            <span class="d-block small text-right">Zue (@Nada_Chong) <a href="https://twitter.com/Nada_Chong/status/873296930268471297">June 9, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            Fantastic venue, great talks, free beer. What can you ask more? 3 socks for everybody? My first but surely not last <a href="https://twitter.com/hashtag/PyConCZ?src=hash&amp;ref_src=twsrc%5Etfw">#PyConCZ</a> <a href="https://t.co/8LSdZwUNbn">https://t.co/8LSdZwUNbn</a>
            <span class="d-block small text-right">Petr Simecek (@simecek) <a href="https://twitter.com/simecek/status/873508477817192448">June 10, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            &quot;Through my son <a href="https://twitter.com/kvbik">@kvbik</a> I discovered python is the language of my dreams&quot;<a href="https://twitter.com/hashtag/PyConCZ?src=hash&amp;ref_src=twsrc%5Etfw">#PyConCZ</a>
            <span class="d-block small text-right">Nick Lang (@fxdgear) <a href="https://twitter.com/fxdgear/status/873222756636045313">June 9, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            Leaving Prague after aweeome <a href="https://twitter.com/hashtag/PyConCZ?src=hash">#PyConCZ</a> 😢 Thaks guys, see you soin 😊 some photos of Prague for those that didn&#39;t go sightseeing 😊 <a href="https://twitter.com/pyconcz">@pyconcz</a> <a href="https://t.co/qA5pU9Qh2z">pic.twitter.com/qA5pU9Qh2z</a>
            <span class="d-block small text-right">Miroslav Bagljas (@mbagljas) <a href="https://twitter.com/mbagljas/status/873901203708678145">June 11, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            Thanks <a href="https://twitter.com/pyconcz">@pyconcz</a>! We had a ball. Fantastic people, great talks and a cool venue - bravo! <a href="https://twitter.com/hashtag/pyconcz?src=hash&amp;ref_src=twsrc%5Etfw">#pyconcz</a> <a href="https://t.co/MUa823bRXM">pic.twitter.com/MUa823bRXM</a>
            <span class="d-block small text-right">Jeanne Trojan (@jmtcz) <a href="https://twitter.com/jmtcz/status/873274067088019456">June 9, 2017</a></span>
        </p>
        <p class="mb-4 mb-lg-5">
            <a href="https://twitter.com/hashtag/PyConCZ?src=hash&amp;ref_src=twsrc%5Etfw">#PyConCZ</a> 2017 10/10 would jump again.
            <span class="d-block small text-right">フジ (@michalvalasek) <a href="https://twitter.com/michalvalasek/status/873807980206202880">June 11, 2017</a></span>
        </p>

    </div>
{% endblock %}
