{% extends "_base.html" %}



{% block meta_title %}Financial Assistance at PyCon CZ 2018{% endblock %}


{% block content %}
  <div class="container text-block">
    <h1>Financial Assistance</h1>

    <a href="{% url "proposal_form" key="financial-aid" %}" class="cta-cfp">Apply for a grant</a>

    <h2>Timeline</h2>

    <ul>
      <li>Financial aid applications open: Wednesday, January 17th</li>
      <li>Financial aid applications close: Wednesday, February 28th</li>
      {% comment %}
    <li>Financial aid grants awarded: Monday, October 3rd</li>
  {% endcomment %}
    </ul>

    <h2>Philosophy/Outreach</h2>

    <p>
      Our primary goal is to make PyCon CZ accessible to everyone, irrespective of their financial situation. For this reason, we provide multiple tiers of ticket prices, Early-Bird, Student, Individual and Corporate. This is based on the principle that those who can afford to pay for tickets subsidize those who cannot. This structure enables us to include major diversity and outreach programmes such as DjangoGirls, reward and encourage active participation in the PyCon CZ event organization, and fund PyCon
      CZ’s Financial Aid programme.
    </p>

    <p>
      PyCon CZ’s financial aid programme aims to provide funds to help people attend PyCon CZ. Financial aid recipients have some part of their expenses (which may include travel, accommodation, or ticket registration) paid for by the PyCon CZ budget. We actively encourage people to apply for financial aid. While we can't cover all expenses for everyone, we try our best to optimally allocate our budget. Optimal is, of course, an ambiguous property.
    </p>

    <p>
      Since PyCon is a well positioned international Python conference in central Europe, it's a meeting place for Python developers from all around the globe. Therefore, the process is designed to benefit people that we believe make PyCon CZ better, particularly speakers and workshop tutors, as well as notable open source contributors.
    </p>

    <p>
      This way, the process attempts to promote a more diverse community event.
    </p>

    <p>
      Finally, the process tries to help people with relatively lower incomes, be it because of their location (lower income countries) or their profession (such as students, or the unemployed).
    </p>

    <p>
      In short, we use the financial aid budget to help individuals who would otherwise not be able to attend the conference or whose presence will bring a justifiably positive impact for other attendees.
    </p>

    <p>
      The financial aid programme supports the community by making it more accessible at PyCon CZ. It is true to the spirit of PyCon to make the information and interactions available to everyone.
    </p>

    <p>
      PyCon CZ aims to be the largest annual gathering for the Python community in the Czech Republic, focused on honoring and supporting awesome people teaching, learning and innovating with Python in the Czech Republic and surrounding countries. The Python Software Foundation, the parent PyCon event organizer and sponsor, aims to promote, protect, and advance the Python programming language, and to support and facilitate the growth of a diverse and international community of Python programmers. We believe
      that the financial aid programme is perfectly aligned with these goals.
    </p>

    {% comment %}
    <p>
      To submit a financial aid application, sign up or log in to your account and proceed to the Financial Aid section of your account dashboard.
    </p>
    {% endcomment %}

    <p>
      Note well that our Code of Conduct is strictly enforced during all official PyCon CZ event activities. All recipients of financial aid cited for a CoC violations will be immediately disqualified for all funding awards.
    </p>

    <p>
      Please do not hesitate to email us at <a href="mailto:info@pycon.cz">info@pycon.cz</a>
    </p>
  </div>
{% endblock %}
