<h1 class="h3 {% if slot.room == 1 %}{% elif slot.room == 2 %}{% endif %}">
    Next up in
    <strong {% if slot.room == 2 %}class=""{% endif %}>{{ slot.get_room_display }}</strong>
    from {{ slot.date|date:"H:i" }}
</h1>

<h2 class=" h1">
    {{ slot.content_object.title }}
</h2>

<div class="d-flex justify-content-center">
    {% for speaker in slot.content_object.speakers %}
        <div>
            <h3 class="h2">{{ speaker }}</h3>
            <div class=" {{ pc_gradient }}">
                <img class="pc-intermission-picture d-block mx-auto" src="{{ speaker.photo.url }}">
            </div>
        </div>
    {% endfor %}
</div>