{% load static %}
{% load sponsors_tags %}

<div class="bg-white text-black" id="sponsors">
    <div class="container pb-4">
        <h2 class="h1">{% block title %}Sponsors and Partners{% endblock %}</h2>

        <p class="lead">
            PyCon CZ relies on sponsors to keep ticket prices affordable.
            If you would like to sponsor the conference
            {% if phases.sponsorship == "prospectus_available" %}
                please see our <a href="{% static "pyconcz-2019-sponsorship-prospectus.pdf" %}">sponsorship prospectus in PDF</a>.
            {% elif phases.sponsorship == "dedicated_page" %}
                learn more about <a href="{% url "sponsors_offer" %}">PyCon&nbsp;CZ sponsorship</a>.
            {% endif %}
        </p>

        {% block sponsor_list %}
            {% sponsors %}
        {% endblock %}

    </div>
</div>
