{% regroup sponsors by get_level_display as sponsors_list %}

{% if sponsors %}
    <div>
        <div class="container">
            <h2>
                <a href="{% url 'sponsors_list' %}">Our partners</a>
            </h2>

            <section>
                {% for level in sponsors_list %}
                    <h3>{{ level.grouper }}</h3>
                    <div class="row justify-content-around align-items-center">
                        {% for sponsor in level.list %}
                            <div class="

                                {% if level.grouper == 'Platinum' %}
                                    col-12
                                    col-sm-10
                                    col-md-8
                                    col-lg-7
                                    col-xl-6
                                {% elif level.grouper == 'Gold' %}
                                    col-10
                                    col-sm-8
                                    col-md-6
                                    col-lg-6
                                    col-xl-4
                                    {% if sponsor.name == "LMC" %}
                                        order-2 order-md-3 order-xl-2
                                    {% elif sponsor.name == "Python Software Foundation" %}
                                        order-3 order-md-2 order-xl-3
                                    {% elif sponsor.name == "Red Hat" %}
                                        order-1
                                    {% endif %}
                                {% elif level.grouper == 'Silver' %}
                                    col-8
                                    col-sm-7
                                    col-md-4
                                    col-lg-3

                                {% elif level.grouper == 'Bronze' %}
                                    col-7
                                    col-sm-6
                                    col-md-4
                                    col-lg-2

                                {% elif level.grouper == 'Media' or level.grouper == 'Partners' %}
                                    col-8
                                    col-sm-7
                                    col-md-5
                                    col-lg-3

                                {% else %}
                                    col-6
                                    col-md-4
                                    col-lg-3
                                    col-xl-2
                                {% endif %}
                                 "
                            >
                                <a href="{{ sponsor.link_url }}" class="d-block">
                                    <img
                                        class="img-fluid w-100"
                                        src="{{ sponsor.logo.url }}"
                                        alt="{{ sponsor.name }}"
                                    >
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endif %}
