{% if ticket_md.early_bird.upcoming %}
    <button class="btn btn-primary disabled px-3 my-3 mx-auto" disabled>Not for sale yet</button>
{% else %}
    {% if tickets.cached %}
        <button disabled class="tito-tickets-button d-none pc-display-via-js">
            <span class="spinner-border d-inline-block spinner-border-sm" role="status"></span>
            Please wait
        </button>
        <script>
            Array.prototype.forEach.call(
                document.querySelectorAll('.tito-tickets-button.d-none.pc-display-via-js'),
                function(btn){
                    btn.classList.remove("d-none");
                }
            );
        </script>
        <noscript>
            <a href="https://ti.to/pyvec/pycon-cz-2019/with/{% if not ticket_md.early_bird.sold_out and not ticket_md.early_bird.secret %}{{ ticket_md.early_bird.slug }}{% if ticket_md.early_bird.tickets_left <= 3 %},{% endif %}{% endif %}{% if ticket_md.early_bird.secret or ticket_md.early_bird.tickets_left <= 3 %}{% if not ticket_md.regular.sold_out %}{{ ticket_md.regular.slug }}{% endif %}{% endif %}" class="tito-tickets-button">
                Buy ticket
            </a>
        </noscript>
    {% else %}
        <tito-button event="pyvec/pycon-cz-2019" releases="{% if not ticket_md.early_bird.sold_out and not ticket_md.early_bird.secret %}{{ ticket_md.early_bird.slug }}{% if ticket_md.early_bird.tickets_left <= 3 %},{% endif %}{% endif %}{% if ticket_md.early_bird.secret or ticket_md.early_bird.tickets_left <= 3 %}{% if not ticket_md.regular.sold_out %}{{ ticket_md.regular.slug }}{% endif %}{% endif %}">
            Buy ticket
        </tito-button>
        {% comment %}This branch is loaded via Javascript, so we don't have to deal with noscript here.{% endcomment %}
    {% endif %}

{% endif %}
