{% extends '_layout.html' %}



{% block meta_title %}Board Game Night – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container">
        <h1>Board Game Night</h1>
        <p class="lead">
            Board Game Night starts on Friday right after Lightning talks end in the Main room at&nbsp;Meetfactory.
            <br>No registration is required.
        </p>
        <h2>Rules of Board Game Night</h2>
        <ol>
            <li>You do talk about Board Game Night.</li>
            <li>You <em style=": uppercase;">do</em> talk about Board Game Night.</li>
            <li>Anyone can play.</li>
            <li>More games at a time.</li>
            <li>Shirts all time, shoes optional.</li>
            <li>Games will go on as long as they have to or until 1 am.</li>
            <li>If this is your first night at Board Game Night, you HAVE to play. (Unless you don’t want to.)</li>
            <li>You can bring your own board games.</li>
            <li>PyCon CZ <a href="{% url 'about_code' %}">CoC</a> applies to Board Game Night.</li>
        </ol>

        <h2>Also good to know</h2>
        <ul>
            <li>We will bring some games (DiXit, Pandemic, Steampunk Rally, Vast, Tzolk'in, Ubongo, Roll for the Galaxy, Robo Rally, 5 Minute Dungeon, Smallworld, Patchwork, Exploding Kittens, Hanabi, Carcassonne and more) but you’re welcome to bring your own as well!</li>
            <li>We can safely store your games during the day.</li>
            <li>While English or language-less games are preferred, there will probably be enough Czechs and Slovaks to play Czech games with.</li>
            <li>Free pizza for every player!</li>
            <li>Drinks will be for purchase at the bar.</li>
            <li>If board games are not your thing, you are also welcome, just to chat or hack.</li>
            <li>Musical instruments are also fine, as long as you are not disturbing others (you can play always outside or in another room).</li>
            <li>Only for PyCon&nbsp;CZ attendees.</li>
        </ul>

    </div>
{% endblock %}
