{% extends '_layout.html' %}



{% block meta_title %}Code of Conduct – {{ block.super }}{% endblock %}


{% block main %}

    {% comment %}



    IMPORTANT NOTICE!



    If you're changing anything in this block, don't forget to update it in ti.to:
    https://ti.to/pyvec/pycon-cz-2019/admin/settings/termsets/1003407/edit



    {% endcomment %}

    <div class="container pb-5">

        <h1>Code of Conduct</h1>

        <p class="lead"><b>PyCon CZ</b> is a&nbsp;community conference intended for networking and collaboration in the developer community.</p>

        <p class="lead">We value the participation of <strong>each member</strong> of the <strong>Python community</strong> and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show <strong>respect</strong> and <strong>courtesy</strong> to other attendees throughout the conference and at all official conference events sponsored by PyCon CZ.</p>

        <p>To make clear what is expected, all attendees, speakers, organizers, volunteers or other persons at any official PyCon CZ event are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the event.</p>

        <h2 id="the-short-version">The Short Version</h2>
        <p><strong>PyCon CZ</strong> is dedicated to providing a&nbsp;harassment-free conference experience for everyone, regardless of gender, sexual orientation, physical appearance, age, body size, disability, race, ethnicity, religion, or otherwise. We do not tolerate harassment of conference participants in any form, on-line or off-line.</p>

        <p>All communication should be appropriate for a&nbsp;<em>professional audience</em> including people of many different backgrounds. Sexual language and imagery is not appropriate for any conference venue, including talks.</p>

        <p><em>Be kind</em> to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for PyCon CZ.</p>

        <p>If a&nbsp;person engages in harassing behaviour, the organizers will take prompt action, including expulsion from PyCon CZ event without a&nbsp;refund. Thank you for helping make this a&nbsp;welcoming, friendly event for all.</p>

        <h2 id="the-longer-version">The Longer Version</h2>

        <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, age, body size, race, religion, political persuasion, sexual images in public spaces, deliberate intimidation, public shaming, stalking, following, harassing photography or recording, offensive verbal comments, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

        <p>Participants asked to stop any harassing behaviour are expected to comply immediately.</p>

        <p>Sponsor and vendor booths or similar activities are also subject to the anti-harassment policy. In particular, sponsors and vendors should not use sexualized images, activities, or other offensive material. Booth staff (including volunteers) should not wear sexualized clothing/uniforms/costumes, or otherwise create a&nbsp;sexualized environment. No alcoholic beverages may be served at the booths.</p>

        <p>Be careful with the words that you choose. Remember that sexist, racist, and other exclusionary jokes may be offensive to those around you. Excessive swearing and offensive jokes, excessive alcohol consumption, and use of illegal drugs are not appropriate for PyCon CZ.</p>

        <p>If a&nbsp;participant engages in behaviour that violates this Code of Conduct, the conference organizers will take an appropriate action, including warning the offender or expulsion from the conference with no refund.</p>

        <h2 id="contact-information">Contact Information</h2>

        <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a&nbsp;member of the conference staff. Conference staff will be visibly marked.</p>

        <p>If the matter is especially urgent, please call/contact any of these organizers:</p>

        <ul>
            <li>Veronika Kabátová +420 735 846 810</li>
            <li>Lumír Balhar +420 732 689 768</li>
        </ul>

        <p>Conference staff will be happy to help participants provide escorts, contact local law enforcement, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

        <h2 id="incident-handling">Attendee Incident Handling Procedure</h2>

        <p>1. Keep in mind that all conference staff will be wearing a&nbsp;conference t-shirt/button with the word “Staff” on it (or otherwise clearly marked as staff). The staff will also be prepared to handle the incidents. All our staff are informed about the code of conduct policy and guide for handling harassment at the conference.</p>

        <p>2. Report the harassment incident (preferably in writing) to a&nbsp;conference staff member <strong>privately</strong>. All reports are confidential. Please do not disclose public information about the incident until the staff have had sufficient time in which to address the situation. This is as much for your safety and protection as it is for other attendees.</p>

        <p>When reporting the incident to the staff, try to gather as much information as available but do not interview people about the incident. Staff will assist you in writing the report/collecting information.</p>

        <p>The important information consists of:</p>

        <ul>
            <li>Identifying information (name) of the participant doing the harassing.</li>
            <li>The behaviour that was in violation.</li>
            <li>The approximate time of the behaviour.</li>
            <li>The circumstances surrounding the incident.</li>
            <li>Other people involved in the incident.</li>
        </ul>

        <p>The staff is well informed on how to deal with the incident and how to further proceed with the situation.</p>

        <p>3. If everyone is presently physically safe, involve law enforcement or security only at the victim's request. If you do feel your safety is in jeopardy please do not hesitate to contact local law enforcement by dialing 112 (international emergency number) or 158 (czech number for police). Both numbers are free of charge. If you do not have a&nbsp;cell phone, you can ask a&nbsp;staff member.</p>

        <p>Note: Incidents that violate the Code of Conduct are extremely damaging to the community, and they will not be tolerated. The silver lining is that, in many cases, these incidents present a&nbsp;chance for the offenders, and the community at large, to grow, learn, and become better. PyCon CZ staff request that they be your first resource when reporting a&nbsp;PyCon-related incident, so that they may enforce the Code of Conduct and take quick action towards a&nbsp;solution.</p>

        <h2 id="license">License</h2>

        <p>This Code of Conduct was forked from the example policy from the <a href="https://geekfeminism.wikia.org/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki, created by the Ada Initiative and other volunteers</a> which is under a&nbsp;<a rel="licence" href="https://creativecommons.org/licenses/by/3.0/"> Creative Commons Zero license.</a></p>

        <p>The Attendee Incident Handling Procedure was adopted from the guide titled <a href="https://geekfeminism.wikia.org/wiki/Conference_anti-harassment/Responding_to_reports">Conference anti-harassment/Responding to reports</a>.</p>
    </div>

{% endblock %}
