{% extends '_layout.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="pc-main-logo">
        <img src="{% static 'img/pyconlogo.svg' %}">
    </div>

    <div class="pc-odd-section">
        <div class="container">
            <h2>Call for Papers is closed</h2>
            <p class="text-center">
                We’re now carefully evaluating all submissions.
                <br>If you have submitted a talk or a workshop please wait for an email from us.
            </p>
        </div>
    </div>

    <div class="pc-main-lead">
        <div class="insert">
            <h1>PyCon CZ 2019</h1>
            <div><a class="text-white" href="{% url 'city' %}">Ostrava</a></div>
            <div>June 14–16</div>
        </div>
        <div class="pc-image-copyright">Photo by <a href="https://www.flickr.com/photos/kubajs/20958638705/">Jakub Souček</a></div>
    </div>

    <div class="pc-odd-section">
        <div class="container">
            <p class="text-center">
                After two years in Brno and two in Prague, PyCon CZ is coming to <em>Ostrava</em>!
            </p>
        </div>
    </div>

    <div class="pc-even-section">
        <div class="container">
            <h2><span>About PyCon CZ</span></h2>
            <p class="key">
                <em>PyCon CZ</em> is the Czech Republic edition of the well-known and valued PyCon conference devoted to the Free and Open Source <a href="https://python.org">Python programming language</a>.
            </p>
            <p>
                It is organized for the <em>fifth time</em> by passionate members of the Czech Python community,
                with cooperation and underwriting by <a href="http://pyvec.org">Pyvec.org</a>,
                a local non-profit organization that focuses on supporting the Python community in the Czech Republic.
            </p>
            <p>
                The objective of PyCon CZ is to raise participants' <em>qualifications</em>, overall <em>integration</em>
                of the Python programmers' community in the Czech Republic and surrounding area, <em>popularisation</em> of new applications of the language as well as to spread good programming practices and exchange of <em>experiences</em> between professionals, novices, students and hobbyist Python programmers.
            </p>
            <p>
                To get a better idea of what PyCon CZ is about, check out the short <a href="https://www.youtube.com/watch?v=venjk_cL-Gk">promotional video</a> from the first year, or watch last year's keynotes from
                <a href="https://cz.pycon.org/2018/programme/detail/talk/30/">Van Lindberg</a>,
                <a href="https://cz.pycon.org/2018/programme/detail/talk/32/">Karen M. Sandler</a>,
                <a href="https://cz.pycon.org/2018/programme/detail/talk/33/">Sam Trojan</a>,
                <a href="https://cz.pycon.org/2018/programme/detail/talk/31/">Flavio Percoco and Nick Lang</a>.
            </p>
        </div>
    </div>

    <div class="pc-odd-section">
        <div class="container">
            <h2><span>Venue</span></h2>
            <p>
                PyCon CZ will take place at <a href="http://www.dolnivitkovice.cz/akce-v-dovu-hlubina">Hlubina</a> – the coal mine complex re-made into a cozy conference center.
                We're pretty excited about the place, and hope you'll be as well!
            </p>

            <p class="text-center lead"><a href="{% url 'venue' %}">Learn more about PyCon&nbsp;CZ venue</a></p>

            <div class="pc-mini-gallery row">
                {% with 'stare_koupelny_exterier_brick_house.jpg 20150413_zer_hlubina_044.jpg 20150413_zer_hlubina_014.jpg' as images %}
                    {% for img in images.split %}
                        <div class="col-md-4">
                            <a href="{% get_static_prefix %}img/ostrava/{{ img }}">
                                <img src="{% get_static_prefix %}img/ostrava/{{ img }}">
                            </a>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="pc-image-copyright">Photos © <a href="https://www.zerzon.cz/">Jiří Zerzoň</a></div>
        </div>
    </div>

    <div class="pc-even-section">
        <div class="container">
            <h2><span>Sponsors</span></h2>
            <p>
                PyCon CZ relies on sponsors to keep ticket prices affordable.
                Last year, PyCon CZ sponsors and partners included <a href="https://cz.pycon.org/2018/sponsors/">18 companies and organizations</a>.
                <br>
                If you would like to sponsor the conference, please see our
                <a href="{% static 'pyconcz-2019-sponsorship-prospectus.pdf' %}">sponsorship prospectus in PDF</a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block footer-class %}pc-odd-footer{% endblock %}
