{% extends '_base.html' %}

{% load static %}


{% block meta_title %}Pyttern Library{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>h1. Pyttern Library
                    <small>Pyn&nbsp;intended</small>
                </h1>
                <p class="lead">
                    Lead paragraph vivamus sagittis lacus vel <a href="#">link somewhere</a> augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Aspernatur beatae molestiae nostrum possimus saepe! Cumque harum id inventore pariatur voluptates.
                </p>
                {% comment %}<h1 class="display-1">Display 1</h1>
                <h1 class="display-2">Display 2</h1>
                <h1 class="display-3">Display 3</h1>
                <h1 class="display-4">Display 4</h1>{% endcomment %}

                <h2>h2. A heading</h2>
                <p>Ad animi blanditiis deleniti doloremque eius ipsam nihil odit quas quis reprehenderit? Corporis fugiat hic id inventore ipsa nam pariatur, quam repellat similique voluptas. Debitis explicabo id iure quas quis veniam voluptas voluptates? Consectetur cumque, dolor error explicabo fugiat fugit repellat rerum!</p>

                <div class="row">
                    <div class="col">
                        <p>Cum, deserunt dolore fuga id laborum nesciunt repellat tempore voluptatum.</p>
                        <h3>h3. A heading</h3>
                        <p>Adipisci alias dolores eaque, esse harum ipsum, laborum mollitia perspiciatis placeat reprehenderit tempora veniam?</p>
                        <ul>
                            <li>Lists are a possibility here</li>
                            <li>Culpa cumque dolorem ut voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                            <li>Facere in minima possimus repellendus!</li>
                            <li>Accusamus iusto nemo soluta unde.</li>
                            <li>Doloremque facere recusandae reiciendis voluptatem?</li>
                        </ul>
                    </div>
                    <div class="col">
                        <p>Accusantium commodi deserunt doloribus ipsa iste mollitia nobis odit.</p>
                        <h4>h4. A heading</h4>
                        <p>Culpa fuga illo minus quas quibusdam recusandae.</p>
                        <p>A ab at ducimus et eum facere harum hic ipsum, iure labore natus pariatur possimus provident quae quidem rem sequi suscipit vero.</p>

                        <ol>
                            <li>Ordered list look like this</li>
                            <li>Culpa cumque dolorem ut voluptatem.</li>
                            <li>Facere in minima possimus repellendus!</li>
                            <li>Accusamus iusto nemo soluta unde.</li>
                            <li>Doloremque facere recusandae reiciendis voluptatem?</li>
                        </ol>
                        {% comment %}<h6>h6. A heading</h6>{% endcomment %}
                    </div>
                    <div class="col">
                        <p>Ab dicta dolor earum, eos ipsam ipsum laborum libero nam repellat sunt?</p>
                        <h5>h5. A heading</h5>
                        <p>Paragraph with <strong>strong text</strong> and <em>emphasized text</em> and also a <b>bold</b> and <i>italic text</i>. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">link somewhere</a> Duis mollis, est non commodo luctus.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                    <div class="col">
                        <p class="bg-white text-dark p-3">Eos impedit <a href="#">mollitia sed totam</a> volup tatum? Beatae deleniti eos laborum maxime optio. Delectus dolores doloribus ea eos iste itaque magnam tenetur veritatis.</p>
                    </div>
                    <div class="col">
                        <p class="bg-secondary text-dark p-3">Eos impedit <a href="#">mollitia sed totam</a> volup tatum? Beatae deleniti eos laborum maxime optio. Delectus dolores doloribus ea eos iste itaque magnam tenetur veritatis.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="bg-dark p-3">
                            <h4>Text</h4>
                            <p class="text-primary">.text-primary</p>
                            <p class="text-secondary">.text-secondary</p>
                            <p class="text-success">.text-success</p>
                            <p class="text-danger">.text-danger</p>
                            <p class="text-warning">.text-warning</p>
                            <p class="text-info">.text-info</p>
                            <p class="text-light bg-dark">.text-light</p>
                            <p class="text-dark">.text-dark</p>
                            <p class="text-body">.text-body</p>
                            <p class="text-muted">.text-muted</p>
                            <p class="text-white bg-dark">.text-white</p>
                            <p class="text-black-50">.text-black-50</p>
                            <p class="text-white-50 bg-dark">.text-white-50</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-light p-3">
                            <h4>Text</h4>
                            <p class="text-primary">.text-primary</p>
                            <p class="text-secondary">.text-secondary</p>
                            <p class="text-success">.text-success</p>
                            <p class="text-danger">.text-danger</p>
                            <p class="text-warning">.text-warning</p>
                            <p class="text-info">.text-info</p>
                            <p class="text-light bg-dark">.text-light</p>
                            <p class="text-dark">.text-dark</p>
                            <p class="text-body">.text-body</p>
                            <p class="text-muted">.text-muted</p>
                            <p class="text-white bg-dark">.text-white</p>
                            <p class="text-black-50">.text-black-50</p>
                            <p class="text-white-50 bg-dark">.text-white-50</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-secondary p-3">
                            <h4>Text</h4>
                            <p class="text-primary">.text-primary</p>
                            <p class="text-secondary">.text-secondary</p>
                            <p class="text-success">.text-success</p>
                            <p class="text-danger">.text-danger</p>
                            <p class="text-warning">.text-warning</p>
                            <p class="text-info">.text-info</p>
                            <p class="text-light bg-dark">.text-light</p>
                            <p class="text-dark">.text-dark</p>
                            <p class="text-body">.text-body</p>
                            <p class="text-muted">.text-muted</p>
                            <p class="text-white bg-dark">.text-white</p>
                            <p class="text-black-50">.text-black-50</p>
                            <p class="text-white-50 bg-dark">.text-white-50</p>
                        </div>
                    </div>
                </div>


                <pre class="text-white"><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>
                <p>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-link">Link</button>
                    <button type="button" class="btn btn-black">Black</button>
                </p>

                <p>
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="button" class="btn btn-outline-dark">Dark</button>
                </p>

                <p>
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                </p>

                <p>
                    <button type="button" class="btn btn-primary btn-sm">Small button</button>
                    <button type="button" class="btn btn-secondary btn-sm">Small button</button>
                </p>

                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
                </p>
            </div>
        </div>
    </div>

    <div class="bg-secondary text-dark py-3">
        <div class="container">
            <h1>12 Column Grid</h1>
            <div class="row mb-4">
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-12 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark">12</div>
                </div>
                <div class="col-1 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 1</div>
                </div>
                <div class="col-11 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark">11</div>
                </div>
                <div class="col-2 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 2</div>
                </div>
                <div class="col-10 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark">10</div>
                </div>
                <div class="col-3 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 3</div>
                </div>
                <div class="col-9 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 9</div>
                </div>
                <div class="col-4 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 4</div>
                </div>
                <div class="col-8 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 8</div>
                </div>
                <div class="col-5 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 5</div>
                </div>
                <div class="col-7 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 7</div>
                </div>
                <div class="col-6 bg-info">
                    <div class="w-100 text-center my-2 bg-light text-dark"> 6</div>
                </div>
                <div class="col-auto bg-warning">
                    <div class="w-100 text-center my-2 bg-light text-dark">.col-auto is sized automatically</div>
                </div>
                <div class="col bg-danger">
                    <div class="w-100 text-center my-2 bg-light text-dark">.col fills the rest</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}