{% extends '_layout.html' %}

{% load static %}


{% block meta_title %}Sponsorship — {{ block.super }}{% endblock %}


{% block main_classes %}bg-white text-black{% endblock %}


{% block main %}
    <div class="container pb-4 pc-text">
        {% if phases.sponsorship != 'dedicated_page' %}
            {% include '__404.html' %}
        {% else %}
            <h1>Sponsor&shy;ship</h1>

            <div class="row">

                <div class="col-lg-6">
                    <p class="lead">
                        The PyCon&nbsp;CZ 2019 organizers are pleased to invite your sponsorship of the fifth annual 3-day PyCon conference in Ostrava, Czech Republic, on 14–16&nbsp;June&nbsp;2018.
                        Sponsorship presents opportunities to connect you with up to 500 expected attendees.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md">

                    <h2 class="mt-2">Sponsorship benefits</h2>
                    <p>Sponsorship packages start from 20000 CZK and can include:</p>
                    <ul>
                        <li>Partner announced on the PyCon CZ official social media channels</li>
                        <li>Logo on the conference website</li>
                        <li>Logo on the intermission slide deck</li>
                        <li>Roll-up (standing banner) at the venue</li>
                        <li>Booth at the venue</li>
                        <li>Promotional items or leaflets in the swag bag of every atendee</li>
                        <li>Promotional posts</li>
                        <li>Retweets/reshares on the PyCon CZ official social media channels</li>
                        <li>Free tickets to the conference</li>
                        <li>Option to be our exclusive lanyard sponsor</li>
                    </ul>

                    <p><a class="btn btn-secondary" href="{% static 'pyconcz-2019-sponsorship-prospectus.pdf' %}">Download detailed sponsorship information in our prospectus (PDF)</a></p>

                    <h2>Custom sponsorship</h2>
                    <p>In the case that our sponsorship packages don't fit youur needs, you can become a diversity sponsor (provide free tickets for a target demographic), host or contribute prizes for a quiz/competition, or become a sponsor of a connected event. And of course, if you have your own idea about a custom sponsorship, we'd love to hear it!</p>

                </div>
                <div class="col-md">
                    <h2 class="mt-2">Event summary</h2>
                    <ul>
                        <li>Friday, 14 June 2019, to Sunday, 16 June 2019</li>
                        <li>Gorgeous industrial venue</li>
                        <li>Friendly environment</li>
                        <li>350–500 attendees (professionals, students, and hobbyist Pythonistas alike)</li>
                        <li>Organized by volunteers from the community</li>
                        <li>2&nbsp;full conference days with 2&nbsp;tracks (both tracks streamed online)</li>
                        <li>1&nbsp;full day of workshops and sprints</li>
                        <li>30+ diverse, international speakers</li>
                        <li>Broad range of both technical and community topics</li>
                        <li>Social events</li>
                        <li>Food and beverages included in the ticket price</li>
                    </ul>

                    <h2>Contacts</h2>
                    <p>Primary contact is our e-mail <a href="mailto:info@pycon.cz">info@pycon.cz</a></p>
                    <p>
                        <b>Mr. Tomáš Orsava</b>, Partnerships Lead – PyCon CZ 2019
                        <br><a href="mailto:tomas.p@orsava.cz">tomas.p@orsava.cz</a>
                        <br><a href="tel:+420604244198">+420&nbsp;604&nbsp;244&nbsp;198</a>
                        <br><a href="tel:+16179823295">+1&nbsp;(617)&nbsp;982-3295</a>
                    </p>
                    <p>
                        <b>Mr. Jiří Psotka</b>, Partnerships Support – PyCon CZ 2019
                        <br><a href="mailto:j.psotka@gmail.com">j.psotka@gmail.com</a>
                    </p>
                </div>

            </div>
        {% endif %}
    </div>
{% endblock %}
