{% extends '_layout.html' %}



{% block meta_title %}Transparency Report – {{ block.super }}{% endblock %}


{% block main %}
    {% comment %}
    <div class="container pc-text">
        <h1 id="transparency-report">Transparency Report</h1>

        <p>The organization team believes that all events should be accessible and welcoming to everyone, regardless of their background. We agree that a clear and specific Code of Conduct is a necessity for any event.</p>

        <ul>
            <li>The <a href="{% url 'about_code' %}">Code of Conduct</a> was based on Conference anti-harassment policy from Geek feminism wiki and edited to be as specific to our event as possible</li>

            <li>Agreeing to the Code was mandatory when buying a ticket</li>

            <li>Two contact persons (male and female) were assigned and their phone numbers were visibly posted around the venue</li>

            <li>Attendees were reminded of the Code in the opening speech of each day</li>
        </ul>

        <h2>What could have been done</h2>
        <ul>
            <li>Summary of the Code in both languages were not posted around the venue</li>

            <li>There was no easy way to report an incident other than to call a CoC contact person</li>

            <li>Czech language version of the Code was not accessible on the website</li>
        </ul>

        <h2>Anonymized incidents:</h2>
        <ul>
            <li>During one of the keynotes, inappropriate image was used in a slideshow. The speaker was reminded, that a Code of Conduct applies to keynotes as well. No further action was taken.</li>

            <li>During one of the lightning talks, speaker used disrespectful language towards different initiatives that aim to include underrepresented groups into IT. In his presentation he also used a slide that could be offensive to some groups. One of the attendees reacted to this by angrily leaving the venue. The speaker posted an apology in public group chat and also admitted his mistake in private discussion with one of the CoC contacts. The attendee apologized for his behaviour in email to one of the CoC contacts and in private discussion with head conference organizer. No video or slides will be published from this lightning talk.</li>
        </ul>
    </div>
    {% endcomment %}
{% endblock %}
