{% extends '_layout.html' %}

{% load static %}



{% block meta_title %}Conference Venue – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container pb-5">

        <section>
            <h1 class="pc-h1-shrinking">Conference Venue</h1>
            <p>
                PyCon CZ will take place at <a href="http://www.dolnivitkovice.cz/akce-v-dovu-hlubina">Hlubina</a> – the coal mine complex re-made into a&nbsp;cozy conference center.
                We're pretty excited about the place, and hope you'll be as well!
            </p>

            <p>
                The Conference hall is in the middle of the national monument area called Dolní Vítkovice (shortened DOV or DV).
                <br>Check DOV’s offical video to&nbsp;get the idea about the area.
            </p>

            <div class="row">
                <div class="col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eHLcEUNx4cI" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        <em><a href="https://en.wikipedia.org/wiki/Lower_V%C3%ADtkovice">Dolní oblast Vítkovice</a></em> (DOV) is a&nbsp;national site of industrial heritage located in the centre of Ostrava. It includes extensive <em>industrial ironworks</em> with a&nbsp;former coal mine, coke ovens and blast furnace operations with exceptional technology flow and specialized machines as well as a&nbsp;unique collection of industrial architecture.
                    </p>

                    <p>
                        The manufacturing complex closed down in the 19<sup>th</sup> century, but since then it was transformed into a&nbsp;unique <em>educational</em>, <em>social</em> and <em>cultural</em> centre. Its significance now reaches beyond the boundaries of the region.
                    </p>
                </div>
            </div>

            <p>
                DOV now includes attractions such as the
                <a href="http://stcostrava.cz/hlavni-stranka">Science and technology center</a>,
                a
                <a href="http://www.dolnivitkovice.cz/gong">multifunctional auditorium</a>,
                and the
                <a href="http://www.dolnivitkovice.cz/bolt-tower-maly-okruh">Bolt Tower</a>.
                See more info at the
                <a href="http://www.dolnivitkovice.cz/en/">DOV’s official website</a>.
            </p>
        </section>

        <section id="getting-to-the-venue">
            <h2>Getting to&nbsp;the venue</h2>

            <p>Both rooms and chill-out zone and more will be at <a href="https://goo.gl/maps/X3PYca4RJw12">Brick House</a> (“Staré koupelny” in Czech).</p>

            <p>Don’t worry! There will be a&nbsp;navigation in place to&nbsp;guide you through the area during PyCon&nbsp;CZ.</p>

            <div class="row">
                <div class="col-md-4">
                    <h3>Public transport</h3>
                    <p>The venue is just a&nbsp;2-minute walk from the tram stop <i>Důl Hlubina</i>. Follow signs with PyCon&nbsp;CZ logo from there.</p>
                </div>
                <div class="col-md-4">
                    <h3>By bike or foot</h3>
                    <p>You are looking for <a href="https://goo.gl/maps/jFAY7fHwyXG2">Vítkovická&nbsp;17</a> (it’s&nbsp;the&nbsp;closest point on the map to&nbsp;reach <i>Staré koupelny</i>). Park your bike in front of the <i>Cineport</i> building and <i>Kavárna Maryčka</i>.</p>
                </div>
                <div class="col-md-4">
                    <h3>By car</h3>
                    <p>Parking is close to&nbsp;the&nbsp;tram stop <i>Dolní Vítkovice Hlubina</i>. Look for the closest point from parking place <a href="https://goo.gl/maps/jFAY7fHwyXG2">Vítkovická&nbsp;17</a>, Moravská Ostrava). You&nbsp;can park inside the area for free, around the street Vitkovicka.</p>
                </div>
            </div>

            <p>For details about different transport options check our <a href="{% url 'city' %}#travelling-around-ostrava">guide to&nbsp;getting around Ostrava</a>.</p>

        </section>

        <section id="workshops">
            <h1 class="pc-h1-shrinking">Workshops venue</h1>

            {% if phases.workshops_venue == 'not_public' %}
                <p class="lead">Workshops will be happening at a&nbsp;different place in Ostrava and will be announced later.</p>
            {% elif phases.workshops_venue == 'basic_info' %}
                <p class="lead">Workshops will be happening at VŠB-TU Ostrava – Faculty of Electrical Engineering and Computer Science and more details will be published later.</p>
            {% elif phases.workshops_venue == 'full_info' %}
                <p class="lead">Workshops will be happening at VŠB-TU Ostrava – Faculty of Electrical Engineering and Computer Science.</p>

                <h2>Getting to&nbsp;the VŠB</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Public transport</h3>
                        <p>TODO</p>
                    </div>
                    <div class="col-md-4">
                        <h3>By bike or foot</h3>
                        <p>TODO</p>
                    </div>
                    <div class="col-md-4">
                        <h3>By car</h3>
                        <p>TODO</p>
                    </div>
                </div>$
            {% endif %}

        </section>
    </div>
{% endblock %}