<h1>Overlapping workshops registered!</h1>
<p>
    Please, let us know at <strong>info@pycon.cz</strong> which workshop
    you want to cancel. Thank you!
</p>
<p class="sinners">
    <span>zuhry.fayesz@....com</span>
    <span>sem@tovek...cz</span>
    <span>xiaoqwf@....com</span>
    <span>hokyjack@....com</span>
    <span>babinec.peter@....com</span>
    <span>jf@....cz</span>
    <span>www.bagr@....com</span>
    <span>martin.beranek112@....com</span>
    <span>bekhzod.atakhanov@....com</span>
    <span>jbenacek@....cz</span>
</p>
