{% if ticket_md.early_bird.upcoming %}
    <button class="btn btn-primary disabled px-3 my-3 mx-auto" disabled>Not for sale yet</button>
{% else %}
    <tito-button event="pyvec/pycon-cz-2019" releases="{% if not ticket_md.early_bird.sold_out %}{{ ticket_md.early_bird.slug }}{% if ticket_md.early_bird.tickets_left <= 3 %},{% endif %}{% endif %}{% if ticket_md.early_bird.tickets_left <= 3 and not ticket_md.regular.sold_out %}{{ ticket_md.regular.slug }}{% endif %}">
        Buy ticket
    </tito-button>
    {% comment %}<a href="https://ti.to/pyvec/pycon-cz-2019/with/{% if not ticket_md.early_bird.sold_out %}{{ ticket_md.early_bird.slug }}{% if ticket_md.early_bird.tickets_left <= 3 %},{% endif %}{% endif %}{% if ticket_md.early_bird.tickets_left <= 3 and not ticket_md.regular.sold_out %}{{ ticket_md.regular.slug }}{% endif %}" class="pc-tito-link">link to ti.to</a>{% endcomment %}
{% endif %}