{% if today <= tickets.last_day_regular %} {# before late bird #}

    {% if not ticket_md.early_bird.sold_out %}
        <p class="d-flex font-weight-bold mb-3">
            <span class="mr-2">
                Early-bird
                <br>
                {% if tickets.cached %}
                  <small>(loading)</small>
                {% else %}
                  <small {% if ticket_md.early_bird.tickets_left <= 3 %}class="text-danger font-weight-bold"{% endif %}>
                      ({{ ticket_md.early_bird.tickets_left }}&nbsp;left)
                  </small>
                {% endif %}
            </span>
            <span class="pc-ticket-price text-right">{{ ticket_md.early_bird.price|floatformat:"0" }}&nbsp;CZK</span>
        </p>
    {% endif %}

    <p class="d-flex mb-3 {% if ticket_md.early_bird.sold_out %}font-weight-bold{% else %}small text-muted{% endif %}">
        <span class="mr-2">
            Regular
            {% if ticket_md.early_bird.sold_out %}
                <br>
                <small>
                    {% if today < tickets.last_day_regular %}
                        (until {{ tickets.last_day_regular_date | date:"j F" }})
                    {% elif today == tickets.last_day_regular %}
                        <b>(last chance today)</b>
                    {% endif %}
                </small>
            {% endif %}
        </span>
        <span class="pc-ticket-price text-right">{{ ticket_md.regular.price|floatformat:"0" }}&nbsp;CZK</span>
    </p>

{% endif %}

{% if ticket_md.early_bird.sold_out %}
    <p class="d-flex small text-muted mb-2">
        <span class="mr-2">Late bird</span>
        <span class="pc-ticket-price text-right">{{ ticket_md.late_bird.price|floatformat:"0" }}&nbsp;CZK</span>
    </p>
{% endif %}
{% comment %}
<div class="{% if today > tickets.last_day_regular %}font-weight-bold{% else %}{% endif %}">
    <span></span>
</div>
{% endcomment %}
