{% extends "_layout.html" %}

{% load static %}



{% block meta_title %}Ostrava – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container pc-text-page">
        <h1 id="ostrava">Ostrava</h1>
        <p class="lead text-center pc-lead-ostrava mx-auto">Get to know real Ostrava: a city with rich industrial heritage and unmistakable post-industrial fluidum not spoiled by crowds&nbsp;of&nbsp;tourists. </p>

        <ul class="nav justify-content-center bg-black border-bottom sticky-top-md">
            <li class="nav-item pb-0"><a class="nav-link" href="#history">History</a></li>
            <li class="nav-item pb-0"><a class="nav-link" href="#things-to-do">Things to do</a></li>
            <li class="nav-item pb-0"><a class="nav-link" href="#gastronomy">Gastronomy</a></li>
            <li class="nav-item pb-0"><a class="nav-link" href="#travelling-around-ostrava">Travelling around</a></li>
            <li class="nav-item pb-0"><a class="nav-link" href="#arrival-to-ostrava">Arrival to Ostrava</a></li>
            <li class="nav-item pb-0"><a class="nav-link" href="#accommodation">Accom&shy;mo&shy;da&shy;tion</a></li>
            <li class="nav-item pb-0"><a class="nav-link" href="#the-czech-republic">Czech Republic</a></li>
        </ul>

        <section id="history">
            <h2>History of Ostrava</h2>

            <p>The old city hall from the 14<sup>th</sup>century was turned to the Ostrava Museum. But the city was built mostly in the 18<sup>th</sup> and 19<sup>th</sup> century when the industrial revolution began. Ostrava was built around one factory, and only a few buildings were there before that. As the main centre of coal mining and coke, iron and steel production in central Europe Ostrava was a unique industrial complex because it was the only area in Europe where you could find such technological flow in one place. Products made in there are part of Paris’ Eiffel Tower, or Australia’s biggest bridge.</p>

            <p>As a key industrial area during communist era, Ostrava was nicknamed “steel heart of the Republic” and socialist realism influenced architecture was built along with parks with fountains, typical plane trees and statues of shining future for working men and women.</p>

            <div class="row">
                <div class="col-lg-6">
                    <p>The unspoiled dominant feature of Ostrava is the Vítkovice area, the <i>Hlubina</i> mine complex, the blast furnaces and the ironworks coke plant which was placed on the tentative list of UNESCO World Heritage Centre.</p>

                    <p>The production ended in 1998 and the city went through a lot of modernisation in the past years. Nowadays, Ostrava is known for cultural events, festivals and sports events: almost every day there’s a new place opening: galleries, cafés, bars or bistros. And people who are very open and direct and very warm at the same time.</p>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IigB6tA82w0" allowfullscreen></iframe>
                    </div>
                    <p class="mt-1 small">Watch a short video to get a quick overview of Ostrava architecture, culture and leisure activities.</p>
                </div>
            </div>

        </section>


        <section id="things-to-do">
            <h2 class="pb-0">Things to do</h2>
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <h3 class="mt-2">In Ostrava</h3>
                    <ul>
                        <li>DOV – you have already visited ironworks for sure, right? Have you been to the blast furnace? Have you had a coffee up there? Or have you visited interactive exposition the <a href="http://www.stcostrava.cz/web/guest/maly-svet-techniky-u6">U6 Small world</a> of technology?</li>
                        <li>DOV also has a lot of activities such as climbing in <a href="https://tendonhlubina.cz/">Tendon hlubina</a>.</li>
                        <li>The biggest hill in Ostrava is a heap of slag with coal still burning inside named <a href="https://goo.gl/maps/ATiYmtiehnk">Halda Ema</a>. It is green on top and full of living nature even in winter. It is very popular for walks during the day and for nights with the most beautiful view on the city and Beskydy mountains.</li>
                        <li>You can go upstairs the tower of <a href="https://goo.gl/maps/ZgvK2yzSvct">New Town Hall</a> with a gallery at a height of 73&nbsp;m.</li>
                        <li><a href="http://www.landekpark.cz/en">Landek Park</a>: Have you ever been underground inside a coal mine? This is your chance to try it! Red brick architecture and restaurant <a href="https://goo.gl/maps/5YLXWq7RGF62">Bistropen</a> with delicious mini burgers are ready to welcome you. You can also walk around to explore and enjoy the nature.</li>
                        <li>Brewery museum and <a href="https://goo.gl/maps/PzLiECHLo4J2">Ostravar brewery</a>. The tasting of local beers is a nice touch at the end of the day.</li>
                        <li>Firefighting museum <a href="https://goo.gl/maps/n49QJ3jBS4w">Hasičské Muzeum Města Ostravy</a>.</li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="mt-2">Near Ostrava</h3>
                    <ul>
                        <li>You can combine your trip to Ostrava with a tour of the <a href="https://goo.gl/maps/FgTcpGqTGFr">Wallachian Nature Museum</a> in Rožnov pod Radhoštěm, the largest and oldest museum of folk architecture in Central Europe. If you will plan a trip to nature, you can go down to any small town in Beskydy mountains and enjoy a little bit of relax.</li>
                        <li>Or a visit to the town of Kopřivnice with the famous <a href="https://www.tatramuseum.cz/index.php?r=5&idj=2">Tatra Technical Museum</a> (<a href="https://goo.gl/maps/4xGgLwFVtLw">map</a>).</li>
                    </ul>
                </div>
            </div>

            <h3>USE-IT Map</h3>
            <p>Internationally recognized for its fresh voice and inspiration for discovering places by locals is <a href="https://www.use-it.travel/cities/detail/ostrava/">USE-IT&nbsp;map</a>. It’s a non-commercial and friendly application and also a printed map made by locals. This map of Ostrava is very well maintained and we highly recommend you to get one.</p>
        </section>


        <section id="gastronomy">
            <h2>Want to taste a local beer or have a&nbsp;drink?</h2>
            <p>Don’t forget PyCon&nbsp;CZ afterparty on Saturday at DOV! But if you need to change air and want to see some bars or clubs, <i>Stodolní</i> street is well known for its nightlife. In case you are looking for hidden gems, locals prefer smaller, not so crowded places like <a href="https://goo.gl/maps/Gsoc6anf4ox">Dock</a> bar with nice atmosphere or a small bar with sophisticated drinks <a href="https://goo.gl/maps/QYfjwCCVpPp">U Gustava</a>, wine is good at <a href="https://goo.gl/maps/KTBsMfjSm3C2">Ostrawina</a> and staying at <a href="https://goo.gl/maps/qeUHYBnbdmB2">Ikarus</a> after midnight is always fun. Drink the best beers at <a href="https://goo.gl/maps/W6VwhZfLBx62">U Skákavého Poníka</a>, <a href="https://goo.gl/maps/h1hpso46dY52">Psí kusy – HoppyDog</a>, or the best Pilsen beer at <a href="https://goo.gl/maps/Gtu4yTFAN9r">Pivnice U Rady</a>.</p>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Where to eat</h2>
                    <p>
                        For delicious food we recommend you to try
                        <br><a href="https://goo.gl/maps/TsGcR6fKb7p">eatmeat</a> or <a href="https://goo.gl/maps/dSRGtwtiqKS2">HogoFogo</a> burgers,
                        <br><a href="https://goo.gl/maps/anxytpdZ64E2">Bistro Boule za ušima</a> offers burgers and more,
                        <br><a href="https://goo.gl/maps/h6emuYamQuM2">La Petite Conversation</a> for French cuisine and salads,
                        <br>a quite big place with a statue of pagan god of grain and beer <i>Radegast</i> is <a href="https://goo.gl/maps/Zqk4ksYLNco">Radegastovna</a> be sure try their smoked meat, burgers or salads,
                        <br><a href="https://goo.gl/maps/nx2BhHmcNd22">Makalu</a> has heavenly Nepalese and Indian food,
                        <br>try desserts at <a href="https://goo.gl/maps/AsTznm9xi1o">Sladký časy</a> and their French Croque Monsieur sandwich,
                        <br><a href="https://goo.gl/maps/X4vCr4VhsrR2">Superfood Black Kale</a> is a vegan restaurant,
                        <br>try Czech cuisine at <a href="https://goo.gl/maps/WsVLrr8wBL62">Pivnice U Rady</a> (reservation needed),
                        <br>at <a href="https://goo.gl/maps/KcvgC5rFsTv">Bo Bistro Store</a> get classic Czech potato pancake,
                        <br>get best fresh fish at <a href="https://goo.gl/maps/nV7d72bqXmq">Rybárna na Rynku</a>,
                        <br>stuff yourself with fries from the best Czech potatoes at <a href="https://goo.gl/maps/agWw1RPeMhJ2">Fæncy&nbsp;Fries</a>
                        <br>And maybe you can go to eat a bit more fancy and have a good beer or two at <a href="https://goo.gl/maps/feims3xDY6D2">Zámek (Chateau) Zábřeh</a> restaurant.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h2>Cafés</h2>
                    <p>
                        Are you a coffee lover? You can find coffee shops around every corner.
                        <br>We highly recommend friendly <a href="https://goo.gl/maps/ntXGBsmpWZS2">Kavárna Maryčka</a>,
                        <br><a href="https://goo.gl/maps/TKnbfDcBgC62">PetPunk</a> hipster style café with something to eat by Pawliczka,
                        <br><a href="https://goo.gl/maps/Fqsa1eFMApC2">Industrial Cafe</a> in art deco style,
                        <br><a href="https://goo.gl/maps/8nMqhRA77LR2">Kavárna Daniel</a> old times style with great café au lait
                        <br>chill <a href="https://goo.gl/maps/SLZoKNawjQA2">Bo Bistro Store</a>,
                        <br>hipster <a href="https://goo.gl/maps/LD5scztYhSG2">CØKAFE</a>,
                        <br>coffee to go from <a href="https://goo.gl/maps/NjGbquCdWGS2">Čerstvý Boby</a>,
                        <br><a href="https://goo.gl/maps/PZjodegxLCG2">Laura Coffee Sladovna</a> which is also a coffee roastery
                        <br>or great coffee or chocolate at <a href="https://goo.gl/maps/vAjiP9tao6J2">Vitalo Chocolaterie</a> in case you end up in a mall and need to cheer up.
                    </p>
                </div>
            </div>
        </section>


        <section id="travelling-around-ostrava">
            <h2 class="pb-0">Travelling around Ostrava</h2>
            <div class="row">
                <div class="col-md-7 col-lg-8 ">
                    <h3>Public transport <br>
                        <small>(Trams, Buses and Trolleybuses)</small>
                    </h3>
                    <p>To search public transport schedules go to <a href="https://jizdnirady.idnes.cz/ostrava/spojeni/">idos.cz</a> or download a mobile app called “Jízdní řády IDOS” (for <a href="https://play.google.com/store/apps/details?id=cz.mafra.jizdnirady">Android</a> or <a href="https://itunes.apple.com/cz/app/j%C3%ADzdn%C3%AD-%C5%99%C3%A1dy-idos/id473503749?mt=8">iOS</a>). Printed schedules are also located at each stop.</p>
                    <h4 class="mt-3">Payment options</h4>
                    <p><b>Contactless payment card (Visa or Mastercard)</b>: the easiest way! Inside the tram, bus or trolleybus, just tap your card on a yellow machine for a few seconds and wait for the green light. Your ticket is purchased. Anytime you do this, the yellow machines are tracking your card and will use the cheapest price possible for your ticket.</p>
                    <p>
                        <b>Cash</b>: buy tickets for 30 min, 24 hours or 3 days in yellow ticket machines (located at some tram stops) or in newsagent’s shops.
                        <br>The same ticket is valid for all means of public transport in Ostrava and you can change them within the time period for which your ticket is issued. Don’t forget to punch (stamp) the ticket right after you enter public transport vehicle if you don’t have one already stamped and valid on you.
                    </p>
                    <p><b>Text message (SMS)</b>: send the text “DPO70” to 90230. The ticket costs 30 CZK and is valid for 70 minutes. Unfortunately, this works only from Czech phone numbers.</p>
                </div>
                <div class="col">
                    <h3>Bicycle rental</h3>
                    <p>You can try shared bikes by <a href="https://nextbike.pl/en/">Nextbike</a> available right on streets! Download “Nextbike” <a href="https://play.google.com/store/apps/details?id=de.nextbike&hl=en">Android</a> or <a href="https://itunes.apple.com/us/app/nextbike/id504288371?mt=8">iOS application</a>.</p>
                    <p>Use a <a href="https://ostrava.dopracenakole.net/#hledani@trasa=64325101@plan=balanced">specialized map</a> to plan your bike trips because Google Maps don’t offer cycling navigation for Czech Republic.</p>

                    <h3>Car</h3>
                    <p>Planned parking zones in city center will limit parking for visitors there. We will update information here according to the current situation.</p>
                </div>
            </div>
            <p class="mt-2">Also check detailed <a href="{% url "venue" %}#getting-to-the-venue">instructions on how to get to the PyCon&nbsp;CZ venue</a>.</p>
        </section>


        <section id="arrival-to-ostrava">
            <h2 class="pb-0">Arrival to Ostrava</h2>
            <div class="row">
                <div class="col-md-4">
                    <h3>By train</h3>
                    <p>There are direct trains to Ostrava from Prague, Warsaw, Bratislava and other cities.</p>
                    <p>Three main carriers are: <a href="https://www.cd.cz/azak/setlang?lang=en&amp;sourceapp=https%3a%2f%2fwww.cd.cz%2feshop%2fdefault.aspx">ČD</a> (national), <a href="https://bustickets.regiojet.com/">RegioJet</a>, and <a href="http://www.le.cz/">LeoExpress</a>. If you struggle to find connection from a more distant place, try the <a href="http://reiseauskunft.bahn.de/bin/query2.exe/en?ld=15049&amp;seqnr=1&amp;ident=jp.02561349.1476542837&amp;rt=1&amp;newrequest=yes&amp;&amp;country=USA">DB search engine</a>.</p>
                    <p>The main train station is <i>Ostrava hlavní nádraží</i> or <i>Ostrava hl. n.</i></p>
                    {% comment %}<p>From there, take 10 stops by tram no. 1 or 2 to stop <i>Dolní Vítkovice Hlubina</i>.</p>{% endcomment %}
                </div>
                <div class="col-md-4">
                    <h3>By plane</h3>
                    <p>If you come by plane, you can choose several airports in the country, the nearest one is Ostrava airport.</p>
                    <p>After you arrive at <i>Leoš Janáček Airport Ostrava</i>, go to the train station <a href="https://www.cd.cz/stanice/34603/"><i>Mošnov, Ostrava Airport</i></a> located just next to it and take a train to the main train station: <i>Ostrava hlavní nádraží</i>.</p>
                </div>
                <div class="col-md-4">
                    <h3>By car</h3>
                    <p>Check out <a href="http://www.czechtourism.com/a/transport/">Czech driving regulations</a>.</p>
                    <p>Highway sticker costs 310 CZK (10 days) and can be bought at gas stations or post offices.</p>
                </div>
            </div>
            <p class="mt-2">You might also be interested <a href="{% url "venue" %}#getting-to-the-venue">how to get to the PyCon&nbsp;CZ venue</a>.</p>
        </section>


        <section id="accommodation">
            <h2>Accom&shy;mo&shy;da&shy;tion in Ostrava</h2>
            <p>You can find a lot of possibilities on <a href="https://booking.com/">Booking.com</a> and <a href="https://airbnb.com/">AirBnB</a>. We recommend places close to <a href="https://goo.gl/maps/RpWLqCjrYry">Forum Nová Karolina</a> mall because it’s best to stay in the city centre so that you will never get lost in the middle of the night. To name a few:</p>
            <ul>
                <li><i>Kampus Palace</i> is a student accommodation with a hotel part for tourists</li>
                <li><i>Ruby Blue</i> can be a little noisy during the night</li>
                <li><i>Hotel Maria</i> offers decent accommodation and affordable price</li>
                <li><i>Hotel Palace Electra</i> a little expensive but very good quality</li>
            </ul>
        </section>


        <section id="the-czech-republic">
            <h2>The Czech Republic</h2>
            <p class="lead">
                Never been to the <i>Czech Republic</i> or <i>Czechia</i>*? Here are a few useful facts.
            </p>

            <p>*Czechia is Czech Republic’s new official alternative name. Also country named <i>Czechoslovakia </i> doesn’t exist for 26 years now.</p>

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <h3>Money</h3>
                    <p>
                        We pay with <strong>CZK</strong> (abbr. Kč, “koruna”).
                        <br>ATMs are omnipresent but avoid <i>Euronet</i> because of their high fees.
                        <br>Money exchange booths sometimes offer better deals than banks and no fees, but be cautious which you choose.
                        <br>The exchange rate is approximately 1&nbsp;EUR&nbsp;=&nbsp;25&nbsp;CZK.
                    </p>
                    <p>Cards (mostly Visa and Mastercard) are accepted in chains and larger places, but not so often in smaller shops, coffee places, pubs.</p>
                    <p>It’s useful to carry around some cash.</p>
                </div>
                <div class="col-md">
                    <h3>Language</h3>
                    <p>We speak Czech and understand Slovak perfectly.</p>
                    <p><b>English</b> should be well understood, especially among younger people.</p>
                    <p><b>German</b> can work as a fallback, as well as any other Slavic language.</p>
                </div>
                <div class="col-md">
                    <h3>Weather</h3>
                    <p>While June is usually sunny and can bring very warm days to Ostrava, it’s good to be also ready for chilly, rainy days. It can be 30°C with clear blue sky as well as 15°C with heavy, London-like rain.</p>
                </div>
                <div class="col-md">
                    <h3>Electricity</h3>
                    <p>We use 230&nbsp;V electric plugs, <a href="http://www.power-plugs-sockets.com/czech-republic/">type E power sockets</a>.</p>
                </div>
            </div>
        </section>

    </div>
{% endblock %}