{% extends '_base19.html' %}

{% load static %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">

                <h1>h1. A little Pattern Library (still work in progress)</h1>
                <h2>h2. A heading</h2>
                <h3>h3. A heading</h3>
                <h4>h4. A heading</h4>
                <h5>h5. A heading</h5>
                <h6>h6. A heading</h6>

                <h1 class="display-1">Display 1</h1>
                <h1 class="display-2">Display 2</h1>
                <h1 class="display-3">Display 3</h1>
                <h1 class="display-4">Display 4</h1>

                <p class="lead">
                    Lead paragraph vivamus sagittis lacus vel <a href="#">link somewhere</a> augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>

                <p>
                    Paragraph with <strong>strong text</strong> and <em>emphasized text</em> and also a <b>bold</b> and <i>italic text</i>. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">link somewhere</a> Duis mollis, est non commodo luctus.
                </p>

                <ul>
                    <li>Lists are a possibility here</li>
                    <li>Culpa cumque dolorem ut voluptatem.</li>
                    <li>Facere in minima possimus repellendus!</li>
                    <li>Accusamus iusto nemo soluta unde.</li>
                    <li>Doloremque facere recusandae reiciendis voluptatem?</li>
                </ul>

                <ol>
                    <li>Ordered list look like this</li>
                    <li>Culpa cumque dolorem ut voluptatem.</li>
                    <li>Facere in minima possimus repellendus!</li>
                    <li>Accusamus iusto nemo soluta unde.</li>
                    <li>Doloremque facere recusandae reiciendis voluptatem?</li>
                </ol>

                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>

                <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>
                <p>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-link">Link</button>
                </p>

                <p>
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="button" class="btn btn-outline-dark">Dark</button>
                </p>

                <p>
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                </p>

                <p>
                    <button type="button" class="btn btn-primary btn-sm">Small button</button>
                    <button type="button" class="btn btn-secondary btn-sm">Small button</button>
                </p>

                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}