{% extends "_layout.html" %}


{% load formatting %}

{% block meta_title %}Privacy Policy – {{ block.super }}{% endblock %}


{% block main %}
    {% comment %}



    IMPORTANT NOTICE!



    If you're changing anything in this block, don't forget to update it in ti.to:
    https://ti.to/pyvec/pycon-cz-2018/admin/settings/termsets/1002460/edit



    {% endcomment %}

    <div class="container pc-odd-section">

        <h1><span>Privacy Policy</span></h1>

{% filter markdown %}
## Handling of personal information

_Note: This is a layman’s translation provided for your convenience. Please see the [Czech version](#cs) below for the full terms, and contact us if you have any questions._

1. You authorize Pyvec, o.s., based in Drtinova 10/557 15000 Praha 5, IČO: 22746668, registered in the public registry at the Municipal Court in Prague, section B,  document 24180 (“Data Controller”) to handle the following personal information according to Czech law č.101/2000 Sb.:
    - Full name
    - E-mail address
    - Photographs, video and audio recordings
    - Optional contact information: user names for the Twitter and GitHub/GitLab services
    - Any other information you voluntarily provide when buying tickets and through “Call for Papers” and “Financial Aid” forms
1. The provided personal information is necessary for printing conference badges for the PyCon CZ conference (“Conference”), which Conference attendees and organizers will wear.
    All data provided using “Financial Aid” form will be used by organizing team to evaluate eligibility for getting financial aid.
    Your full name, photographs or audio/video recordings can also be made public on the Conference website and on YouTube.com. We can use the e-mail address to send you invitations to a subsequent PyCon CZ conference. Your personal information will be handled for these specific purposes and will be stored for the following time:
    - E-mail: 2 years
    - Full name: indefinitely
    - Photographs, video and audio recordings: indefinitely
    - Optional contact information: until September 1st, 2019
    - Other other information: until September 1st, 2019
1. You explicitly agree to handling of personal information as described above. You can revoke this agreement at any time by sending an e-mail or letter to the Data Controller.
The Data Controller handles the personal information. The information will also be handled by:
    - Mailchimp (The Rocket Science Group, LLC 675 Ponce de Leon Ave NE Suite 5000 Atlanta, GA 30308 USA)
    - Team Tito Limited, registered in Ireland, company number: 566334
    - YouTube, LLC 901 Cherry Ave. San Bruno, CA 94066 USA
1. Note that according to Czech law, you have the right to:
    - Revoke your agreement at any time
    - Demand information on which personal information about you we handle, and explanation about such handling
    - Demand access to this information and request that we correct or update it
    - Demand that we delete your personal information
    - In case of doubts about our handling of the data, contact us or the Czech Office for personal data protection (https://www.uoou.cz/en/)
{% endfilter %}


    <div id="cs">
{% filter markdown %}
## Zpracování osobních údajů

1. Udělujete tímto souhlas organizaci Pyvec o.s., se sídlem Drtinova 10/557 15000 Praha 5, IČO: 22746668, zapsané ve veřejném rejstříku vedeném u Městského soudu v Praze, oddíl B, vložka 24180 (dále jen „Správce“), aby ve smyslu zákona č.101/2000 Sb., o ochraně osobních údajů (dále jen „zákon o ochraně osobních údajů“) zpracovávala tyto osobní údaje:
    - jméno a příjmení
    - e-mail
    - fotografie, obrazové nebo zvukové záznamy
    - nepovinné kontaktní údaje: uživatelské jméno na službách Twitter a GitHub nebo GitLab
    - jakékoli další údaje, které nám dobrovolně poskytnete pomocí při nákupu vstupenky nebo prostřednictvím formulářů „Call for Papers“ a „Financial Aid“
1. Poskytnuté osobní údaje je nutné zpracovat za účelem tisku visaček, které budou mít účastníci a pořadatelé konference PyCon CZ (Dále jen „Konference“). Veškerá data poskytnutá prostřednictvím formuláře „Financial Aid“ organizátory k vyhodnocení nároku na finanční pomoc. Dále mohou být jméno, příjmení, fotografie a obrazové nebo zvukové záznamy zveřejněny na webové stránce Konference a na YouTube.com. E-mail můžeme použít k poslání pozvánky na příští ročníky Konference. Tyto údaje budou Správcem použity pro tyto konkrétní účely a budou dále zpracovávány po dobu:
    - e-mail: 2 roky
    - jméno, příjmení: neomezeně
    - fotografie, obrazové nebo zvukové záznamy: neomezeně
    - nepovinné kontaktní údaje: do 1. září 2019
    - další poskytnuté údaje: do 1. září 2019
1. S výše uvedeným zpracováním udělujete svůj výslovný souhlas. Souhlas lze vzít kdykoliv zpět, a to například zasláním e-mailu nebo dopisu na kontaktní údaje Správce
1. Zpracování osobních údajů je prováděno Správcem. Osobní údaje budou dále zpracovávat:
    - Mailchimp (The Rocket Science Group, LLC 675 Ponce de Leon Ave NE Suite 5000 Atlanta, GA 30308 USA)
    - Team Tito Limited, registered in Ireland, company number: 566334
    - YouTube, LLC 901 Cherry Ave. San Bruno, CA 94066 USA
1. Vezměte, prosíme, na vědomí, že podle zákona o ochraně osobních údajů máte právo:
    - vzít souhlas kdykoliv zpět,
    - požadovat po nás informaci, jaké vaše osobní údaje zpracováváme, požadovat po nás vysvětlení ohledně zpracování osobních údajů,
    - vyžádat si u nás přístup k těmto údajům a tyto nechat aktualizovat nebo opravit,
    - požadovat po nás výmaz těchto osobních údajů,
    - v případě pochybností o dodržování povinností souvisejících se zpracováním osobních údajů obrátit se na nás nebo na Úřad pro ochranu osobních údajů.
{% endfilter %}
        </div>

    </div>
{% endblock %}
