{% extends "_layout.html" %}


{% block meta_title %}Tickets – {{ block.super }}{% endblock %}


{% block meta_head %}
    {{ block.super }}
    {% block tito_code %}
        {# ti.to code #}
        {% comment %}<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1'>{% endcomment %}
        <script src='https://js.tito.io/v1' async></script>
        {% if debug %}
            <script>TitoDevelopmentMode = true</script>
        {% endif %}
    {% endblock %}
{% endblock %}


{% block main %}
    {% now "nd" as today %}
    {% with last_day_regular=520 today=today|add:0 %}
        <div class="container">

            <h1>Tickets</h1>

            {% if total_sold_out %}
                <p class="lead">We’re sorry but all available tickets have been sold out.</p>
                {% block workshop_registration_tip %}{% endblock %}
            {% elif today < last_day_regular %}
                <p class="lead">Get your tickets before May&nbsp;20 to get regular price!</p>
            {% elif today == last_day_regular %}
                <p class="lead" style="font-size: 2rem;">Today is the last chance to buy tickets for the regular price!</p>
            {% else %}
                <p class="lead">Good news!<br>You can still get your ticket at a late bird price.</p>
            {% endif %}

            {% block workshop_registration %}{% endblock %}
        </div>

        {% if not total_sold_out %}

            <div class="container">
                <h2>Each ticket includes</h2>
                <ul class="list-inline">
                    <li class="list-inline-item">entry for both conference days at MeetFactory (1–2&nbsp;June)</li>
                    <li class="list-inline-item">entry to the Afterparty on 2&nbsp;June</li>
                    <li class="list-inline-item">lunch on all days</li>
                    <li class="list-inline-item">water, coffee and tea</li>
                    <li class="list-inline-item">option to register for workshops and attend sprints
                        <small>(registration for workshops will be available later, mostly for free)</small>
                    </li>
                </ul>
            </div>


            <div class="container-fluid">

                <h2 class="sr-only">Ticket types</h2>

                <div class="card-decks">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Educational</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Are you a student, a teacher or have you attended PyLadies courses?</p>
                            <div class="card-text >Students need to bring a student ID to the registration.</div>
                        </div>
                        {% include 'pages/_ticket-pricing.html' with early_soldout=1 early_price=500 regular_price=800 late_price=1500 %}
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Individual</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Are you paying PyCon&nbsp;CZ from your own pocket?</p>
                            <p class="card-text">Then these tickets are exactly for you. Please respect that and buy a Company ticket if this is not true.</p>
                        </div>
                        {% include 'pages/_ticket-pricing.html' with early_soldout=1 early_price=1400 regular_price=1900 late_price=2900 %}
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Company</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Is your company paying for the ticket?</p>
                            <p class="card-text">Choose this ticket if your company is paying or if you are getting reimbursed. This is the right choice to support PyCon CZ, so please respect the rule.</p>
                        </div>
                        {% include 'pages/_ticket-pricing.html' with early_soldout=1 early_price=2300 regular_price=2900 late_price=3800 %}
                    </div>

                    <div class="card border">
                        <div class="card-header">
                            <h3 class="card-title">VIP</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Do you want to have the best PyCon&nbsp;CZ experience?</p>
                            <div class="card-text">VIP ticket will get you a seat at the speakers’ dinner on May&nbsp;31. You will meet PyCon&nbsp;CZ speakers over great food and beer which is included in the price.</div>
                        </div>
                        {% include 'pages/_ticket-pricing.html' with early_soldout=1 early_price=3000 regular_price=4000 late_price=5000 %}
                    </div>

                </div>

                <p class=" small">We’re not VAT payers, all prices are final.</p>

                <p>
                    By buying a ticket you accept PyCon&nbsp;CZ’s
                    <a href="{% url 'about_code' %}">Code&nbsp;of&nbsp;Conduct</a>
                    and <a href="{% url 'about_privacy' %}">Privacy&nbsp;Policy</a>.
                </p>

                <div class="row justify-content-center">
                    <a href="https://ti.to/pyvec/pycon-cz-2019">
                        <tito-button event="pyvec/pycon-cz-2019">
                            Buy your<br class="d-sm-none"> ticket<br class="d-sm-none"> now!
                        </tito-button>
                    </a>
                </div>

                {% block finaid_info %}
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                            {% block finaid_info_text %}
                                If money is the <b>only factor</b> stopping you from attending PyCon&nbsp;CZ you&nbsp;can <a href="{% url 'proposal_about' key='financial-aid' %}">apply for Financial Aid</a> to cover your&nbsp;expenses.
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
