{% extends "_layout.html" %}

{% block meta_title %}Tickets – {{ block.super }}{% endblock %}


{% block meta_head %}
    {{ block.super }}
    {% block tito_code %}
        {# ti.to code #}
        {% comment %}<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1'>{% endcomment %}
        <script src='https://js.tito.io/v1' async></script>
        {% if debug %}
            <script>TitoDevelopmentMode = true</script>
        {% endif %}
    {% endblock %}
    <style>
      .loader {
        border: 3px solid #c60;
        border-top: 3px solid #fc9;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        animation: spin 2s linear infinite;
        float: left;
        margin-right: .5em;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
{% endblock %}


{% block main %}
    <div id="tickets-content">
        {% include 'pages/_tickets-content.html' %}
    </div>
{% endblock %}


{% block after_scripts_loaded %}
    <script>
      $("#tickets-content").load("ajax-content", function() {
        if (window.console && console.info) {
          console.info("tickets-content loaded");
        }
        TitoWidget.buildWidgets();
      });
    </script>
{% endblock %}
