{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block meta_title %}PyCon CZ 2018{% endblock %}</title>
  {% block meta_head %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PyCon CZ 2018">
    <meta name="twitter:site" content="@pyconcz">
    <meta property="og:url" content="https://{{ request.get_host }}{{ request.path }}">
    {% block meta_social_customizable %}
      <meta property="og:title" content="PyCon CZ 2018">
      <meta property="og:description" content="PyCon CZ 2018 aims to be the largest annual gathering for the Python community in the Czech Republic.">
      <meta property="og:image" content="https://{{ request.get_host }}{% static "img/social-media-image.png" %}">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image:alt" content="PyCon CZ">
    {% endblock %}
  {% endblock %}

  <link type="text/css" href="{% static "css/pyconcz.css" %}" rel="stylesheet" />

  {# favicons #}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" href="{% static "img/favicon/favicon-32x32.png" %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static "img/favicon/favicon-16x16.png" %}" sizes="16x16">
  <link rel="manifest" href="{% static "img/favicon/manifest.json" %}">
  <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#82e1e0">
  <link rel="shortcut icon" href="{% static "img/favicon/favicon.ico" %}">
  <meta name="msapplication-config" content="{% static "img/favicon/browserconfig.xml" %}">
  <meta name="theme-color" content="#ffffff">
  {# endfavicons #}

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,400i,700" rel="stylesheet">
</head>
<body>

{% block body %}
  <header>
    <div class="container">
      <nav class="nav">
        {% include '_menu_top.html' %}
      </nav>
    </div>
    <div class="container">
      <a href="{% url "homepage" %}" class="pyconlogo"><img src="{% static "img/pyconlogo.svg" %}" alt="PyCon CZ"></a>
      <h2 class="header-title">PyCon CZ 2018 Prague <br> 1-3 June</h2>
    </div>
  </header>

  {% block content %}{% endblock %}

{% endblock %}

<footer>
  <div class="container text-block">
    <nav>
      <ul class="nav-footer">
        {% include '_menu_footer.html' %}

        {% comment %}<li class="nav-section"><a href="{% url "about" %}" class="nav-title">About</a></li>{% endcomment %}
        {% comment %}<li><a href="{% url "team_list" %}">Team</a></li>{% endcomment %}
        {% comment %}<li><a href="{% url "proposals" %}financial-aid">Financial Aid</a></li>{% endcomment %}
        {% comment %}<li><a href="{% url "homepage" %}#tickets">Tickets</a></li>{% endcomment %}
        {% comment %}<li><a href="{% url "sponsors_offer" %}">Sponsorship</a></li>{% endcomment %}
        {% comment %}<li><a href="{% url "about_code" %}">Code of Conduct</a></li>{% endcomment %}

        {% comment %}
        <li class="nav-section">
          <a href="/2017/proposals/talks">Call for Papers</a>

          <ul>
            <li><a href="/2017/proposals/talks/form">Talks</a></li>
            <li><a href="/2017/proposals/workshops/form">Workshops</a></li>
          </ul>
        </li>
    		{% endcomment %}

        {% comment %}
        <li class="nav-section">
          <a href="{% url "about_city" %}">Prague, the city we love too</a>

          <ul>
            <li><a href="{% url "about_city" %}#prague">Guide to Prague</a></li>
            <li><a href="{% url "about_city" %}#how-to-get-to-prague">Travelling</a></li>
            <li><a href="{% url "about_city" %}#accommodation-tips">Accommodation</a>
            </li>
          </ul>
        </li>

        {# Programe #}
        <li class="nav-section">
          <a href="{% url "programme_schedule" %}">Schedule</a>

          <ul>
            <li><a href="{% url "speakers_list" type='talks' %}">Speakers</a></li>
            <li><a href="{% url "speakers_list" type='workshops' %}">Workshops</a></li>
          </ul>
        </li>

        <li class="nav-section"><a href="/2017/workshops/" class="nav-title">Sprints
          &amp; Workshops</a>
          <ul>
            <li><a href="/2017/workshops/">Schedule</a></li>
            <li><a href="/2017/workshops/#directions">Directions</a></li>
          </ul>
        </li>
        {% endcomment %}
      </ul>
    </nav>

    <div class="social-links">Spread the word about <strong>PyCon CZ!</strong>
      <ul>
        <li><a href="https://twitter.com/pyconcz"><i class="fa fa-fw fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/events/165281843969470/"><i class="fa fa-fw fa-facebook"></i></a></li>
        <li><a href="https://github.com/pyvec/cz.pycon.org-2017"><i class="fa fa-fw fa-github"></i></a></li>
        <li><a href="https://pyvec.slack.com"><i class="fa fa-fw fa-slack"></i></a></li>
      </ul>
    </div>

    <p>Do you have any questions? <a href="mailto:info@pycon.cz">Contact us!</a></p>

    <div class="psf-trademark">
      <p>
        <a href="https://www.python.org/psf/trademarks/pycon/">PyCon™</a>
        is a trademark for worldwide conference activities claimed by
        <a href="https://www.python.org/psf-landing/">Python Software
          Foundation</a>.
      </p>
      <p>
        Powered by <a href="https://rosti.cz/">Roští.cz</a>
      </p>
    </div>
  </div>
</footer>

{% if not debug %}
  <script>
    (function(i, s, o, g, r, a, m){
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function(){
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-81705668-1', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
{% block js_extra %}{% endblock %}

<script async defer src="https://use.fontawesome.com/c0f5df5d14.js"></script>
</body>
</html>
