{% comment %}
This is a base menu template containing all items,
other menus mostly remove these links when not needed.

If you want to remove menu item globally, comment it out here.

{% endcomment %}
<ul class="nav w-100 justify-content-{{ pc_alignment }}">
  {% block items %}
    {% block link_home %}
      <li class="nav-item">
        <a href="/2018/" class="nav-link">Home</a>
      </li>
    {% endblock %}

    {% block link_about %}
      <li class="nav-item">
        <a href="{% url 'about' %}" class="nav-link">About</a>
      </li>
    {% endblock %}

    {% block link_about_city %}
      <li class="nav-item">
        <a href="{% url "about_city" %}" class="nav-link">Prague</a>
      </li>
    {% endblock %}

    {% block link_team %}
      <li class="nav-item">
        <a href="{% url 'team_list' %}" class="nav-link">Team</a>
      </li>
    {% endblock %}

    {% block link_tickets %}
      {% comment %}<li class="nav-item">
        <a href="/2017/#tickets" class="nav-link">Tickets</a>
      </li>{% endcomment %}
    {% endblock %}

	{% comment %}
    {% block link_talks %}
      <li class="nav-item">
        <a href="{% url 'speakers_list' type='talks' %}" class="nav-link">
          {% block link_talks_title %}Talks{% endblock %}
        </a>
      </li>
    {% endblock %}
    {% endcomment %}

	{% comment %}
    {% block link_workshops %}
      <li class="nav-item">
        <a href="{% url 'speakers_list' type='workshops' %}" class="nav-link">Workshops</a>
      </li>
    {% endblock %}
    {% endcomment %}

	{% comment %}	
    {% block link_schedule %}
      <li class="nav-item">
        <a href="{% url 'programme_schedule' %}" class="nav-link">Schedule</a>
      </li>
    {% endblock %}
    {% endcomment %}
	
    {% block link_sponsors %}
      <li class="nav-item">
        {% comment %}<a href="{% url 'sponsors_list' %}" class="nav-link">Sponsors</a>{% endcomment %}
        <a href="{% url 'sponsors_offer' %}" class="nav-link">Sponsorship</a>
      </li>
    {% endblock %}

    {% block link_financial_aid %}
      {% comment %}
      <li class="nav-item">
        <a href="{% url 'proposal_form' key='financial-aid' %}" class="nav-link">Financial Aid</a>
      </li>
      {% endcomment %}
    {% endblock %}

    {% block link_coc %}
      <li class="nav-item">
        <a href="{% url 'about_code' %}" class="nav-link">Code of Conduct</a>
      </li>
    {% endblock %}

    {% block link_call_for_papers %}
        <li class="nav-item">
          <a href="{% url 'proposals' %}" class="nav-link">Call for Papers</a>
        </li>
    {% endblock %}
  {% endblock %}
</ul>
