{% comment %}
This is a base menu template containing all items,
other menus mostly remove these links when not needed.

If you want to remove menu item globally, comment it out here.

{% endcomment %}
<ul class="nav w-100 justify-content-{{ pc_alignment }}">
    {% block items %}
        {% block link_home %}
            {% include "__nav-link.html" with link="/2018/" link_text="Home" %}
        {% endblock %}

        {% block link_about %}
            {% comment %}{% include "__nav-link.html" with url="about" link_text="About" %}{% endcomment %}
        {% endblock %}

        {% block link_about_city %}
            {% include "__nav-link.html" with url="about_city" link_text="Prague" %}
        {% endblock %}

        {% block link_team %}
            {% include "__nav-link.html" with url="team_list" link_text="Team" %}
        {% endblock %}

        {% block link_tickets %}
            {% comment %}{% include "__nav-link.html" with link="/2018/#tickets" link_text="Tickets" %}{% endcomment %}
        {% endblock %}

        {% block link_talks %}
            {% comment %}{% include "__nav-link.html" with url="speakers_list" type="talks" link_text="Talks" %}{% endcomment %}
        {% endblock %}

        {% block link_workshops %}
            {% comment %}{% include "__nav-link.html" with url="speakers_list" type="workshops" link_text="Workshops" %}{% endcomment %}
        {% endblock %}

        {% block link_schedule %}
            {% comment %}{% include "__nav-link.html" with url="programme_schedule" link_text="Schedule" %}{% endcomment %}
        {% endblock %}

        {% block link_sponsors %}
            {% comment %}{% include "__nav-link.html" with url="sponsors_list" link_text="Sponsors" %}{% endcomment %}
            {% include "__nav-link.html" with url="sponsors_offer" link_text="Sponsorship" %}
        {% endblock %}

        {% block link_financial_aid %}
            {% comment %}{% include "__nav-link.html" with url="proposal_form" key='financial-aid' link_text="Financial Aid" %}{% endcomment %}
        {% endblock %}

        {% block link_coc %}
            {% include "__nav-link.html" with url="about_code" link_text="Code of Conduct" %}
        {% endblock %}

        {% block link_call_for_papers %}
            {% include "__nav-link.html" with url="proposals" link_text="Call for Papers" %}
        {% endblock %}
    {% endblock %}
</ul>
